<ul>
    <li id="settings"><%= link_to 'Job Settings', admin_job_edit_path(:current_tab => "settings") %></li>
    <li id="tasks"><%= link_to 'Tasks', admin_tasks_listing_path(:current_tab => "tasks") %></li>
    <li id="artifacts"><%= link_to 'Artifacts', admin_job_edit_path(:current_tab => 'artifacts') %></li>
    <li id="environment_variables"><%= link_to 'Environment Variables', admin_job_edit_path(:current_tab => "environment_variables") %></li>
    <li id="tabs"><%= link_to 'Custom Tabs', admin_job_edit_path(:current_tab => "tabs") %></li>
</ul>
