<h3>Artifacts</h3>
<span class="contextual_help has_go_tip_right" title="Publish build artifacts to the artifact repository">&nbsp;</span>
<%= form_for @job,
                :as => :job,
                :url => admin_job_update_path(:current_tab => "artifacts"),
                :html => {:method => :put,
                          :id => "job_edit_form",
                          :name => "job_edit_form",
                          :onsubmit => "return AjaxForm.jquery_ajax_submit(this, AjaxForm.ConfigFormEditHandler);",
                          :class => "popup_form"} do |f| %>
    <%= md5_field %>
    <%= register_defaultable_list("job>artifactTypeConfigs") %>

    <div class="fieldset">
      <%= render :partial => "artifact_configs.html", :locals => {:scope => {:form => f, :built_in_collection => @job.artifactTypeConfigs().getBuiltInArtifactConfigs(), :external_artifact_collection => @job.artifactTypeConfigs().getPluggableArtifactConfigs(), :artifact_meta_data_store => @artifact_meta_data_store, :store_id_to_plugin_id => @store_id_to_plugin_id, :artifact_plugin_to_view => @artifact_plugin_to_view, :artifact_store_ids => @artifact_store_ids, :plugin_name_to_id => @plugin_name_to_id}} %>
    </div>

    <%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>
    <%= render :partial => "admin/shared/form_submit", :locals => {:scope => {:reset_url => admin_job_edit_path(:pipeline_name => @pipeline.name(), :stage_name => params[:stage_name], :job_name => params[:job_name], :current_tab => "artifacts")}} %>
<% end %>
<script type="text/javascript">
   AjaxForm.error_box_selector = '#form_parent';
</script>
