<h3>Parameters</h3>
<span title="Parameters help reduce repetition within your configurations and combined with templates allow you to setup complex configurations. <a class='' href='<%= docs_url 'configuration/admin_use_parameters_in_configuration.html' %>' target='_blank'>More...</a> " class="contextual_help has_go_tip_right">&nbsp;</span>

<%= form_for @pipeline, :as => :pipeline, :url => pipeline_update_path(:pipeline_name => @pipeline.name(), :current_tab => 'parameters'), :html => {:method => :put, :id => "pipeline_edit_form"} do |f| %>
    <div class="fieldset">
        <%= md5_field %>
        <%= hidden_field_tag :pipeline_digest, @pipeline_digest %>
        <%= hidden_field_tag :pipeline_group_name, @pipeline_group_name %>
        <%= register_defaultable_list("pipeline>params") %>
        <%= render :partial => "admin/shared/name_value", :locals => {:scope => {:form => f, :collection => @pipeline.getParams(), :collection_name => :params, :read_only_page => @is_config_repo_pipeline}} %>
         <div class="clear"></div>
    </div>
    <%= render :partial => "admin/shared/form_submit", :locals => {:scope => {:reset_url => pipeline_edit_path(:pipeline_name => params[:pipeline_name], :current_tab => 'parameters')}} unless @is_config_repo_pipeline %>
<% end %>
