<%
   time = l.string("UNKNOWN")
   config_modified_by = l.string("UNKNOWN")
   if @go_config_revision
       config_modified_time = @go_config_revision.getTime().to_s
       time = "#{time_ago_in_words(Time.parse(config_modified_time))} #{l.string('AGO')}"
       config_modified_by = @go_config_revision.getUsername()
   end
-%>
<div class="sub_tab_container_content">
    <div id="tab-content-of-source-xml">
        <%= render :partial => 'admin/configuration/heading.html', :locals => {:scope => {:go_config => @go_config}} -%>
        <div class="admin_holder" id="admin-holder-for-admin-config-source-xml">
            <div class='form_heading'>
                <div class="buttons-group">
                    <div class="config_change_timestamp" title='<%= "#{l.string("LAST_MODIFIED")}: #{(time)} #{l.string("BY")} #{(config_modified_by)}" -%>'><%= "#{l.string("LAST_MODIFIED")}: #{(time)} #{l.string("BY")} #{(config_modified_by)}" -%></div>
                    <%= link_to(l.string("EDIT"), config_edit_path(), :class => "link_as_button primary", :id => "edit_config") %>
                </div>
            </div>
            <div id="content_area">
                <pre id="content_container" class="wrap_pre"><%= html_escape @go_config.content %></pre>
            </div>
        </div>
    </div>
</div>
