<div class="sub_tab_container_content">
    <div id="tab-content-of-source-xml">
                <%= render :partial => 'admin/configuration/heading.html', :locals => {:scope => {:go_config => @go_config}} -%>
                <%= render :partial => "admin/shared/global_errors.html" -%>
                <div id="admin-holder-for-admin-config-source-xml">
                    <div class='conflicted_content'>
                        <h3><%= l.string("YOUR_CHANGES") %></h3>
                        <pre class="wrap_pre"><%= html_escape @conflicted_config.content -%></pre>
                    </div>
                    <div class='current_content'>
                        <%= render :partial => 'admin/configuration/form.html', :locals => {:scope => {:go_config => @go_config, :go_config_revision => @go_config_revision}} -%>
                    </div>
                </div>

            </div>
</div>