<div class="fieldset">
    <div class="form_item checkbox_row">
        <label><%= l.string("CONFIGURATION_TYPE") %></label>
        <% if scope[:pipeline].getConfigurationType == com.thoughtworks.go.config.PipelineConfig::CONFIGURATION_TYPE_STAGES %>
            <%= scope[:form].radio_button com.thoughtworks.go.config.PipelineConfig::CONFIGURATION_TYPE, com.thoughtworks.go.config.PipelineConfig::CONFIGURATION_TYPE_STAGES, :id => "pipeline_configurationType_stages", :title => l.string("DEFINE_STAGES") %>
            <%= label_tag("pipeline_configurationType_stages", l.string("DEFINE_STAGES"))-%>
        <% else %>
            <%= scope[:form].radio_button com.thoughtworks.go.config.PipelineConfig::CONFIGURATION_TYPE, com.thoughtworks.go.config.PipelineConfig::CONFIGURATION_TYPE_STAGES, :id => "pipeline_configurationType_stages", :title => l.string("TOOLTIP_DEFINE_STAGES_DISABLED"), :disabled => "disabled" %>
            <%= scope[:form].label com.thoughtworks.go.config.PipelineConfig::CONFIGURATION_TYPE_STAGES, l.string("DEFINE_STAGES"), :title => l.string("TOOLTIP_DEFINE_STAGES_DISABLED"), :class => "disabled" %>
        <% end %>
        <%= scope[:form].radio_button com.thoughtworks.go.config.PipelineConfig::CONFIGURATION_TYPE, com.thoughtworks.go.config.PipelineConfig::CONFIGURATION_TYPE_TEMPLATE, :id => "pipeline_configurationType_template", :title => l.string("USE_TEMPLATE") %>
        <%= label_tag("pipeline_configurationType_template", l.string("USE_TEMPLATE"))-%>
    </div>
</div>