<div class="form_content">
    <div class="job_tabs_section popup_form">
        <textarea id="<%= scope[:collection_name] -%>_template" class="template">
            <%= scope[:form].fields_for scope[:collection_name], :index => "" do |tab_form| %>
                <td class="name_value_cell name">
                    <%= tab_form.text_field :name, :class => "form_input environment_variable_name", :id => nil -%>
                </td>

                <td class="name_value_cell path">
                    <div>
                        <%= tab_form.text_field :path, :class => "form_input environment_variable_value", :id => nil -%>
                    </div>
                </td>
                <td class="name_value_cell">
                    <span class="icon_remove delete_parent"></span>
                </td>
                
            <% end %>
        </textarea>
        <table class="<%= scope[:collection_name] -%>">
            <thead>
            <tr>
                <th><h4><%= l.string("TAB_NAME") -%></h4>
                    <span class="contextual_help has_go_tip_right" title="<%=l.string("TOOLTIP_TAB_NAME")-%>"></span>
                </th>
                <th class="path"><h4><%= l.string("PATH") -%></h4>
                    <span class="contextual_help has_go_tip_right" title="<%=l.string("TOOLTIP_TAB_PATH")-%>"></span>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody class="<%= scope[:collection_name] -%>">
            <% scope[:collection].each do |tab| -%>
                <%= scope[:form].fields_for scope[:collection_name], tab, :index => "" do |tab_form| %>
                    <tr>
                        <td class="name_value_cell name">
                            <%= tab_form.text_field :name, :class => "form_input environment_variable_name", :id => nil -%>
                            <%= error_message_on(tab, com.thoughtworks.go.config.Tab::NAME, :css_class => "name_value_error") %>
                            <%= hidden_field_tag "#{scope[:form].object_name}[#{scope[:collection_name]}][][original_name]", tab.getName() %>
                        </td>
                        <td class="name_value_cell path">
                            <div>
                                <%= tab_form.text_field :path, :class => "form_input environment_variable_value", :id => nil -%>
                                <%= error_message_on(tab, com.thoughtworks.go.config.Tab::PATH, :css_class => "name_value_error") %>
                            </div>
                        </td>
                        <td class="name_value_cell">
                            <span class="icon_remove delete_parent"></span>
                        </td>
                    </tr>
                <% end %>
            <%- end -%>
            </tbody>
        </table>
		<%= action_icon({:type => "add", :text => l.string("ADD"), :href => "#", :id => id="add_#{scope[:collection_name]}", :class => "skip_dirty_stop"}) %>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    Util.on_load(function() {
        function setupVarForm(finish_button) {
            var rowCreator = new EnvironmentVariables.RowCreator(jQuery('#<%=scope[:collection_name]-%>_template'), 'tr', '.delete_parent');
            var variables = new EnvironmentVariables(
                    jQuery('tbody.<%=scope[:collection_name]-%>'),
                    rowCreator,
                    null,
                    function(inputs) {
                        inputs.dirty_form();
                    },
                    function(row) {
                        row.parents("form.dirtyform").data("dirty", true);
                    });

            variables.registerAddButton(jQuery("#add_<%=scope[:collection_name]-%>"))
            variables.addDefaultRow();
            variables.registerFinishButton(finish_button);
        }

        var finish_button = jQuery(".finish");
        setupVarForm(finish_button);
    });
</script>