<%- @view_title = "Administration" -%>
<div class="backup_server">
    <div class="hidden">
        <div class="should_perform_backup_content">
            <div class="message"></div>
            <div class="warning_message">
                <div><%=l.string("BACKUP_WARNING")-%></div>
            </div>
            <%= form_tag(perform_backup_path, :id => 'backup_server_form', :method => 'POST', :onsubmit => "return performBackup(this);")-%>
                <div class="form_buttons actions">
                    <div class="hidden backup_spinny"></div>
                    <%= submit_button(l.string("PROCEED"), :class => "primary") -%>
                    <button class="left submit close_modalbox_control"><span><%= l.string('CANCEL') -%></span></button>
                </div>
            <%= end_form_tag-%>
        </div>
    </div>
    <div class="backup_storage_message information">
        <span class="info"><%=l.string("BACKUPS_STORED_IN")-%> <strong class="location"><%=@backup_location-%></strong></span>
    </div>
    <div class='backup_action'>
        <%=default_button( l.string("BACKUP_SERVER"),:id => "backup_server", :class => "primary")-%>
    </div>
    <div class='available_disk_space'>
        <strong><%= l.string("ARTIFACT_DIRECTORY_DISK_SPACE") -%></strong>&nbsp;<%= @available_disk_space_on_artifacts_directory -%>
    </div>
    <div class="last_backup">
        <%if @last_backup_time-%>
            <span><%=l.string("BACKUP_LAST_TAKEN_ON", [@last_backup_user, @last_backup_time.iso8601()].to_java(java.lang.String))-%></span>
        <%else-%>
            <span><%=l.string("BACKUP_NEVER_PERFORMED")-%></span>
        <%end-%>
    </div>
    <div class='help'>
        <div><strong><%= l.string("BACKUP_HELP_HEADING") -%></strong></div>
        <ul>
            <li><%= l.string("BACKUP_HELP_CONFIG") -%></li>
            <li><%= l.string("BACKUP_HELP_DB") -%></li>
            <li><%= l.string("BACKUP_HELP_CONFIG_REPOSITORY") -%></li>
            <li><%= l.string("BACKUP_HELP_VERSION") -%></li>
        </ul>
    </div>
    <script type="text/javascript">
        AjaxForm.error_box_selector = '.should_perform_backup_content .message';
        Util.on_load(function() {
            jQuery("#backup_server").click(function() {
                Modalbox.show(jQuery('.should_perform_backup_content')[0], {overlayClose: false, title: '<%= l.string("BACKUP_SERVER_CONFIRM_POPUP") %>'});
            });
        });

        function performBackup(self) {
            Util.disable(jQuery(".close_modalbox_control")[0]);
            Util.disable(jQuery(".primary")[0]);
            jQuery(".backup_spinny")[0].removeClassName("hidden");
            Modalbox.deactivate();
            return true;
        }
    </script>
</div>
