<%- @view_title = "Administration" -%>
<div class="backup_server">
    <div class="hidden">
        <div class="should_perform_backup_content">
            <div class="message"></div>
            <div class="warning_message">
                <div>Jobs that are building may get rescheduled if the backup process takes a long time. Proceed with backup?</div>
            </div>
            <%= form_tag(perform_backup_path, :id => 'backup_server_form', :method => 'POST', :onsubmit => "return performBackup(this);")-%>
                <div class="form_buttons actions">
                    <div class="hidden backup_spinny"></div>
                    <%= submit_button('Proceed', :class => "primary") -%>
                    <button class="left submit close_modalbox_control"><span>Cancel</span></button>
                </div>
            <%= end_form_tag-%>
        </div>
    </div>
    <div class="backup_storage_message information">
        <span class="info">Backups are stored in <strong class="location"><%=@backup_location-%></strong></span><br/>

        To configure backups, please see <%= link_to 'backup configuration documentation',  docs_url("/advanced_usage/cron_backup.html") %>
    </div>
    <div class='backup_action'>
        <%=default_button( 'Perform Backup',:id => "backup_server", :class => "primary")-%>
    </div>
    <div class='available_disk_space'>
        <strong>Available disk space in backup directory:</strong>&nbsp;<%= @available_disk_space_on_artifacts_directory -%>
    </div>
    <div class="last_backup">
        <%if @last_backup_time-%>
            <span>Last backup was taken by '<%= @last_backup_user %>' on <%= @last_backup_time.iso8601() %></span>
        <%else-%>
            <span>Go has not performed a backup yet.</span>
        <%end-%>
    </div>
    <div class='help'>
        <div><strong>On performing a backup, Go will create a backup of:</strong></div>
        <ul>
            <li>Configuration - An archive named config-dir.zip containing XML configuration, Jetty server configuration, keystores and other Go internal configurations.</li>
            <li>Database - The database is archived to a file which could be used to restore Go's database.</li>
            <li>XML Configuration Version Repository - An archive named config-repo.zip containing a Git repository of the XML configuration file.</li>
            <li>Go Version - A flat file named version.txt containing the version of Go that the backup was taken against.</li>
        </ul>
    </div>
    <script type="text/javascript">
        AjaxForm.error_box_selector = '.should_perform_backup_content .message';
        Util.on_load(function() {
            jQuery("#backup_server").click(function() {
                Modalbox.show(jQuery('.should_perform_backup_content')[0], {overlayClose: false, title: 'Server Backup Confirmation'});
            });
        });

        function performBackup(self) {
            Util.disable(jQuery(".close_modalbox_control")[0]);
            Util.disable(jQuery(".primary")[0]);
            jQuery(".backup_spinny")[0].removeClassName("hidden");
            Modalbox.deactivate();
            return true;
        }
    </script>
</div>
