<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- @view_title = "Edit Template" -%>
    <%- @current_tab_name = "admin" -%>
    <%= render :partial => "shared/head" %>
</head>
<body id="<%= page_name %>" class="<%= page_name %> admin_templates">
<div class="page-wrap">
<div id="body_bg">
    <div id="header">
        <%= render :partial => "shared/header" %>
    </div>

    <div id='body_content'>
        <div class="messaging_wrapper" id="messaging_wrapper">
            <%= render :partial => "shared/flash_message" %>
            <%= render :partial => "shared/config_save_actions", :locals => {:scope => {}} -%>
        </div>

        <%= render :partial => 'layouts/templates/breadcrumb_top' %>

        <%= content_wrapper_tag %>
        <div class="admin_wrapper">
            <div class="admin_sidebar general">
                <%= render :partial => "admin/shared/pipeline_tree.html", :locals=> {:scope=> {:pipeline => @pipeline}} %>
            </div>
            <div class="admin_workspace has_tree_view">
                <div class="pipeline_header">
                    <h3 class="title entity_title">
                        <%= link_to @pipeline.name(), template_edit_path(:stage_parent => "templates", :current_tab => 'general'), :class => 'wrapped_word' %>
                    </h3>
                </div>
                <div class="sub_tabs_container  <%= params[:current_tab] -%>">
                    <%= render :partial => "admin/templates/template_navigation", :locals=> {:scope=> {:pipeline => @pipeline}} %>
                </div>

                <%= render :partial => "admin/shared/global_errors.html", :locals => {:scope => {}} -%>

                <%= yield %>

            </div>
        </div>
        <%= render :partial => "admin/shared/dirty_form", :locals => {:scope => {:form_id => 'pipeline_edit_form', :reset_id => "reset_form"}} %>
        <%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>

        <%= end_content_wrapper %>
    </div>
</div>
</div>
  <div id='footer-new-foundation'>
    <%= render :partial => 'navigation_elements/footer' %>
  </div>
</body>
</html>
