<div class="form_item_block required source" id="source_input">
  <%= label_tag source_dir_name = random_dom_id('source_'), required_label_text('Source') -%>
  <%= scope[:var_form].text_field com.thoughtworks.go.config.FetchTask::SRC, {:class => "form_input", :id => source_dir_name} -%>
  <div class="contextual_help has_go_tip_right" title="The path of the artifact directory or file of a specific job, relative to the sandbox directory. If the directory or file does not exist, the job is failed."></div>
  <%= error_message_on(@task, com.thoughtworks.go.config.FetchTask::SRC, :css_class => "form_error") %>
</div>

<div class="form_item_block file_or_dir" id="source_is_file_input">
  <%= scope[:var_form].check_box(com.thoughtworks.go.config.FetchTask::IS_SOURCE_A_FILE, :class => "is_source_a_file", :id => "is_source_a_file") -%>
  <%= label_tag :is_source_a_file, 'Source is a file(Not a directory)', :class => "inline" -%>
</div>

<div class="form_item_block" id="destination_input">
  <%= label_tag destination = random_dom_id('dest_'), 'Destination' -%>
  <%= scope[:var_form].text_field com.thoughtworks.go.config.FetchTask::DEST, {:class => "form_input", :id => destination} -%>
  <div class="contextual_help has_go_tip_right" title="The path of the directory where the artifact is fetched to. The directory is overwritten if it already exists. The directory path is relative to the pipeline working directory."></div>
  <%= error_message_on(@task, com.thoughtworks.go.config.FetchTask::DEST, :css_class => "form_error") %>
</div>
