<div class="form_content">
    <div class="artifacts_plan_section popup_form">
        <textarea id="artifact_template" class="template">
            <%= scope[:form].fields_for :artifactPlans, :index => "" do |var_form| %>
                <td class="name_value_cell">
                    <%= var_form.text_field :src, :class => "form_input artifact_source", :id => nil -%>
                </td>
                <td class="name_value_cell">
                    <%= var_form.text_field :dest, :class => "form_input artifact_destination", :id => nil -%>
                </td>
                <td class="name_value_cell">
                    <%= var_form.select "artifactTypeValue",  ["Build Artifact", "Test Artifact"], {}, :class => "small" -%>
                </td>
                <td class="name_value_cell">
                    <span class="icon_remove delete_parent"></span>
                </td>
            <% end %>
        </textarea>

        <table class="artifact">
            <thead>
            <tr >
                <th><h4 class="src"><%= l.string("SOURCE") -%></h4>
                    <span class="contextual_help has_go_tip_right" title="<%=l.string("TOOLTIP_ARTIFACT_SOURCE")-%>"></span>
                </th>
                <th><h4 class="dest"><%= l.string("DESTINATION") -%></h4>
                    <span class="contextual_help has_go_tip_right" title="<%= l.string("TOOLTIP_ARTIFACT_DESTINATION") -%>"></span>
                </th>
                <th><h4 class="type" ><%= l.string("INSTRUCTION_TEST_ARTIFACT") %></h4>
                    <span class="contextual_help has_go_tip_right" title="<%= l.string("TOOLTIP_TEST_ARTIFACT") -%>"></span>
                </th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody class="artifact">
            <% scope[:collection].each do |variable| -%>
                <%= scope[:form].fields_for com.thoughtworks.go.config.JobConfig::ARTIFACT_PLANS, variable, :index => "" do |var_form| %>
                    <tr>
                        <td class="name_value_cell">
                            <%= var_form.text_field com.thoughtworks.go.config.ArtifactPlan::SRC, :class => "form_input artifact_source", :id => nil-%>
                            <%= error_message_on(variable, com.thoughtworks.go.config.ArtifactPlan::SRC, :css_class => "form_error") %>
                        </td>
                        <td class="name_value_cell">
                            <%= var_form.text_field com.thoughtworks.go.config.ArtifactPlan::DEST, :class => "form_input artifact_destination", :id => nil-%>
                            <%= error_message_on(variable, com.thoughtworks.go.config.ArtifactPlan::DEST, :css_class => "form_error") %>
                        </td>
                        <td class="name_value_cell">
                            <%= var_form.select "artifactTypeValue",  ["Build Artifact", "Test Artifact"], {}, :class => "small"  %>
                        </td>
                        <td class="name_value_cell">
                            <span class="icon_remove delete_parent"></span>
                        </td>
                    </tr>
                <% end %>
            <%- end -%>
            </tbody>
        </table>
		<%= action_icon({:type => "add", :text => l.string("ADD"), :href => "#", :class => "skip_dirty_stop", :id => "add_artifact"}) %>
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    Util.on_load(function() {
        function setupVarForm(finish_button) {
            var rowCreator = new EnvironmentVariables.RowCreator(jQuery('#artifact_template'), 'tr', '.delete_parent');
            var variables = new EnvironmentVariables(
                    jQuery('tbody.artifact'),
                    rowCreator,
                    null,
                    function(inputs) {
                        inputs.dirty_form();
                    },
                    function(row) {
                        row.parents("form.dirtyform").data("dirty", true);
                    });

            variables.registerAddButton(jQuery("#add_artifact"))
            variables.addDefaultRow();
            variables.registerFinishButton(finish_button);
        }

        var finish_button = jQuery(".finish");
        setupVarForm(finish_button);
    });
</script>