<h3><%= l.string("ENVIRONMENT_VARIABLES") %></h3>
<span title="<%= l.string("TOOLTIP_ENVIRONMENT_VARIABLES") -%>" class="contextual_help has_go_tip_right">&nbsp;</span>
<%= render :partial => "admin/shared/global_errors.html", :locals => {:scope => {}} -%>
<%= form_for @job,
             :as => :job,
             :url => admin_job_update_path(:current_tab => "environment_variables"),
             :html => {:method => :put,
                       :id => "job_edit_form",
                       :onsubmit => "return AjaxForm.jquery_ajax_submit(this, AjaxForm.ConfigFormEditHandler);",
                       :class => "popup_form"} do |f| %>

    <%= render partial: 'admin/shared/environment_variable_fieldset', locals: {
                                                                            form: f,
                                                                            collection: @job.getPlainTextVariables(),
                                                                            collection_name: :variables,
                                                                            nested_name: 'job>variables'
                                                                    } %>

    <h3><%= l.string("SECURE_ENVIRONMENT_VARIABLES") %></h3>
    <span title="<%= l.string("TOOLTIP_ENCRYPTED_ENVIRONMENT_VARIABLES") -%>" class="contextual_help has_go_tip_right">&nbsp;</span>
    <div class="fieldset">
        <%= render :partial => "admin/shared/name_value", :locals => {:scope => {:form => f, :collection => @job.getSecureVariables(), :collection_name => :variables, :secure => true}} %>
        <div class='clear'></div>
    </div>
    <%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>
    <%= render :partial => "admin/shared/form_submit", :locals => {:scope => {:reset_url => admin_job_edit_path(:pipeline_name => @pipeline.name(), :stage_name => params[:stage_name], :job_name => params[:job_name], :current_tab => "environment_variables")}} %>
<% end %>
<script type="text/javascript">
    AjaxForm.error_box_selector = '#form_parent';
</script>