<div class="config-container">
<h3><%= l.string("JOBS") %></h3>
<div class="instructions">
    <%= l.string("INSTRUCTION_JOBS_LISTING") -%>
</div>
<table class="list_table reorderable_table jobs_list_table">
    <thead>
    <tr>
        <th><%= l.string("JOB") %></th>
        <th><%= l.string("RESOURCES") %></th>
        <th><%= l.string("RUN_ON_ALL") %></th>
        <th><%= l.string("RUN_MULTIPLE_INSTANCES") %></th>
        <th class="remove"><%= l.string("REMOVE") %></th>
    </tr>
    </thead>
    <tbody>
    <% @jobs.each do |job_config| %>
        <tr>
            <td><%= link_to(job_config.name(), admin_tasks_listing_path(:job_name => job_config.name(), :current_tab => "tasks")) %></td>
            <td><%= job_config.resources().join(', ') %></td>
            <td><%= job_config.isRunOnAllAgents() ? l.string("YES") : l.string("NO") %></td>
            <td><%= job_config.isRunMultipleInstanceType() ? l.string("YES") : l.string("NO") %></td>
            <td class="remove">
                <% if @jobs.size() > 1 %>
                    <% unique_delete_job_id = random_dom_id("delete_job_") %>
                    <%= form_for job_config, :as => '', :url => {:action => "destroy", :job_name => job_config.name()},
                                :html => {:id => "#{unique_delete_job_id}", :method => :delete} do |f| %>
                        <%= md5_field %>
                        <span class="icon_remove delete_parent" id="trigger_<%= unique_delete_job_id %>">
                            <%= render :partial => 'admin/shared/submit_with_prompt.html',
                                       :locals => {:scope => {
                                               :button_id => "trigger_#{unique_delete_job_id}",
                                               :message => "Are you sure you want to delete the job '#{job_config.name()}' ? ",
                                               :on_confirmation_js => "$('#{"#{unique_delete_job_id}"}').submit()"}} %>
                            </span>
                    <% end %>
                <% else %>
					<%= action_icon({:type => "delete", :disabled => true, :title => ""}) %>
                <% end %>
            </td>
        </tr>
    <% end %>
    <tr>
        <td colspan="5">
            <a class="add_link" href="#" onclick="ModalBoxWhichClosesAutoCompleteDropDownBeforeClosing.show('<%= admin_job_new_path -%>', {overlayClose: false, title: '<%= l.string("ADD_NEW_JOB") %>'})"><%= l.string("ADD_NEW_JOB") %></a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<script type="text/javascript">
    AjaxForm.error_box_selector = '#MB_content';
</script>
