<div class="config-container">
<div class="help-wrapper">
<h3><%= l.string("TABS") %></h3>
<span title="<%= l.string("TOOLTIP_TABS") -%>" class="contextual_help has_go_tip_right">&nbsp;</span>
</div>
<%= form_for @job,
                :as => :job,
                :url => admin_job_update_path(:current_tab => "tabs"),
                :html => {:method => :put,
                          :id => "job_edit_form",
                          :onsubmit => "return AjaxForm.jquery_ajax_submit(this, AjaxForm.ConfigFormEditHandler);",
                          :class => "popup_form"} do |f| %>
    <div class="fieldset">
        <%= md5_field %>
        <%= current_tab_field("tabs") -%>
        <%= register_defaultable_list("job>tabs") %>
        <%= render :partial => "admin/shared/tab_name_path", :locals => {:scope => {:form => f, :collection => @job.getTabs(), :collection_name => :tabs}} %>
    </div>
    <%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>
    <%= render :partial => "admin/shared/form_submit", :locals => {:scope => {:reset_url => admin_job_edit_path(:pipeline_name => @pipeline.name(), :stage_name => params[:stage_name], :job_name => params[:job_name], :current_tab => "tabs")}} %>
<% end %>
</div>
<script type="text/javascript">
        AjaxForm.error_box_selector = '#form_parent';
</script>