<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- @view_title =  l.string("COMPARE_PIPELINES_PAGE") -%>
    <%= render :partial => "shared/head" %>
</head>
<body id="<%= page_name %>" class="<%= page_name %>">
<div class="page-wrap">
<div id="body_bg">
    <div id="header">
        <%= render :partial => "shared/header" %>
    </div>

    <div id='body_content'>
        <div class="messaging_wrapper" id="messaging_wrapper">
            <%= render :partial => "shared/flash_message" %>
        </div>
        <div id="pipeline_header">
            <div class="entity_status_wrapper page_header">
                <%= render :partial => "shared/pipeline_breadcrumb", :locals => {:scope => {:pipeline => @to_pipeline, :third => {:text => l.string("COMPARE")}}} %>
            </div>
        </div>
        <%= content_wrapper_tag %>
        <div id="pipeline_status_bar" class="pipeline_flow">
            <table>
                <tbody>
                    <tr>
                        <td width="360px" valign="top"><%= render :partial => 'comparison/stage_bar_without_controls.html', :locals => {:scope => {:pipeline => @from_pipeline, :fixed_pipeline => @to_pipeline, :pipeline_instances => @from_pipeline_instances_model, :suffix => "from"}} %></td>
                        <td valign="top"><div class="compared_to"><%= l.string("COMPARED_TO") %></div></td>
                        <td width="360px" valign="top"><%= render :partial => 'comparison/stage_bar_without_controls.html', :locals => {:scope => {:pipeline => @to_pipeline, :fixed_pipeline => @from_pipeline, :pipeline_instances => @to_pipeline_instances_model, :suffix => "to"}} %></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <%= yield %>
        <%= end_content_wrapper %>
    </div>
  </div>
</div>

    <div id='footer-new-foundation'>
      <%= render :partial => 'navigation_elements/footer' %>
    </div>
</body>
</html>

