<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title><%= @view_title %> - Go</title>

  <%= stylesheet_link_tag 'pipeline_configs/application' %>
  <%= requirejs_include_tag 'pipeline_configs/application' %>
  <%= csrf_meta_tags %>
</head>

<body data-controller-name="<%= controller_name %>" data-action-name="<%= action_name %>">
<%= render :partial => 'navigation_elements/navigation' %>
<%= yield %>
<%= render :partial => 'navigation_elements/footer' %>
</body>
</html>
