<!DOCTYPE html>
<html class="no-js">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title><%= @view_title %> - Go</title>

  <link rel="shortcut icon" href="<%=asset_path('cruise.ico')%>"/>
  <%= stylesheet_link_tag 'frameworks' %>
  <%= stylesheet_link_tag "single_page_apps/#{controller_name}" %>
  <%= requirejs_include_tag "single_page_apps/#{controller_name}" %>
  <%= csrf_meta_tags %>
</head>

<body data-controller-name="<%= controller_name %>" data-action-name="<%= action_name %>">
<div class="page-wrap">
  <header class="app-header">
    <div class="row expanded">
      <%= render :partial => 'new_navigation_elements/navigation' %>
    </div>
  </header>

  <main class="main-container">

    <%= yield %>
  </main>

</div>
<%= render :partial => 'new_navigation_elements/footer' %>

</body>
</html>
