<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang='en'>


<head>
    <%= render :partial => "shared/head" %>
</head>
<body id="<%= page_name %>" class="<%= page_name %>">
    <div id="body_bg" class="vsm">
        <div id="header">
            <%= render :partial => "shared/header" %>
        </div>

        <div id='body_content'>
            <%= yield %>
        </div>

        <div class='pan' style='display: none;'>
            <div class="constrainer">
                <div class='knob'></div>
            </div>
            <canvas id='canvas'></canvas>
        </div>

      <div id='footer-new-foundation'>
        <%= render :partial => 'navigation_elements/footer' %>
      </div>
    </div>

    <div id='pre-loader-overlay'>
        <div class='loading'></div>
    </div>
</body>
</html>

