<% if @lockedPipeline
    scope[:entity_wrapper_class] = "locked"
end %>

<div class="entity_status_wrapper page_header <%= scope[:entity_wrapper_class] %>">
    <%= render :partial => "shared/pipeline_breadcrumb.html", :locals => {:scope => {:pipeline => @pipeline, :third => {:link => url_for_pipeline_value_stream_map(@pipeline), :text => @pipeline.getLabel()}, :fourth => @stage.getName()}} %>
    <% if @lockedPipeline %>
        <% if @pipeline.hasStage(@lockedPipeline) %>
            <% if @pipeline.canUnlock() %>
                <div class="locked_instance" id='unlock'>
                    <%== blocking_link_to_remote_new :name => "Click to unlock", :method => :post, :url => api_pipeline_action_path(:pipeline_name => @pipeline.getName(), :action => 'releaseLock'),
                            :update => {:failure => "message_pane", :success => 'function(){}'}, :html => {}, :headers => {Confirm: 'true'}, :before => "spinny('unlock');" %>
                </div>
            <% else %>
                <div class="locked_instance">
                    <span><%= l.string('LOCKED') -%></span>
                </div>
            <% end %>
        <% else %>
            <div class="locked_instance">
                (<%= link_to(l.string("LOCKED_BY_LABEL", [@lockedPipeline.getPipelineLabel()]), stage_detail_pipeline_tab_for_identifier(@lockedPipeline)) %>)
            </div>
        <% end %>
    <% elsif @pipeline.isLockable() %>
        <div class="locked_instance">
            <span><%= l.string('UNLOCKED') -%></span>
        </div>
    <% end %>
    <a href="<%=api_pipeline_stage_feed_path(:name => @pipeline.getName())-%>"><div class="feed">&nbsp;</div></a>
</div>
