<%- scope[:stage_details_action] ||= params[:action] -%>
<div id="stage_bar_<%= scope[:idx_in_status_bar] %>" class="row1">
    <% if placeholder_stage?(scope[:stage_in_status_bar]) %>
        <span class="stage_name"><%= scope[:stage_name] -%></span>
    <% else %>
        <%= link_to scope[:stage_in_status_bar].getName(), stage_bar_url(scope[:stage_in_status_bar], scope[:stage_details_action]), :class=> "stage_name" %>
    <% end %>

    <% if scope[:stage_in_status_bar].hasOperatePermission() %>
        <%

           if scope[:stage_in_status_bar].isRunning()
               scope[:label] = "cancel"
           elsif scope[:stage_in_status_bar].canRun()
               scope[:label] = run_stage_label(scope[:stage_in_status_bar])
           end

           scope[:operate_class] = "action_#{scope[:label]}"
        %>
        <div id="operate_<%= scope[:stage_name] %>" class="operate secondary <%= scope[:operate_class] %>">
            <%
               scope[:id] = "stage_bar_#{scope[:label]}_#{scope[:stage_name]}"
               scope[:html_opts] = {:class => "stage_action", :id => scope[:id]}
               scope[:before_opts] = "spinny('operate_#{scope[:stage_name]}')"
               if scope[:stage_in_status_bar].canRun() && scope[:stage_in_status_bar].isScheduled() %>
                <%== blocking_link_to_remote_new :name => "&nbsp;", :method => :post, :url => run_stage_path(:stage_name => scope[:stage_name]), :html => scope[:html_opts], :update => scope[:update_opts], :headers => {Confirm: 'true'}, :before => scope[:before_opts] %>

        <% end %>
            <% if scope[:stage_in_status_bar].isRunning() %>
                <%== blocking_link_to_remote_new :name => "&nbsp;", :method => :post, :url => cancel_stage_path(:id => scope[:stage_in_status_bar].getId()), :html => scope[:html_opts], :update => scope[:update_opts], :headers => {Confirm: 'true'} , :before => scope[:before_opts] %>
            <% end %>
        </div>
    <% end %>
</div>
<% scope[:stage_bar_html_options] = stage_bar_options(scope[:stage_in_status_bar]) %>
<div class="stage_bar_wrapper">
    <% if placeholder_stage?(scope[:stage_in_status_bar]) %>
        <div <%= scope[:stage_bar_html_options] -%>><%= check_for_cancelled_contents(scope[:stage_in_status_bar].getState()) %></div>
    <% else %>
        <a href="<%= stage_bar_url(scope[:stage_in_status_bar], scope[:stage_details_action]) -%>" <%= scope[:stage_bar_html_options] -%>>
            <%= check_for_cancelled_contents(scope[:stage_in_status_bar].getState()) %>
        </a>
    <% end %>
</div>
<% if scope[:idx_in_status_bar] > 0 %>
    <div class="trigger_gate">
        <%= render :partial => "pipelines/stage_trigger_gate.html", :locals => {:scope => {:stage_in_status_bar => scope[:stage_in_status_bar]}} %>
    </div>
<% end %>
