<div class="pipeline_search_toggle">
    <%= select_tag("pipelineSearchToggle", options_for_select([["Pipeline", 1], ["Revision", 2]], 1), {:class=>"select_button search_toggle_selector", autocomplete:"off"}) %>
</div>
<input title='Search for Pipeline' placeholder='Search for Pipeline' id='pipeline-search' type="text"/>
<div style="float: left; position: relative">
    <input title='Search for Revision' placeholder='Search for Revision' id='revision-search' type="text"/>
    <div id="revision-search-empty">No matches found</div>
</div>
<%= submit_button("Personalize", :id => "show_pipelines_selector", :type => "header_select") %>


<div id="pipelines_selector" class='enhanced_dropdown hidden'>

    <% on_submit_action = "PipelineOperations.onPipelineSelector(this, '#{pipeline_path(:action => 'select_pipelines')}'); return false;".html_safe %>
    <%= pipeline_operations_blocking_form_remote_tag(:url => pipeline_path(:action => 'select_pipelines'), :html => { :onsubmit => on_submit_action})-%>

    <div class="select_all_none_panel">
        <div id="select_text">Select:</div>
        <a class="link_as_button" href="javascript:void(0);" id="select_all_pipelines">All</a>
        <a class="link_as_button" href="javascript:void(0);" id="select_no_pipelines">None</a>
        <div id="show_new_pipelines_container">
            <input id="show_new_pipelines" type="checkbox" name="show_new_pipelines" <%== @pipeline_selections.isBlacklist() ? "checked='checked'" : '' %>/>
            <label id="show_new_pipelines_label" for="show_new_pipelines">Show newly created pipelines</label>
        </div>
    </div>
    <div id="pipelines_selector_pipelines" class="scrollable_panel">
        <%= render :partial => 'pipelines/pipeline_selector_pipelines', :locals => {:scope => {}} %>
    </div>
    <div class="add_panel">
        <%= submit_button("Apply", :id => "apply_pipelines_selector", :class => "primary") %>
    </div>
    <%== end_form_tag %>
</div>

<script type="text/javascript">
    Util.on_load(function() {
        PipelineFilter.initialize();
        PipelineSearch.initialize('#pipeline-search');

        RevisionSearch.initialize("#revision-search","#revision-search-empty");
        jQuery("#pipelineSearchToggle").val(1);
        jQuery("#revision-search").blur(function () {
            jQuery("#revision-search-empty").hide();
        }).parent().hide();
        jQuery("#pipelineSearchToggle").change(function () {
            if (this.value == 2) {
                // Revision search
                PipelineFilter.close();
                jQuery("#revision-search-empty").hide();
                jQuery("#pipeline-search").val("").trigger("keyup").focus().parent().hide();
                jQuery("#show_pipelines_selector").hide();
                jQuery("#revision-search").parent().show();
            } else {
                // Pipeline search
                jQuery("#revision-search").val("").parent().hide();
                jQuery("#pipeline-search").parent().show();
                jQuery("#show_pipelines_selector").show();
            }
        });
    });
</script>