<% scope[:omit_pipeline] ||= false %>
<div class="pipeline_bundle pipeline_group">
    <div class="pipelines">
        <%== content_wrapper_tag %>
            <% if is_user_an_admin? || is_user_admin_of_group?(scope[:pipeline_group].getName()) %>
              <h2 class="entity_title"><%= link_to scope[:pipeline_group].getName(), "#{pipeline_groups_path}#group-#{scope[:pipeline_group].getName()}" %></h2>
            <% else %>
              <h2 class="entity_title"><%= scope[:pipeline_group].getName() %></h2>
            <% end %>
            <% scope[:pipeline_models] = scope[:pipeline_group].getPipelineModels()
               scope[:pipeline_models].each_with_index do |pipeline_model_in_pipeline_group, idx_in_pipeline_group| -%>

            <% unless scope[:omit_pipeline] %>
                <div id="<%= pipelines_pipeline_dom_id(pipeline_model_in_pipeline_group) -%>" class="pipeline">
                    <% cache(view_cache_key.forPipelineModelBox(pipeline_model_in_pipeline_group), {:subkey => "pipeline_html", :skip_digest => true}) do %>
                        <%= render :partial => "shared/pipeline.html", :locals => {:scope => {:pipeline_model => pipeline_model_in_pipeline_group, :should_display_previously_blurb => true, :show_controls => true, :show_changes => true, :show_compare => true}} -%>
                    <% end %>
                </div>
            <% end %>

            <div class="divider"></div>
        <% end -%>
        <%== end_content_wrapper %>
    </div>
</div>
