<%
  @pipeline_configs.each do |pipeline_group_in_pipeline_selector|
    scope[:group_name] = pipeline_group_in_pipeline_selector.getGroup()
    scope[:grp_id]="select_group_#{scope[:group_name]}"
    scope[:group_selected] = @pipeline_selections.includesGroup(pipeline_group_in_pipeline_selector)
%>
    <div id='selector_group_<%= scope[:group_name] %>' class="selector_group">
      <input type="checkbox" id="<%= scope[:grp_id] %>" name="selector[group][]" value="<%= scope[:group_name] %>"
             <% if scope[:group_selected] %>
             checked="checked"
             <% end %>
             />
      <label for="<%= scope[:grp_id] %>" class="label inline"><%= scope[:group_name] %></label>
      <% pipeline_group_in_pipeline_selector.each do |pipeline_in_pipeline_selector|
        scope[:pipeline_name] = pipeline_in_pipeline_selector.name()
        scope[:pipeline_id] = "select_pipeline_#{scope[:pipeline_name]}"
      %>
          <div id='selector_pipeline_<%= scope[:pipeline_name] %>' class="selector_pipeline">
            <input type="checkbox" id="<%= scope[:pipeline_id] %>" name="selector[pipeline][]" value="<%= scope[:pipeline_name] %>"
                   <% if scope[:group_selected] || @pipeline_selections.includesPipeline(pipeline_in_pipeline_selector) %>
                   checked="checked"
                   <% end %>
                   />
            <label for="<%= scope[:pipeline_id] %>" class="label inline"><%= scope[:pipeline_name] %></label>
          </div>
      <% end %>
    </div>
<% end %>