<% scope[:rendering_gadget] ||= false %>
<div class="previously_wrapper">
    <% if scope[:should_display_previously_blurb] && scope[:active_pipeline_in_pipeline].isAnyStageActive() -%>
        <% scope[:active_stage] = scope[:active_pipeline_in_pipeline].activeStage() -%>
        <% if scope[:active_stage].hasPreviousStage() -%>
            <div class="previously">
                <span class="label"><%=l.string("Previously Blurb")-%></span>
                <% scope[:previous_stage] = scope[:active_stage].getPreviousStage() -%>
                <% scope[:previous_stage_identifier] = scope[:previous_stage].getIdentifier() -%>
                <% scope[:stage_result] = scope[:previous_stage].getResult() -%>
                <a class="result" href="<%= stage_detail_path_for_identifier(scope[:previous_stage_identifier], :only_path => !scope[:rendering_gadget]) -%>" <%== scope[:rendering_gadget] ? "target='_blank'" : "" -%>
                   title="<%= scope[:previous_stage_identifier].getPipelineLabel() -%>">
                    <span class="color_code_small <%= scope[:stage_result] -%>">
                    </span> <%= scope[:stage_result] -%>
                </a>
            </div>
        <% end -%>
    <% end -%>
</div>
