<% form_name_provider = scope["formNameProvider"] %>
<% plugged_task_angular_controller_element_id = form_name_provider.css_id_for("angular_" + scope[:task].getTaskType()) %>
<% plugged_task_data_element_id = form_name_provider.css_id_for("data_" + scope[:task].getTaskType()) %>

<div id="<%= plugged_task_angular_controller_element_id %>" name="<%= plugged_task_angular_controller_element_id %>" class="plugged_task">
    <div class="plugged_task_template form_item required">
        <%== scope["template"] %>
    </div>

    <span id="<%= plugged_task_data_element_id %>" class="plugged_task_data" style="display: none">
        <%= scope["data"] %>
    </span>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var form_name_prefix = "<%= form_name_provider.form_name_prefix %>";
        var plugged_task_angular_controller_element_id = "<%= plugged_task_angular_controller_element_id %>";
        var angular_data_element_id = "<%= plugged_task_data_element_id %>";
        new TaskPluginView().initialize(plugged_task_angular_controller_element_id, angular_data_element_id, form_name_prefix);
    });
</script>
