
<input title='Search for Pipeline' placeholder='Search for Pipeline' id='pipeline-search' type="text"/>

<%= submit_button("Personalize", :id => "show_pipelines_selector", :type => "header_select") %>


<div id="pipelines_selector" class='enhanced_dropdown hidden'>

    <% on_submit_action = "PipelineOperations.onPipelineSelector(this, '#{pipeline_path(:action => 'select_pipelines')}'); return false;".html_safe %>
    <%= pipeline_operations_blocking_form_remote_tag(:url => pipeline_path(:action => 'select_pipelines'), :html => { :onsubmit => on_submit_action})-%>

    <div class="select_all_none_panel">
        <div id="select_text">Select:</div>
        <a class="link_as_button" href="javascript:void(0);" id="select_all_pipelines">All</a>
        <a class="link_as_button" href="javascript:void(0);" id="select_no_pipelines">None</a>
        <div id="show_new_pipelines_container">
            <input id="show_new_pipelines" type="checkbox" name="show_new_pipelines" <%== @pipeline_selections.isBlacklist() ? "checked='checked'" : '' %>/>
            <label id="show_new_pipelines_label" for="show_new_pipelines">Show newly created pipelines</label>
        </div>
    </div>
    <div id="pipelines_selector_pipelines" class="scrollable_panel">
        <%= render :partial => 'pipelines/pipeline_selector_pipelines', :locals => {:scope => {}} %>
    </div>
    <div class="add_panel">
        <%= submit_button("Apply", :id => "apply_pipelines_selector", :class => "primary") %>
    </div>
    <%== end_form_tag %>
</div>

<script type="text/javascript">
    Util.on_load(function() {
        PipelineFilter.initialize();
        PipelineSearch.initialize('#pipeline-search');
    });
</script>