<div class="users">
    <label><%= l.string("USERS") -%></label>
    <table class="users_and_roles">
        <tbody>
        <%- scope[:pipeline_group].getOperateUsers().each do |permission| -%>
            <%= scope[:form].fields_for com.thoughtworks.go.config.StageConfig::OPERATE_USERS, permission, :index => "" do |permissions_form| %>
                <tr>
                    <td class="name_cell">
                        <%= permissions_form.text_field :name, :class => "form_input user_role_name", :id => nil, :disabled => "disabled" -%>
                    </td>
                </tr>
            <% end %>
        <%- end -%>
        </tbody>
    </table>
</div>
<div class="roles">
    <label><%= l.string("ROLES") -%></label>
    <table class="users_and_roles">
        <tbody>
        <%- scope[:pipeline_group].getOperateRoles().each do |permission| -%>
            <%= scope[:form].fields_for com.thoughtworks.go.config.StageConfig::OPERATE_ROLES, permission, :index => "" do |permissions_form| %>
                <tr>
                    <td class="name_cell">
                        <%= permissions_form.text_field :name, :class => "form_input user_role_name", :id => nil, :disabled => "disabled" -%>
                    </td>
                </tr>
            <% end %>
        <%- end -%>
        </tbody>
    </table>
</div>