<div class="config-container">
<h3><%= l.string('STAGE_SETTINGS') %></h3>

<%= form_for(@stage,
                :as => :stage,
                :url => admin_stage_update_path,
                :html => {:method => "PUT",
                          :id => "stage_edit_form",
                          :onsubmit => "return AjaxForm.jquery_ajax_submit(this, AjaxForm.ConfigFormEditHandler);",
                          :class => "popup_form"}) do |f| %>
    <%= md5_field %>
    <%= render :partial => "admin/shared/global_errors.html", :locals => {:scope => {}} -%>
    <div class="fieldset">
        <div class="form_item_block required">
            <%= required_label(f, :name, l.string("STAGE_NAME")) %>
            <%= f.text_field :name %>
            <%= error_message_on(@stage, "name", :css_class => "form_error") %>
        </div>
        <div class="form_item_block checkbox_row">
            <label><%= l.string('STAGE_TYPE') -%></label>
            <span class="stage_approval contextual_help has_go_tip_right"  title="<%= l.string("RADIO_BUTTON_TITLE_APPROVAL") -%>">&nbsp;</span>
            <%= f.fields_for com.thoughtworks.go.config.StageConfig::APPROVAL, @stage.approval do |approval| %>
                <div>
                    <%= approval.radio_button com.thoughtworks.go.config.Approval::TYPE, com.thoughtworks.go.config.Approval::SUCCESS, :id => "auto" %>
                    <label for="auto"><%= l.string('AUTO') -%></label>

                    <%= approval.radio_button com.thoughtworks.go.config.Approval::TYPE, com.thoughtworks.go.config.Approval::MANUAL, :id => "manual" %>
                    <label for="manual"><%= l.string('MANUAL') -%></label>
                </div>
                <%= error_message_on(@stage.getApproval(), "type", :css_class => "form_error") %>



                <%= error_message_on(@stage.getApproval(), "type", :css_class => "form_error") %>
            <% end %>
        </div>
        <div class="form_item_block checkbox_row fetch_materials">
            <%= f.check_box :fetchMaterials %>
            <label for="stage_fetchMaterials"><%= l.string('FETCH_MATERIALS') -%></label>
            <span class="contextual_help has_go_tip_right"  title="<%= l.string("TOOLTIP_FETCH_MATERIALS")-%>">&nbsp;</span>
            <%= error_message_on(@stage.isFetchMaterials(), "type", :css_class => "form_error") %>
        </div>
        <div class="form_item_block checkbox_row fetch_materials">
            <%= f.check_box com.thoughtworks.go.config.StageConfig::ARTIFACT_CLEANUP_PROHIBITED %>
            <label for="stage_artifactCleanupProhibited"><%= l.string("ARTIFACT_CLEANUP_PROHIBITED") -%></label>
            <span class="contextual_help has_go_tip_right"  title="<%= l.string("TOOLTIP_ARTIFACT_CLEANUP_PROHIBITED")-%>">&nbsp;</span>
            <%= error_message_on(@stage.isArtifactCleanupProhibited(), "type", :css_class => "form_error") %>
        </div>
        <div class="form_item_block checkbox_row clean_working_dir">
            <%= f.check_box :cleanWorkingDir %>
            <label for="stage_cleanWorkingDir"><%= l.string('CLEAN_WORKING_DIRECTORY') -%></label>
            <span class="contextual_help has_go_tip_right"  title="<%= l.string("TOOLTIP_CLEAN_WORKING_DIRECTORY")-%>">&nbsp;</span>
            <%= error_message_on(@stage.isCleanWorkingDir(), "type", :css_class => "form_error") %>
        </div>
        <%= render :partial => 'shared/form_required_message.html', :locals => {:scope => {}} %>
    </div>

    <%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>
    <%= render :partial => "admin/shared/form_submit", :locals => {:scope => {:reset_url => admin_stage_edit_path(:current_tab => "settings")}} %>

<% end %>
</div>
<script type="text/javascript">
        AjaxForm.error_box_selector = '#form_parent';
        jQuery(document).ready(function() {
            
        });
</script>

