<li role="presentation">
  <%= link_to "Pipelines", pipeline_groups_path -%>
</li>
<li role="presentation">
  <%= link_to "Templates", templates_path -%>
</li>
<li role="presentation">
  <%= link_to "Config XML", config_view_path -%>
</li>
<li role="presentation">
  <%= link_to "Server Configuration", edit_server_config_path -%>
</li>
<li role="presentation">
  <%= link_to "User Summary", user_listing_path -%>
</li>
<li role="presentation">
  <%= link_to "OAuth Clients", oauth_engine.clients_path -%>
</li>
<li role="presentation">
  <%= link_to "OAuth Enabled Gadget Providers", gadgets_oauth_clients_path -%>
</li>
<li role="presentation">
  <%= link_to "Backup", backup_server_path -%>
</li>
<li role="presentation">
  <%= link_to "Plugins", plugins_listing_path -%>
</li>
<li role="presentation">
  <%= link_to "Package Repositories", package_repositories_new_path -%>
</li>