<footer class="app-footer">
    <div class="row expanded">
        <div class="small-12 medium-6 large-8 columns">
            <p class="copyright">Copyright &copy; <%= copyright_year %>
                <a href="https://www.thoughtworks.com/products" target='_blank'>ThoughtWorks, Inc.</a>
                Licensed under <%= link_to('Apache License, Version 2.0', "https://www.apache.org/licenses/LICENSE-2.0", :target => '_blank') -%>.<br/>
                Go includes <%= link_to('third-party software', url_for_path('NOTICE/cruise_notice_file.pdf'), :target => '_blank') -%>.
                Go Version: <%= version %>.
            </p>

        </div>
      <div class="small-12 medium-6 large-4 columns">
            <span class="inline-list social">
                <a href="https://twitter.com/goforcd" title="twitter" class="twitter" target="_blank"></a>
                <a href="https://github.com/gocd/gocd" title="github" class="github" target="_blank"></a>
                <a href="https://groups.google.com/d/forum/go-cd" title="forums" class="forums" target="_blank"></a>
                <a href="https://docs.gocd.org/<%= unformatted_version %>" title="documentation" class="documentation" target="_blank"></a>
                <a href="https://www.gocd.org/plugins/" title="plugins" class="plugins" target="_blank"></a>
                <a href="https://api.gocd.org/<%= unformatted_version %>" title="api" class="api" target="_blank"></a>
                <a href="<%= about_path %>" title="about" class="server-details" target="_blank"></a>
                <a href="<%= cctray_path %>" title="cctray" class="cctray" target="_blank"></a>
            </span>
      </div>
  </div>
</footer>

<%- if check_go_updates? -%>
  <script type="text/javascript">
    var updater = new VersionUpdater('<%= apiv1_stale_version_info_path %>', '<%= apiv1_update_server_version_info_path%>');
    updater.update();
  </script>
<%- end -%>
