<!DOCTYPE html>

<%= stylesheet_link_tag "application", {media: "all", debug: Rails.env.development? && params[:debug_assets]} %>
<%= stylesheet_link_tag "patterns/application", {media: "all", debug: Rails.env.development? && params[:debug_assets]} %>

<%= javascript_include_tag "application", debug: Rails.env.development? && params[:debug_assets] %>

<script type="text/javascript">
    gadgets.util.registerOnLoadHandler(function() {
      var contentUrl = '<%= pipeline_status_gadget_content_url -%>';
      var pipelineName = new gadgets.Prefs().getString("pipelineName");
      var requestUrl = contentUrl + "?pipeline_name=" + pipelineName;

      gadget_toolkit.makeOAuthRequest(requestUrl, {
        view:             "gadget_content",
        gadgetTitle:      '<%=l.string("GADGET_NAME_PIPELINE_STATUS")%>',
        serviceName:      '<%=l.string("GO")%>',
        autoRefresh:      new gadgets.Prefs().getBool("autoRefresh"),
        refreshInterval:  60000
      });
    });
</script>
<div id="gadget_content">
</div>