<% pipeline_model_in_pipeline_group = @pipeline -%>
<div id="pipelines">
    <div class="pipeline_bundle">
        <div id="<%= pipelines_pipeline_dom_id(pipeline_model_in_pipeline_group) %>" class="pipeline">
            <% cache(view_cache_key.forPipelineModelBox(pipeline_model_in_pipeline_group), {:subkey => "pipeline_gadget_html", :skip_digest => true}) do %>
                <div class="pipeline_header">
                    <h3 class="title entity_title">
                        <%= link_to(pipeline_model_in_pipeline_group.getName(), url_for_pipeline(pipeline_model_in_pipeline_group.getName(), {:only_path => false}), {:target => "_blank", :class => 'wrapped_word'}) %>
                    </h3>
                </div>
                <% pipeline_model_in_pipeline_group.getActivePipelineInstances().each do |active_pipeline_in_pipeline| -%>
                    <div class="pipeline_instance">
                        <% if !active_pipeline_in_pipeline.hasHistoricalData() %>
                            <div class='status'>
                                <span class='message'>No historical data</span>
                            </div>
                        <% else %>
                            <div class='status details'>
                                <%= render :partial=> 'pipelines/pipeline_label.html', :locals => {:scope =>{:active_pipeline_in_pipeline => active_pipeline_in_pipeline,
                                                                                                             :rendering_gadget => true}} %>
                                <%= render :partial=> 'pipelines/pipeline_instance_details.html', :locals => {:scope =>{:active_pipeline_in_pipeline => active_pipeline_in_pipeline,
                                                                                                                        :rendering_gadget => true}} %>
                            </div>
                            <%= render :partial=> 'pipelines/previously_blurb.html', :locals => {:scope =>{:active_pipeline_in_pipeline => active_pipeline_in_pipeline,
                                                                                                           :should_display_previously_blurb => true,
                                                                                                           :rendering_gadget => true}} %>
                        <% end -%>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
