<feed xmlns="http://www.w3.org/2005/Atom" xmlns:go="http://www.thoughtworks-studios.com/ns/go">
    <title><%= cdata_section(@title) %></title>
    <id><%= url %></id>
    <author>
        <name>Go</name>
    </author>
    <updated><%= @feed.updated_date %></updated>
    <link rel="self" href="<%= url %>"/>

    <% unless @feed.last.nil?  %>
        <link rel="next" href="<%= url({:before => @feed.last}) %>"/>
    <% end %>

    <% @feed.entries.each do |entry| %>
        <entry>
            <title><%= cdata_section(entry.getTitle()) %></title>
            <updated><%= entry.getUpdatedDate().iso8601 %></updated>
            <id><%= page_url(entry.getStageIdentifier().getStageLocator()) %></id>

            <%- if entry.isManuallyTriggered() -%>
            <go:author>
                <go:name><%= cdata_section(entry.getApprovedBy()) -%></go:name>
            </go:author>
            <%- end -%>

            <%- entry.getAuthors().each do |author| -%>
            <author>
                <name><%= cdata_section(author.getName()) -%></name>
                <%- if author.getEmail() -%>
                <email><%= cdata_section(author.getEmail()) -%></email>
                <%- end -%>
            </author>
            <%- end -%>

            <% stage_link_title = entry.getStageIdentifier().getStageName() + " Stage Detail" %>
            <link title="<%=stage_link_title-%>" href="<%= resource_url(:id => entry.getId()) %>" rel="alternate" type="application/vnd.go+xml"/>
            <link title="<%=stage_link_title-%>" href="<%= page_url(entry.getStageIdentifier().getStageLocator()) %>" rel="alternate" type="text/html"/>
            <%
                go_relations_url = "http://www.thoughtworks-studios.com/ns/relations/go"
                go_categories_url = "http://www.thoughtworks-studios.com/ns/categories/go"
                pipeline_detail_name = "#{entry.getStageIdentifier().getPipelineName()} Pipeline Detail"
            %>
            <link title="<%=pipeline_detail_name-%>" href="<%= pipeline_details_url(entry.getStageIdentifier().getStageLocator(), entry.getPipelineId()) %>" rel="<%=go_relations_url + "/pipeline" -%>" type="application/vnd.go+xml"/>
            <link title="<%=pipeline_detail_name-%>" href="<%= page_url(entry.getStageIdentifier().getStageLocator(), :action => "pipeline") -%>" rel="<%=go_relations_url + "/pipeline" -%>" type="text/html"/>


            <%- entry.getMingleCards().each do |card|
                mingle_cfg = card.getMingleConfig()-%>
            <link href="<%= "#{mingle_cfg.getBaseUrl().strip}/api/v2/projects/#{mingle_cfg.getProjectIdentifier()}/cards/#{card.getCardNumber()}.xml" -%>" rel="http://www.thoughtworks-studios.com/ns/go#related" type="application/vnd.mingle+xml" title="#<%= card.getCardNumber() -%>"/>
            <link href="<%= "#{mingle_cfg.getBaseUrl().strip}/projects/#{mingle_cfg.getProjectIdentifier()}/cards/#{card.getCardNumber()}" -%>" rel="http://www.thoughtworks-studios.com/ns/go#related" type="text/html" title="#<%= card.getCardNumber() -%>"/>
            <%- end -%>

            <category scheme="<%=go_categories_url-%>" term="stage" label="Stage" />
            <category scheme="<%=go_categories_url-%>" term="completed" label="Completed" />
            <category scheme="<%=go_categories_url-%>" term="<%= entry.getResult().downcase -%>" label="<%= entry.getResult() -%>" />
        </entry>
    <% end %>
</feed>