<%- @view_title = "Agent Job History" -%>
<div class="sub_tabs_container">
    <ul class="tabs">
        <li>
            <a href="#" onclick='location.href = "<%=agent_detail_path(:uuid => @agent.getUuid)-%>"'><%= l.string("DETAILS") -%></a>
        </li>
        <li class="current_tab">
            <a href="#"><%= l.string("JOB_RUN_HISTORY") -%></a>
        </li>
    </ul>
</div>
<% if @job_instances.isEmpty() %>
    <%= render :partial => "admin/shared/notification_information.html", :locals => {:scope => {:notification_message => l.string("AGENT_NO_JOB_RUN_HISTORY")}} -%>
<% else %>
    <div class="job_history_table">
        <table class="jobs list_table sortable_table">
            <thead>
            <tr class="header">
                <th class="pipeline"><%== column_header(l.string("PIPELINE"), "pipeline") -%></th>
                <th class="stage"><%== column_header(l.string("STAGE"), "stage") -%></th>
                <th class="job"><%== column_header(l.string("JOB"), "job") -%></th>
                <th class="result"><%== column_header(l.string("RESULT"), "result") -%></th>
                <th class="completed"><%== column_header(l.string("COMPLETED"), "completed") -%></th>
                <th class="duration"><%== l.string("DURATION_HEADER") -%></th>
            </tr>
            </thead>
            <tbody>
            <% @job_instances.each do |job_instance| %>
                <tr>
                    <td class="pipeline"><%= job_instance.getPipelineName() -%></td>
                    <td class="stage"><%= job_instance.getStageName() -%></td>
                    <td class="job">
                        <%- if job_instance.isPipelineStillConfigured() -%>
                            <%== build_link(job_instance.getIdentifier().buildLocator(), job_instance.getName()) -%>
                        <%- else -%>
                            <span title="<%= l.string("PIPELINE_FOR_JOB_DOESNT_EXIST") -%>"><%= job_instance.getName() -%></span>
                        <%- end -%>
                    </td>
                    <td class="result"><%= job_instance.isIgnored() ? job_instance.getState() : job_instance.getResult() -%></td>
                    <td class="completed"><%= job_instance.isIgnored() ? l.string("DOES_NOT_APPLY") : job_instance.getCompletedDate().iso8601 -%></td>
                    <td class="duration"><%= job_instance.isIgnored() ? l.string("DOES_NOT_APPLY") : job_instance.getDuration() -%></td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <%= render :partial => "shared/pagination_bar.html", :locals => {:scope => {:pagination => @job_instances.getPagination(), :page_handler => :job_on_agent_page_handler}} -%>
    </div>
<% end %>