<li role="presentation">
  <%= link_to "Pipelines", pipeline_groups_path -%>
</li>
<li role="presentation">
  <%= link_to "Templates", templates_path -%>
</li>
<li role="presentation">
  <%= link_to 'Elastic Agent Profiles', admin_elastic_profiles_path -%>
</li>
<li role="presentation">
  <%= link_to "Config XML", pipelines_snippet_path -%>
</li>
<li role="presentation">
  <%= link_to "Plugins", plugin_listing_path -%>
</li>
<li role="presentation">
  <%= link_to "Package Repositories", package_repositories_new_path -%>
</li>