<li role="presentation">
    <%= link_to 'Pipelines', pipeline_groups_path -%>
</li>
<li role="presentation">
  <a href="/go/admin/config_repos">Config Repositories</a>
</li>
<li role="presentation">
  <%= link_to 'Environments', environments_path -%>
</li>
<li role="presentation">
  <%= link_to 'Templates', templates_path -%>
</li>
<li role="presentation">
  <%= link_to 'Elastic Agent Profiles', '/go/admin/elastic_profiles' -%>
</li>
<li role="presentation">
  <%= link_to 'Artifact Stores', '/go/admin/artifact_stores' -%>
</li>
<li role="presentation">
    <%= link_to 'Config XML', config_view_path -%>
</li>
<li role="presentation">
  <%= link_to 'Data Sharing', '/go/admin/data_sharing/settings' -%>
</li>
<li role="presentation">
    <%= link_to 'Server Configuration', edit_server_config_path -%>
</li>
<li role="presentation">
    <%= link_to "User Summary", '/go/admin/users' -%>
</li>
<li role="presentation">
    <%= link_to "Backup", '/go/admin/backup' -%>
</li>
<li role="presentation">
  <%= link_to 'Plugins', '/go/admin/plugins' -%>
</li>
<li role="presentation">
    <%= link_to 'Package Repositories', package_repositories_new_path -%>
</li>
<li role="presentation" class="sub-menu">
  <a href="#">Security</a>
  <ul class="dropdown menu" data-dropdown-menu>
    <li role="presentation">
      <%= link_to "Authorization Configuration", '/go/admin/security/auth_configs' -%>
    </li>
    <li role="presentation">
      <%= link_to "Role Configuration", '/go/admin/security/roles' -%>
    </li>
  </ul>
</li>
