<li role="presentation">
    <%= link_to l.string("PIPELINES_POPUP_TITLE"), pipeline_groups_path -%>
</li>
<%- if is_user_a_template_admin? -%>
    <%= render :partial => 'shared/dropdown_template_admin.html' -%>
<%- end -%>
<li role="presentation">
    <%= link_to l.string("PIPELINES_SNIPPET"), pipelines_snippet_path -%>
</li>
<li role="presentation">
    <%= link_to l.string("PLUGINS_TAB"), plugins_listing_path -%>
</li>
<li role="presentation">
    <%= link_to l.string("PACKAGE_REPOSITORY_TAB"), package_repositories_new_path -%>
</li>