<% license_expiry_time = session.delete("LICENSE_EXPIRING_IN")
   if license_expiry_time -%>
    <div class="hidden">
        <div  class="license_about_to_expire content">
            <% if license_expiry_time <= 0 -%>
                <div class="title"><%= l.string("LICENSE_EXPIRED_TITLE") -%></div>
            <% else -%>
                <div class="title"><%= l.string("LICENSE_ABOUT_EXPIRE_TITLE", [license_expiry_time]) -%></div>
            <% end -%>
            <div class="suggestion"><%= l.string("LICENSE_ABOUT_EXPIRE_SUGGESTION") -%></div>
            <button class="primary left submit close_modalbox_control" onclick="Modalbox.hide();"><span><%= l.string("LICENSE_ABOUT_EXPIRE_BUTTON_REMIND_LATER") -%></span></button>
            <div style="display:none">
                <%= form_tag(dismiss_license_expiry_warning_path, :method => 'POST', :onsubmit => "return AjaxForm.jquery_ajax_submit(this, AjaxForm.NonRedirectingPopupHandler);") -%>
                    <%= submit_button(l.string("LICENSE_DO_NOT_SHOW_ME_AGAIN"), :class => 'primary finish') %>
                <%= end_form_tag -%>
            </div>
        </div>
    </div>
    <script>
        Util.on_load(function() {
            Modalbox.show(jQuery('.license_about_to_expire.content')[0], {overlayClose: false, title: '<%= l.string("LICENSE_ABOUT_EXPIRE_POPUP_TITLE") %>'});
        });
    </script>
<% end -%>