<div class="change">
    <div class="revision">
        <dl>
            <dt><%= l.string('REVISION:') -%></dt>
            <dd><%= scope[:modification].getRevision() -%></dd>
        </dl>
    </div>
    <div class="modified_by">
        <dl>
            <dt><%= l.string('MODIFIED_BY:') -%></dt>
            <dd><%= h(l.modified_by(scope[:modification].getUserDisplayName(), scope[:modification].getModifiedTime().iso8601)) -%></dd>
        </dl>
    </div>
    <div class="comment">
        <dl>
            <dt><%= l.string('COMMENT:') -%></dt>
            <dd>
                <div class='container'>
                    <%= render_comment(scope[:modification], scope[:pipeline_name]) -%>
                </div>

            </dd>
        </dl>
    </div>
    <% if scope[:show_files] -%>
        <div class="modified_files">
            <% scope[:modification].getModifiedFiles().each do |file_in_mod| %>
                <div class="<%= file_in_mod.getAction() -%>"><%= file_in_mod.getFileName() -%></div>
            <% end %>
        </div>
    <% end -%>
</div>