<%
   scope[:state] = scope[:stage].getState()
   scope[:stage_name] = scope[:stage].getName()
   scope[:last_run_stage] = scope[:pipeline].isLatestStage(scope[:stage])
%>
<div class="stage_bar_wrapper <%= scope[:last_run_stage] ? " last_run_stage" : "" -%>">
    <div class="stage_bar <%= scope[:state] -%>" title="<%= "%s (%s)" % [scope[:stage_name], scope[:state]] -%>" data-stage="<%= scope[:stage_name] %>" style='width: <%= stage_width_em(scope[:pipeline].getStageHistory().size(), scope[:last_run_stage], scope[:total_width]) -%>'>
      <span><span></span></span>
    </div>
</div>
