<%- @view_title = "Agent Details" -%>
<div class="sub_tabs_container">
    <ul class="tabs">
        <li class="current_tab">
            <a href="#"><%=l.string("DETAILS")-%></a>
        </li>
        <%- if is_user_an_admin? -%>
        <li>
            <a href="#" onclick='location.href = "<%=job_run_history_on_agent_path(:uuid => @agent.getUuid)-%>"'><%=l.string("JOB_RUN_HISTORY")-%></a>
        </li>
        <%- end -%>
    </ul>
</div>
<div class="agent_details_pane">
    <div class="free_space">
        <label class="inline"><%= l.string("FREE_SPACE")-%></label>
        <span><%= @agent.freeDiskSpace() %></span>
    </div>
    <div class="sandbox">
        <label class="inline"><%= l.string("SANDBOX")-%></label>
        <span><%= label_for(@agent.getLocation(), l.string("UNKNOWN")) %></span>
    </div>
    <div class="ip">
        <label class="inline"><%= l.string("IP_ADDRESS")-%></label>
        <span><%= @agent.getIpAddress() %></span>
    </div>
    <div class="os">
        <label class="inline"><%= l.string("OS")-%></label>
        <span><%= label_for(@agent.getOperatingSystem(), l.string("UNKNOWN")) %></span>
    </div>
    <div class="resources">
        <label class="inline"><%= l.string("RESOURCES")-%>:</label>
        <span><%= join_with_pipe(l.string("NO_RESOURCES_SPECIFIED"), @agent.getResources()) %></span>
    </div>
    <div class="environments">
        <label class="inline"><%= l.string("ENVIRONMENTS")-%>:</label>
        <span><%= join_with_pipe(l.string("NO_ENVIRONMENTS_SPECIFIED"), @agent.environments()) %></span>
    </div>

</div>
