<div class="application_nav">
  <%= hidden_field_tag("server_time", Time.now.to_i, :id => "server_timestamp") -%>
        <ul class="user">
          <li class="help">
            <%= link_to(l.string("HELP_SMALL"), "https://go.cd/help", :target => "_blank") %>
          </li>
          <% unless @user.anonymous? %>
            <li class="current_user icon">
                <a href="#" class="current_user_name dropdown-arrow-icon"><%= @user.display_name %></a>
                <ul class='enhanced_dropdown hidden'>
                    <li>
                        <%= link_to l.string('PREFERENCES_LOWER'), url_for_path('/tab/mycruise/user') %>
                    </li>
                    <li class="logout">
                        <%= link_to l.string('Sign out'), url_for_path('auth/logout'), :id => "nav-logout", :class => "sign_out" %>
                    </li>
                </ul>
            </li>
            <% end %>
        </ul>

    <% if check_go_updates? and go_update %>
        <div class="notifications">
            <span class="bell"></span>
            <div class="hover-container">
                <div class="hover">
                    <span>A new release of GoCD - <a href="http://www.go.cd/download/" target="_blank"><%= go_update %></a> is available.</span>
                </div>
            </div>
        </div>
    <% end %>

  <% unless @no_tabs %>
    <ul class="tabs">
        <li id='cruise-header-tab-pipelines' class="<%= "current" if @current_tab_name == "pipelines" %>">
            <%= link_to l.string('PIPELINES'), main_app.pipeline_dashboard_path -%>
        </li>
        <li id='cruise-header-tab-environments' class="<%= "current" if @current_tab_name == "environments" %>">
            <%= link_to l.string('ENVIRONMENTS_CAPS'), main_app.environments_path -%>
        </li>
        <li id='cruise-header-tab-agents' class="<%= "current" if @current_tab_name == "agents" %>">
            <%= link_to l.string('AGENTS'), main_app.agents_path -%>
        </li>
        <li id="cruise-header-tab-admin" class="<%="current" if @current_tab_name == "admin"%>">
            <%
               admin_header_link_label = l.string("ADMIN")
            %>
            <% unless can_view_admin_page? -%>
                <span><%= admin_header_link_label -%></span>
            <% else -%>
                <%= link_to admin_header_link_label, '#', 'data-toggle' => 'dropdown', 'class' => 'dropdown-arrow-icon' -%>
                <ul class="dropdown-menu" role="menu">
                    <%- if is_user_an_admin? -%>
                        <%= render :partial => 'shared/dropdown_admin.html' -%>
                    <%- elsif is_user_a_group_admin? -%>
                        <%= render :partial => 'shared/dropdown_pipeline_group_admin.html' -%>
                    <%- elsif is_user_a_template_admin? -%>
                        <%= render :partial => 'shared/dropdown_template_admin.html' -%>
                    <%- end -%>
                </ul>
            <% end -%>
        </li>
    </ul>
    <%= render :partial => "shared/error_messaging_counter" %>
  <% end %>
</div>
<div id="back_to_top" class='back_to_top' title="Scroll to Top">Top</div>
