<li role="presentation">
    <%= link_to l.string("PIPELINES_POPUP_TITLE"), main_app.pipeline_groups_path -%>
</li>
<li role="presentation">
  <%= link_to l.string("TEMPLATES"), main_app.templates_path -%>
</li>
<li role="presentation">
  <%= link_to 'Elastic Agent Profiles', admin_elastic_profiles_path -%>
</li>
<li role="presentation">
    <%= link_to l.string("PIPELINES_SNIPPET"), main_app.pipelines_snippet_path -%>
</li>
<li role="presentation">
  <%= link_to l.string("PLUGINS_TAB"), plugin_listing_path -%>
</li>
<li role="presentation">
    <%= link_to l.string("PACKAGE_REPOSITORY_TAB"), main_app.package_repositories_new_path -%>
</li>