<title>
    <%= @view_title %> - Go
</title>
<%= yield :before_stylesheets %>
<%= stylesheet_link_tag "application", {media: "all", debug: Rails.env.development? && params[:debug_assets]} %>
<%= stylesheet_link_tag "patterns/application", {media: "all", debug: Rails.env.development? && params[:debug_assets]} %>

<%= javascript_include_tag "application", debug: Rails.env.development? && params[:debug_assets] %>
<![if !IE]>
    <%= javascript_include_tag 'lib/d3-3.1.5.min' %>
<![endif]>
<!--[if gt IE 8]><!-->
    <%= javascript_include_tag 'lib/d3-3.1.5.min' %>
<!--<![endif]-->

<%= yield :after_javascript %>
<link rel="shortcut icon" href="<%=asset_path('cruise.ico')%>"/>