<title>
    <%= @view_title %> - Go
</title>
<%= yield :before_stylesheets %>
<%= render :partial => "shared/css" %>

<!-- START: prototype hooks for css injection -->
<% if params[:controller] == "prototype" %>
    <%= stylesheet_link_tag "prototype_#{params[:action]}" %>
<% end %>
<% if params[:css_file] %>
    <%= stylesheet_link_tag "#{params[:css_file]}" %>
<% end %>

<!-- END: prototype hooks for css injection -->

<%= javascript_include_tag "application"%>


<![if !IE]>
    <%= javascript_include_tag 'lib/d3-3.1.5.min' %>
<![endif]>
<!--[if gt IE 8]><!-->
    <%= javascript_include_tag 'lib/d3-3.1.5.min' %>
<!--<![endif]-->

<%= yield :after_javascript %>
<link rel="shortcut icon" href="<%=image_path('cruise.ico')%>"/>