<script type="text/javascript">
    var chart;
    jQuery(document).ready(function() {
        Highcharts.setOptions({
            lang: {
                resetZoom: ''
            }
        });
        chart = new Highcharts.Chart({
            chart: {
                type: 'line',
                zoomType: 'xy',
                className: "stage_duration_chart",
                renderTo: 'highcharts',
                animation:'true',
                events:{
                        selection:function(event) {
                            if(!event.resetSelection){
                                this.setTitle({ text: ' '});
                            }
                        }
                }
            },
            title: {
                text: "<%= l.string("STAGE_DURATION_TITLE", scope[:start_end_dates])-%>",
                style: {
                    fontWeight: 'bold',
                    color: 'black',
                    fontFamily: 'arial, helvetica, serif'
                }
            },
            subtitle: {
              text: "<%= l.string("CHART_ZOOM_SUBTITLE")-%>",
              style: {
                color: '#666666'
              }
            },
            credits: {
                enabled:false
            },
            legend: {
              align: 'right',
              verticalAlign: 'top',
              borderWidth: 0,
              floating: true,
              margin: 0,
              x: 10,
              y: 20
            },
            yAxis: {
                min: 0,
                startOnTick: false,
                title: {
                    text: "<%= l.string("STAGE_DURATION_SCALE", scope[:chart_scale])-%>"
                },
                events: {
                    setExtremes: function() {
                        jQuery("#reset_zoom").show();
                    }
                }
            },
            xAxis: {
                min:0,
                allowDecimals : false,
                maxZoom: 40,
                title: {
                    text: '<%= l.string("PIPELINE_COUNTER") %>'
                },
                events: {
                    setExtremes: function() {
                        jQuery('#reset_zoom').show();
                    }
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal'
                },
                line: {
                  marker: {
                    enabled: true,
                    radius: 4,
                    states: {
                      hover: {
                        enabled: true,
                        radius: 8
                      }
                    }
                  },
                  lineWidth: 2,
                  states: {
                    hover: {
                      lineWidth: 2
                    }
                  }
                },
                series: {
                    minPointLength: 3,
                    cursor: "pointer",
                    shadow: false,
                    point: {
                        events: {
                            click: function() {
                                window.location.href = this.link;
                            }
                        }
                    }
                }
            },
            tooltip: {
                backgroundColor: "#FFF",
                style: {
                  color: "#333",
                  fontSize: "11px"
                },
                formatter: function() {
                    var key = this.point.key;
                    return  ''+
                            '<b>Label:</b> ' + this.series.options.tooltipData[key][2] +
                            '<br/><b>Duration:</b> ' + this.series.options.tooltipData[key][0] +
                            '<br/><b>Started At:</b>: ' + this.series.options.tooltipData[key][1] +
                            ''
                }
            },
            series: [
                {
                    name: "Failed",
                    color: '#FA2D2D',
                    data: <%== scope[:chart_stage_duration_failed] -%>,
                    tooltipData: <%== scope[:chart_tooltip_data_failed] -%>
                },
                {
                    name: "Passed",
                    color: '#78C42D',
                    data: <%== scope[:chart_stage_duration_passed] -%>,
                    tooltipData: <%== scope[:chart_tooltip_data_passed] -%>
                }
            ]
        }, function(chart) {
            var extremes_x = chart.xAxis[0].getExtremes();
            var extremes_y = chart.yAxis[0].getExtremes();
            jQuery('#reset_zoom').click(function() {
                chart.xAxis[0].setExtremes(extremes_x.min, extremes_x.max);
                chart.yAxis[0].setExtremes(extremes_y.min, extremes_y.max);
                chart.setTitle({ text: "<%= l.string("STAGE_DURATION_TITLE", scope[:start_end_dates])-%>"});
                $(this).hide();
            });
        });
    });
</script>
<style type="text/css">
    tspan { line-height: 150%; }
</style>
<a id="reset_zoom" style="display: none;" class="link_as_button reset_zoom_link">Reset zoom</a>
<div id="highcharts" style="width: 100%; height: 400px;">

</div>
