<%= pipeline_operations_blocking_form_remote_tag :url => { :controller => 'pipelines', :action => 'show_for_trigger' },
                             :html => {
                                     :onsubmit => "PipelineOperations.onTriggerWithOptions(this, '#{scope[:pipeline].getName()}', '#{l.string('TRIGGER')}', '#{pipeline_show_with_option_path}'); return false;".html_safe
                             }

-%>
    <input type="hidden" name="pipeline_name" value="<%=scope[:pipeline_name]=scope[:pipeline].getName()%>"/>
    <div class='operate trigger_with_options_wrapper'>
        <%= submit_button(scope[:label], :type => 'image', :disabled => !scope[:can_trigger], :id => "deploy-with-options-#{scope[:pipeline].getName()}") -%>
    </div>
    <% if scope[:has_upstream_material] %>
        <input type="hidden" name="pegged_revisions[<%= scope[:pegged_pipeline] %>]" value="<%= scope[:pegged_revision] %>"/>
    <% end%>
<%== end_form_tag %>