<h3><%= l.string("BLACKLIST") -%></h3>

<div class="fieldset">
    <label><%= l.string("BLACKLIST_DESCRIPTION") -%></label>
    <% scope[:form].object.filter().each do |ignored_file|
        error = ignored_file.errors().on(com.thoughtworks.go.config.materials.IgnoredFiles::PATTERN)
        if error
            scope[:form].object.errors().add(com.thoughtworks.go.config.materials.ScmMaterialConfig::FILTER, error)
        end
    end %>

    <%= scope[:form].text_area(com.thoughtworks.go.config.materials.ScmMaterialConfig::FILTER, {:class => "form_input", :id => nil, :rows => 2}) -%>
    <%= error_message_on(scope[:form].object, com.thoughtworks.go.config.materials.ScmMaterialConfig::FILTER, :css_class => "form_error") %>
    <div class="clear"></div>

    <div class="form_item_block checkbox_row material_options">
      <%= scope[:form].check_box(com.thoughtworks.go.config.materials.ScmMaterialConfig::INVERT_FILTER, {:class => "form_input"}, "true") -%>
      <%= scope[:form].label(com.thoughtworks.go.config.materials.ScmMaterialConfig::INVERT_FILTER, l.string('INVERT_FILTER')) %>
    </div>

</div>
