<%
   scope[:password_class] ||= 'password'
%>
<div class="form_item_block">
    <label><%= l.string('PASSWORD') -%></label>
    <%= scope[:form].hidden_field(com.thoughtworks.go.config.materials.ScmMaterialConfig::ENCRYPTED_PASSWORD, {:class => "form_input encrypted_password"}) -%>
    <%= scope[:form].password_field(com.thoughtworks.go.config.materials.ScmMaterialConfig::PASSWORD, {:class => "form_input #{scope[:password_class]}", :autocomplete => "off" }) -%>
    <%= error_message_on(scope[:form].object, com.thoughtworks.go.config.materials.ScmMaterialConfig::PASSWORD, :css_class => "form_error") %>

    <div class="hidden">
        <%= scope[:form].check_box(com.thoughtworks.go.config.materials.ScmMaterialConfig::PASSWORD_CHANGED, {:class => "form_input password_changed", :value => "1", :checked => true, :include_hidden => false}) -%>
    </div>
</div>
