<%- @tab_name = 'pipeline-groups' -%>
<%- @view_title = 'Administration' %>

<div class="group_pipelines">
  <h1>
    Pipelines
    <span class="title_secondary_info">
      <% if @groups.size() == 0 %>
        <%= link_to 'Create a new pipeline', spark_pipelines_new_path(:group => com.thoughtworks.go.config.PipelineConfigs::DEFAULT_GROUP), :class => "link_as_button primary add_pipeline_to_group" -%>
      <% end %>
      <% if is_user_an_admin? %>
        <a href="#" class="link_as_button primary" onclick="Modalbox.show('<%= pipeline_group_new_path -%>', {overlayClose: false,title: 'Add New Pipeline Group'})">
          Add New Pipeline Group
        </a>
      <% end %>
    </span>
  </h1>
  <div id="shared_micro_dropdown" class="hidden enhanced_dropdown">
    <div class="resources_selector scrollable_panel" id="shared_micro_dropdown_content">
    </div>
  </div>

  <% @groups.each do |group| %>
      <div class="group pipeline_group">
        <h2 class="group_name entity_title wrapped_word" id="group-<%= group.getGroup() %>"><%= group.getGroup() %></h2>
        <div class="title_action_wrapper">
          <ul>
            <li>
              <%= link_to 'Edit', pipeline_group_edit_path(:group_name => group.getGroup()), :class => "group_name_edit action_icon edit_icon" %>
            </li>
            <li>
              <% if is_user_an_admin? %>
                  <%= render :partial => 'delete_pipeline_group', :locals => {:scope => {:group => group}} %>
              <% end %>
            </li>
          </ul>
        </div>


        <% if group.isEmpty() %>
            <div class="no_pipeline_in_group">
              <div class="information">No pipelines associated with this group</div>
            </div>
            <div class="add_first_pipeline_in_group">
              <%= link_to 'Create a new pipeline within this group', spark_pipelines_new_path(:group => group.getGroup()), :class => "add_link add_pipeline_to_group" -%>
            </div>
        <% else %>

            <table class="list_table">
              <thead>
              <tr class="pipeline">
                <th class="name">Pipeline</th>
                <th class="actions">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% group.each do |pipeline| %>
                  <tr class="pipeline">
                    <td class="name">
                      <% if pipeline.isLocal() %>
                          <%= link_to pipeline.name(), edit_path_for_pipeline(pipeline.name()), :class => 'wrapped_word' %>
                      <% else %>
                                 <span class="wrapped_word">
                                    <%= pipeline.name() %>
                                 </span>
                      <% end %>
                    </td>
                    <td class="actions">
                      <ul>
                        <li>
                          <% if pipeline.isLocal() %>
                                  <%= link_to 'Edit', edit_path_for_pipeline(pipeline.name()), :class => "edit_pipeline edit_for_pipeline_#{pipeline.name()} action_icon edit_icon" %>
                          <% else %>
																				<span class="edit_pipeline action_icon edit_icon_disabled edit_for_pipeline_<%= pipeline.name() -%> action_icon" title="Cannot edit pipeline defined in configuration repository.">
																					Edit
																				</span>
                          <% end %>
                        </li>
                        <%- if pipeline.isLocal() && @groups.size() > 1 -%>
                            <li>
                              <a id="a_move_<%= pipeline.name() -%>" href="<%= possible_groups_path(with_md5_param(:pipeline_name => pipeline.name())) -%>" class="move_pipeline move_icon action_icon">Move to
                                <span class="for_down_arrow">&nbsp;</span>
                              </a>
                            </li>
                        <%- end -%>
                        <li>
                          <%= link_to("#{spark_url_for({request: request}, SparkRoutes::Export.pipeline(pipeline.name().toString()))}", :class => "export_icon action_icon export_pipeline_config") do -%>
                            Export using
                            <span class="for_down_arrow">&nbsp;</span>
                          <% end -%>
                        </li>
                        <li>
                          <% if pipeline.isLocal() %>
                              <% pipeline_random_id_for_clone = random_dom_id('clone_button_for_') -%>
                              <a href="#" class="clone_pipeline clone_icon action_icon clone_button_for_<%= pipeline.name() -%>" id="<%= pipeline_random_id_for_clone -%>">
                                Clone
                              </a>
                              <script type="text/javascript">
                                Util.on_load(function () {
                                  jQuery("#<%=pipeline_random_id_for_clone-%>").live('click', function () {
                                    var titleText = <%== "#{'Clone Pipeline'} - #{pipeline.name()}".to_json %>;
                                    Util.ajax_modal("<%= pipeline_clone_path(:pipeline_name => pipeline.name(), :group => group.getGroup()) -%>", {
                                      width: 805,
                                      title: titleText
                                    }, function (text) {
                                      return text
                                    });
                                  });
                                });
                              </script>
                          <% else %>
																				<span class="action_icon clone_icon_disabled clone_button_for_<%= pipeline.name() -%>" title="Cannot clone pipeline defined in configuration repository.">
																					Clone
																				</span>
                          <% end %>
                        </li>
                        <li>
                          <%= render :partial => "delete_pipeline", :locals => {:scope => {:pipeline => pipeline, :pipeline_to_can_delete => @pipeline_to_can_delete}} %>
                        </li>
                        <li>
                          <% if pipeline.hasTemplate() %>
                                               <span class="action_icon add_icon_disabled extract_template_for_pipeline_<%= pipeline.name() -%>" title="This pipeline is already using a template.">
                                                   Extract Template
                                               </span>
                          <% elsif !pipeline.isLocal() %>
	                                               <span class="action_icon add_icon_disabled extract_template_for_pipeline_<%= pipeline.name() -%>" title="This pipeline is defined in configuration repository.">
	                                                   Extract Template
	                                               </span>
                          <% else %>
                                                <span class="title_secondary_info extract_template_for_pipeline_<%= pipeline.name() -%>">
                                                <a href="#" class="add_link" onclick="Util.ajax_modal('<%= template_new_path(:pipelineToExtractFrom => pipeline.name()) -%>', {overlayClose: false, title: 'Extract Template'}, function(text){return text})">
                                                    Extract Template
                                                </a>
                                             </span>
                          <% end %>
                        </li>
                      </ul>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
            <%= link_to 'Create a new pipeline within this group', spark_pipelines_new_path(:group => group.getGroup()), :class => "add_link add_pipeline_to_group" -%>
        <% end %>
      </div>
  <% end %>


</div>

<script type="text/javascript">
  (function ($) {
    "use strict";

    var dropdownElement = document.getElementById("shared_micro_dropdown"),
        dropdownContent = dropdownElement.querySelector("#shared_micro_dropdown_content");

    PipelineExport.init();

    var exportPopup = new MicroContentPopup(dropdownElement, $.extend(new MicroContentPopup.PropagateAllHandler(), {
      before_show: function(e) {
        PipelineExport.showExportOptions(dropdownContent, e.currentTarget, exportPopupShower.close);
      }
    }));

    var exportPopupShower = new MicroContentPopup.Shower(exportPopup);
    $(".group_pipelines").on("click", ".export_pipeline_config", function (e) {
      e.preventDefault();
      e.stopPropagation();

      if ($(e.currentTarget).is(".loading")) {
        return;
      }

      exportPopupShower.toggle_popup(e, this);
    });

    $("li.move_to_group_option").live("click", function (event) {
      var li = $(this);
      var form = li.parents("form").get(0);
      $(form["group_name"]).val(li.text());
      form.submit();
    });

    AjaxForm.error_box_selector = "#MB_content";

    var groupPopup = new MicroContentPopup(dropdownElement, new ContextualPropagatingAjaxPopupHandler(dropdownContent,
      function (event) {
        var moveurl = event.target.getAttribute("href");
        if (moveurl == null) {
          moveurl = $(event.target).parent("a").attr("href");
        }
        return moveurl;
      }));

    var groupPopupShower = new MicroContentPopup.LiveShower(groupPopup);

    $(".move_pipeline").live("click", function (event) {
      groupPopupShower.toggle_popup(event, this);
    });
  })(jQuery);
</script>
