<header class="page-header no-buttons">
  <h1 id="page-title"><%= @view_title %></h1>
</header>

<ul class="sub-tab-navigation">
  <li class="current"><a>Notifications</a></li>
  <li><%= link_to "OAuth Access Token", oauth_engine.user_tokens_index_path %></li>
</ul>
<div class="sub-tab-content">

  <% unless go_config_service.isSmtpEnabled %>
    <div class="callout warning">
      SMTP settings are currently not configured. If you are the administrator, you can configure email support at <%= link_to "Server Configuration", config_view_path %>.
    </div>
  <% end %>

  <div id="validations"></div>

  <h2 class="my-notifications">My Notifications</h2>

  <div id="notification-prefs" class="notification-content"
       data-user-url="<%= apiv1_current_user_path(current_user.username.to_s) %>"
       data-filters-url="<%= apiv1_notification_filters_path(current_user.username.to_s) %>"
       data-pipelines="<%= @pipelines.to_json %>"
       data-smtp-configured="<%= go_config_service.isSmtpEnabled %>">
  </div>
</div>
