<div id="about-page">
  <div>
    <h1>Server Info</h1>

    <table>
      <tbody>
      <tr>
        <td>Go Server Version:</td>
        <td><%= version %></td>
      </tr>
      <tr>
        <td>JVM version:</td>
        <td><%= jvm_version %></td>
      </tr>
      <tr>
        <td>OS Information:</td>
        <td><%= os_information %></td>
      </tr>
      <tr>
        <td>Usable space in artifacts repository:</td>
        <td><%= available_space %></td>
      </tr>
      <tr>
        <td>Database schema version:</td>
        <td><%= schema_version %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>