<div class="form_content">
    <%= scope[:form].fields_for(:pipeline, scope[:pipeline]) do |p_f| %>
        <% material_configs = scope[:pipeline].materialConfigs()
           svn_material = material_configs.getSvnMaterial()
           tfs_material = material_configs.getTfsMaterial()
           hg_material = material_configs.getHgMaterial()
           git_material = material_configs.getGitMaterial()
           p4_material = material_configs.getP4Material()
           dependency_material = material_configs.getDependencyMaterial()
           package_material = material_configs.getPackageMaterial()
        -%>
        <div id="material_forms" class=fieldset>
            <div class="form_item">
                <%= render :partial => "wizard_step_title.html", :locals => { :scope => {:step => scope[:step], :title => scope[:title]}} %>
            </div>
            <%= p_f.fields_for(:materials, material_configs) do |materials_form| %>
                <div class="form_item required">
                    <%= label_tag random_dom_id('material_type_'), required_label_text(l.string("MATERIAL_TYPE")) %>
                    <%= select(materials_form.object_name, com.thoughtworks.go.config.materials.AbstractMaterialConfig::MATERIAL_TYPE, material_options, {:selected => material_configs.getMaterialOptions()}, {:class => "material_type", :id => "material_type_options"}) %>
                </div>

                <div class="hidden material_entry SvnMaterial">
                    <%= materials_form.fields_for com.thoughtworks.go.config.materials.svn.SvnMaterialConfig::TYPE, svn_material do |svn_form| %>
                        <%= render :partial => 'admin/pipelines/materials/svn_material_form.html', :locals => {:scope => {:form => svn_form, :material => svn_material}} %>
                        <%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>
                    <% end %>
                </div>

                <div class="hidden material_entry GitMaterial">
                    <%= materials_form.fields_for com.thoughtworks.go.config.materials.git.GitMaterialConfig::TYPE, git_material do |git_form| %>
                        <%= render :partial => "admin/pipelines/materials/git_form.html", :locals => {:scope => {:form => git_form, :material => git_material}} -%>
                    <% end %>
                </div>

                <div class="hidden material_entry HgMaterial">
                    <%= materials_form.fields_for com.thoughtworks.go.config.materials.mercurial.HgMaterialConfig::TYPE, hg_material do |hg_form| %>
                        <%= render :partial => "admin/pipelines/materials/hg_form.html", :locals => {:scope => {:form => hg_form, :material => hg_material}} -%>
                    <% end %>
                </div>

                <div class="hidden material_entry P4Material">
                    <%= materials_form.fields_for com.thoughtworks.go.config.materials.perforce.P4MaterialConfig::TYPE, p4_material do |p4_form| %>
                        <%= render :partial => "admin/pipelines/materials/p4_form.html", :locals => {:scope => {:form => p4_form, :material => p4_material}} -%>
                    <% end %>
                </div>

                <div class="hidden material_entry TfsMaterial">
                    <%= materials_form.fields_for com.thoughtworks.go.config.materials.tfs.TfsMaterialConfig::TYPE, tfs_material do |tfs_form| %>
                        <%= render :partial => "admin/pipelines/materials/tfs_form.html", :locals => {:scope => {:form => tfs_form, :material => tfs_material}} -%>
                    <% end %>
                </div>

                <div class="hidden material_entry DependencyMaterial">
                    <%= materials_form.fields_for com.thoughtworks.go.config.materials.dependency.DependencyMaterialConfig::TYPE, dependency_material do |dependency_form| %>
                        <%= render :partial => "admin/pipelines/materials/dependency_form.html", :locals => {:scope => {:form => dependency_form, :material => dependency_material}} -%>
                    <% end %>
                </div>

                <div class="hidden material_entry PackageMaterial">
                    <%= materials_form.fields_for com.thoughtworks.go.config.materials.PackageMaterialConfig::TYPE, package_material do |package_form| %>
                        <%= render :partial => "admin/pipelines/materials/package_material_form.html", :locals => {:scope => {:form => package_form, :material => package_material}} -%>
                    <% end %>
                </div>

            <% end %>
        </div>
    <% end %>
</div>
<script type="text/javascript">
    Util.on_load(function() {
        new TaskEditor.TypeEditor({container: jQuery('#material_forms'), switch_control: jQuery('#material_type_options'), entry_to_be_hidden: '.material_entry'});
    });
</script>

