<div class="material_title">
    <strong class="wrapped_word"> <%= "#{scope[:material].getTypeForDisplay()}" %> - <%= scope[:material].getDisplayName() -%></strong>
</div>
<table class="list_table dependency_material_modifications">
    <tr>
        <th class="dmr revision"><%= l.string("REVISION") -%></th>
        <th class="dmr label"><%= l.string("LABEL") -%></th>
        <th class="dmr completed_at"><%= l.string("COMPLETED_AT") -%></th>
    </tr>
    <% scope[:material_revision_in_diff_revisions].getModifications().each do |modification_in_diff_material_revision| %>
        <tr class="change">
            <td class="revision">
                <%== link_to(modification_in_diff_material_revision.getRevision(), path_for_stage(stage_identifier_for_locator(modification_in_diff_material_revision.getRevision()))) -%>
            </td>
            <td class="label">
                <%== stage_identifier = stage_identifier_for_locator(modification_in_diff_material_revision.getRevision())
                    link_to(modification_in_diff_material_revision.getPipelineLabel(), vsm_show_path(stage_identifier.getPipelineName(),stage_identifier.getPipelineCounter())) -%>
            </td>
            <td class="completed_at wrapped_word">
                <%= modification_in_diff_material_revision.getModifiedTime().iso8601 -%>
            </td>
        </tr>
    <% end %>
</table>
