
    <div class="material_title">
        <strong> <%== "#{scope[:material].getTypeForDisplay()}" %> - <%= "#{scope[:material].getLongDescription()}" -%></strong>
    </div>
    <table class="list_table material_modifications">
        <tr>
            <th class="revision"><%= l.string("REVISION") -%></th>
            <th class="modified_by"><%= l.string("MODIFIED_BY") -%></th>
            <th class="comment"><%= l.string("COMMENT") -%></th>
        </tr>
        <% scope[:material_revision_in_diff_revisions].getModifications().each do |modification_in_diff_material_revision| %>
            <tr class="change">
                <td class="revision wrapped_word">
                    <%= modification_in_diff_material_revision.getRevision() %>
                </td>
                <td class="modified_by">
                    <span class="wrapped_word"> <%= modification_in_diff_material_revision.getUserDisplayName() %></span>
                    <br/>
                    <span class="wrapped_word"> <%= modification_in_diff_material_revision.getModifiedTime().iso8601 %></span>
                </td>
                <td class="comment">
                    <%- if params[:pipeline_name] -%>
                        <%= render_comment(modification_in_diff_material_revision, params[:pipeline_name]) -%>
                    <%- else -%>
                        <%= modification_in_diff_material_revision.getComment() -%>
                    <%- end -%>
                </td>
            </tr>
        <% end %>
    </table>
