<% @view_title = l.string("ADD_PIPELINE") -%>
<% @page_header = "<h1 id=\"page-title\" class=\"entity_title\">#{l.string("ADD_PIPELINE")}</h1>" -%>

<div class="content_wrapper_inner">
  <div class="row">
    <%= render :partial => "admin/shared/global_errors.html", :locals => {:scope => {}} -%>

    <%= form_for @pipeline_group, :as => :pipeline_group, :url => pipeline_create_path, :html => {"novalidate"=> "novalidate", :method => :post, :name => "pipeline_edit_form", :id => "pipeline_edit_form"} do |f| %>
        <%= md5_field -%>
        <div class="steps_wrapper sub_tabs_container">
            <ul class="tabs">
                <li id="step1_link" class="current_tab disabled">
                    <a href="#">
                        <div><%= l.string("WIZARD_STEP", [1]) -%></div><%= l.string("BASIC_SETTINGS") -%></a>
                    <a href="#" class="tab_button_body_match_text">basic-settings</a>
                </li>
                <li id="step2_link" class="subsequent_tab disabled">
                    <a href="#" >
                        <div><%= l.string("WIZARD_STEP", [2]) -%></div><%= l.string("MATERIALS") -%></a>
                    <a href="#" class="tab_button_body_match_text">materials</a>
                </li>
                <li id="step3_link" class="subsequent_tab disabled">
                    <a href="#">
                        <div><%= l.string("WIZARD_STEP", [3]) -%></div><%= l.string("STAGE_AND_JOB") -%></a>
                    <a href="#" class="tab_button_body_match_text">stage-and-job</a>
                </li>
            </ul>
        </div>

        <div class="steps_panes panes sub_tab_container_content">
            <!-- Basic Settings tab -->
            <div id="tab-content-of-basic-settings">
                <%= render :partial => "basic_settings_form.html", :locals => {:scope => {:pipeline => @pipeline, :form => f, :pipeline_group => @pipeline_group, :step => 1, :title => l.string("BASIC_SETTINGS")}} %>
                <%= render :partial => "wizard_finish_buttons.html", :locals => {:scope => {:current_tab_name => "settings", :needs_next => true}} %>
            </div>
            <!-- Materials tab -->
            <div id="tab-content-of-materials">
                <%= render :partial => "material_form.html", :locals => {:scope => {:pipeline => @pipeline, :form => f, :step => 2, :title => l.string("MATERIALS")}} %>
                <%= render :partial => "wizard_finish_buttons.html", :locals => {:scope => {:current_tab_name => "materials", :needs_next => true, :needs_prev => true}} %>
            </div>
            <!-- Stage/Job tab -->
            <div id="tab-content-of-stage-and-job">
                <%= render :partial => "stage_form.html", :locals => {:scope => {:pipeline => @pipeline, :form => f, :step => 3, :title => l.string("STAGE_AND_JOB")}} %>
                <%= render :partial => "wizard_finish_buttons.html", :locals => {:scope => {:current_tab_name => "stage_and_job", :needs_prev => true, :needs_finish => true}} %>
            </div>
        </div>
    <% end %>
</div>
</div>
<script type="text/javascript">
    Util.on_load(function() {
        jQuery.validator.defaults.onsubmit = false;

        <% if flash[:error].nil? %>
          var tab_manager = new TabsManager('basic-settings', 'materials', 'stage-and-job');
          var wizard = new TabsWizard.NewPipelineWizard(tab_manager);

          wizard.addExtraValidations(<%== @all_pipelines.map{|item| item.downcase}.to_json %>);
          wizard.wireButtonsWithValidations([{next_to_settings: "materials"}, {next_to_materials: "stage-and-job"}]);
          wizard.wireButtons({prev_to_materials: "basic-settings", prev_to_stage_and_job: "materials" });
          wizard.hookupFinishValidations();
          wizard.hookupCancel("cancel_button", "<%= pipeline_groups_path %>");
        <% else %>
          jQuery(".sub_tabs_container").hide();
          jQuery(".form_buttons").hide();
          jQuery(".form_buttons:last").show();
          jQuery(".form_buttons:last .prev").hide();
          jQuery('.cancel_button').click(function() {
            window.location.href = "<%= pipeline_groups_path %>";
            return false;
          });
        <% end %>
    });
</script>