<%- @view_title = "Administration" -%>
<div id="plugins-listing">
    <div class="heading">
        <h2>Plugins</h2>
    </div>
    <% if @plugin_descriptors.empty? %>
        <div class="information"><%= l.string("NO_PLUGINS_FOUND") -%><%= @external_plugin_location -%></div>
    <% end %>
    <ul class="plugins">
         <% @plugin_descriptors.each do |descriptor| %>
            <% about = descriptor.about()
               vendor = about.vendor()
            %>
            <li class="plugin <%= descriptor.isInvalid() ? 'disabled' : 'enabled' %>" id="<%= descriptor.id() %>">
                <img src="../images/andare/<%= descriptor.isBundledPlugin() ? 'icon-plugin-default-bundled.png' : '/icon-plugin-default.png' %>" class="plugin-logo" alt="<%= about.name() %>"/>

                <div class="plugin-data">
                    <div class="plugin-details">
                        <span class="name"><%= about.name() %></span>
                        <span class="smaller version"><%= about.version() %></span>
                        <span class=" smaller descriptor-id">[<%= descriptor.id() %>]</span>
                        <span class="plugin-author smaller">
                            <span class="key">Author</span>
                            <% if vendor.url().nil? %>
                                <span class="value"><%= vendor.name() %></span>
                            <% else %>
                                <span class="value"><a href="<%= vendor.url() %>" target="_blank"><%= vendor.name() %></a></span>
                            <% end %>
                        </span>
                    </div>

                    <div class="description"><%= about.description() %></div>

                    <a href="#" class='show-info'>More Information</a>
                    <ul class='more-info-detail' style="display: none">
                        <li class="plugin-location"><span class="key">Loaded from:</span><span class="value"><%= descriptor.pluginFileLocation() %></span></li>
                        <li class="plugin-target-oses">
                            <span class="key">Target operating systems:</span><span class="value"><%= about.targetOperatingSystems().join(", ") %></span>
                        </li>
                        <li class="plugin-target-go-version"><span class="key">Target Go Version:</span><span class="value"><%= about.targetGoVersion() %></span></li>
                        <li class="plugin-bundled-status"><span class="key">Bundled:</span><span class="value"><%= descriptor.isBundledPlugin() ? l.string("YES") : l.string("NO") %></span></li>
                    </ul>

                    <% plugin_messages = descriptor.getStatus().getMessages() %>
                    <% unless plugin_messages.empty? %>
                        <div class="plugin-messages">
                            <span>Messages:</span>
                            <ul>
                                <% plugin_messages.each do |message| %>
                                    <li><%= message -%></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                </div>
            </li>
        <% end %>
    </ul>
</div>

<script type="text/javascript">
    $j(function () {
        $j('.show-info').click(function () {
            $j(this).siblings('.more-info-detail').toggle();
            return false;
        })
    })
</script>
