<%- @view_title = "Administration" -%>
<div id="plugins-listing">

    <% if @plugin_descriptors.empty? %>
        <div class="information"><%= l.string("NO_PLUGINS_FOUND") -%><%= @external_plugin_location -%></div>
    <% end %>

    <% if @upload_feature_enabled %>
    <h2 class="legend"><%= l.string("UPLOAD_PLUGIN") %></h2>
    <div id="upload-plugin">
        <div class="fieldset">
            <div class="form_item">
                <%= form_tag({'action' => :upload}, 'multipart' => true) do %>
                    <label for="plugin"><%= l.string("PLUGIN_JAR") %></label> <%= file_field_tag "plugin" %>
                    <%= submit_tag(l.string("COMMAND_UPLOAD")) %>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>
<div class="heading">
    <h2><%= l.string("INSTALLED_PLUGINS") %></h2>
</div>

    <ul class="plugins">
        <% @plugin_descriptors.each do |descriptor| %>
            <% about = descriptor.about()
               vendor = about.vendor()
            %>
            <li class="plugin <%= descriptor.isInvalid() ? 'disabled' : 'enabled' %>" id="<%= descriptor.id() %>">
                <%- icon_url = descriptor.isBundledPlugin() ? 'andare/icon-plugin-default-bundled.png' : 'andare/icon-plugin-default.png' %>
                <img src="<%= image_path(icon_url) %>" class="plugin-logo" alt="<%= about.name() %>"/>

                <div class="plugin-data">
                    <div class="plugin-details">
                        <% if can_edit_plugin_settings?(descriptor.id()) %>
                            <span class="settings"><%= link_to '', '#', :onclick => "Modalbox.show('#{edit_settings_path(:plugin_id => descriptor.id())}', {overlayClose: false, title: 'Plugin Settings'})", :class => 'icon16 setting-left' -%></span>
                        <% end %>
                        <span class="name"><%= about.name() %></span>
                        <span class="smaller version"><%= about.version() %></span>
                        <span class=" smaller descriptor-id">[<%= descriptor.id() %>]</span>
                      <% if plugin_supports_status_report?(descriptor.id()) && is_user_an_admin?  %>
                          <%= link_to 'Status Report', admin_status_report_path(descriptor.id()), :class => 'btn-primary status-report-btn' -%>
                      <% end %>
                    </div>

                    <div class="description"><%= about.description() %></div>

                    <a href="#" class='show-info'>More Information</a>
                    <ul class='more-info-detail' style="display: none">
                        <li class="plugin-location">
                            <span class="key">Loaded from:</span><span class="value"><%= descriptor.pluginFileLocation() %></span>
                        </li>
                        <li class="plugin-target-oses">
                            <span class="key">Target operating systems:</span><span class="value"><%= about.targetOperatingSystems().join(", ") %></span>
                        </li>
                        <li class="plugin-target-go-version">
                            <span class="key">Target Go Version:</span><span class="value"><%= about.targetGoVersion() %></span>
                        </li>
                        <li class="plugin-bundled-status">
                            <span class="key">Bundled:</span><span class="value"><%= descriptor.isBundledPlugin() ? l.string("YES") : l.string("NO") %></span>
                        </li>
                    </ul>
                    <span class="plugin-author">
                        <span class="key">Author</span>
                        <% if vendor.url().nil? %>
                        <span class="value"><%= vendor.name() %></span>
                        <% else %>
                            <span class="value"><a href="<%= vendor.url() %>" target="_blank"><%= vendor.name() %></a></span>
                        <% end %>
                    </span>

                    <% plugin_messages = descriptor.getStatus().getMessages() %>
                    <% unless plugin_messages.empty? %>
                        <div class="plugin-messages">
                            <span>Messages:</span>
                            <ul>
                                <% plugin_messages.each do |message| %>
                                    <li><%= message -%></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                </div>
            </li>
        <% end %>
    </ul>
</div>

<script type="text/javascript">
    AjaxForm.error_box_selector = '#MB_content';
    $j(function () {
        $j('.show-info').click(function () {
            $j(this).siblings('.more-info-detail').toggle();
            return false;
        })
    })
</script>
