<%- task_type = scope[:task_type] %>
<div class="form_item_block">
    <%= label_tag l.string('BUILD_FILE') -%>
    <%= scope[:form].text_field com.thoughtworks.go.config.BuildTask::BUILD_FILE %>
    <div class="contextual_help has_go_tip_right build_file" title="<%=l.string("TOOLTIP_#{task_type}_BUILD_FILE")-%>"></div>
    <%= error_message_on(scope[:task], com.thoughtworks.go.config.BuildTask::BUILD_FILE, :css_class => "form_error") %>
</div>
<div class="form_item_block">
    <%= label_tag l.string('TARGET') -%>
    <%= scope[:form].text_field com.thoughtworks.go.config.BuildTask::TARGET %>
    <div class="contextual_help has_go_tip_right target" title="<%=l.string("TOOLTIP_#{task_type}_TARGET")-%>"></div>
    <%= error_message_on(scope[:task], com.thoughtworks.go.config.BuildTask::TARGET, :css_class => "form_error") %>
</div>
<div class="form_item_block">
    <%= label_tag l.string('WORKING_DIRECTORY') -%>
    <%= scope[:form].text_field com.thoughtworks.go.config.BuildTask::WORKING_DIRECTORY %>
    <div class="contextual_help has_go_tip_right working_directory" title="<%=l.string("TOOLTIP_#{task_type}_WORKING_DIRECTORY")-%>"></div>
    <%= error_message_on(scope[:task], com.thoughtworks.go.config.BuildTask::WORKING_DIRECTORY, :css_class => "form_error") %>
</div>
