<div class="page_header">
  <div class="row">
    <ul class="entity_title">
      <!--<li><%= link_to 'Administration', spark_url_for({url_builder: controller}, SparkRoutes::AdminPipelines::SPA_BASE) -%></li>-->
      <li><%= link_to 'Pipelines', spark_url_for({url_builder: controller}, SparkRoutes::AdminPipelines::SPA_BASE) -%></li>
      <li class="last"><h1 class='wrapped_word'><%= @pipeline.name() -%></h1></li>
    </ul>
    <div id="pause_info_and_controls" class="admin_pause_info_and_controls clear_float">
      <%= render :partial => "shared/pause_info_and_control.html", :locals => {:scope => {:pause_info => @pause_info, :pipeline_name => @pipeline.name()}} %>
    </div>
  </div>
</div>
<% if @is_config_repo_pipeline %>
  <div class="config-repo-pipeline-info-message">Can not edit pipeline '<%= @pipeline.name() %>' as it is defined in <a href="/go/admin/config_repos#!<%= @pipeline.origin.getConfigRepo.getId %>" target="_blank"><%= @pipeline.origin.getConfigRepo.getId %></a> Config Repository!</div>
<% end %>
