<div id="<%= scope[:stage_id] %>_job_<%= scope[:index] %>" class="definition_view job">
<h3 class="entity_title">
    <ul>
        <li><a href="#<%= scope[:stage_id] %>" title="<%= scope[:stage_name] %>"><%= scope[:stage_name] %> </a></li>
        <li><%= scope[:job].name() %></li>
    </ul>
</h3>
<div class="section summary">
    <fieldset class="job_summary">
        <ul>
            <li class="field resources">
                <label>
                    <span class="key"><%= l.string("RESOURCES") %></span>
                    <span class="hint"><%= l.string("TOOLTIP_RESOURCES") %></span>
                </label>
                <span class="input value"><%= scope[:job].resources().isEmpty() ? l.string("NONE") :scope[:job].resources() %></span>
            </li>
            <li class="field job_timeout">
                <label>
                    <span class="key"><%= l.string("JOB_TIMEOUT") %></span>
                    <span class="hint"><%= l.string("TOOLTIP_JOB_TIMEOUT") %></span>
                </label>
                <% timeoutType = scope[:job].getTimeoutType() %>
                <% timeoutValue = timeoutType == com.thoughtworks.go.config.JobConfig::DEFAULT_TIMEOUT ? l.string('DEFAULT_TIMEOUT') : timeoutType == com.thoughtworks.go.config.JobConfig::OVERRIDE_TIMEOUT ? l.string('OVERRIDE_TIMEOUT', [scope[:job].getTimeout()].to_java(java.lang.String)) : l.string('NEVER_TIMEOUT') %>
                <span class="input value"><%= timeoutValue %></span>
            </li>
            <li class="field run_on_all_agents">
                <label>
                    <span class="key"><%= l.string("RUN_ON_ALL_AGENTS") %></span>
                </label>
                <span class="input value"><%= scope[:job].isRunOnAllAgents() ? l.string('YES') : l.string('NO') %></span>
            </li>
            <li class="field run_multiple_instances">
                <label>
                    <span class="key"><%= l.string("RUN_MULTIPLE_INSTANCES") %></span>
                </label>
                <span class="input value"><%= scope[:job].isRunMultipleInstanceType() ? l.string('YES') : l.string('NO') %></span>
            </li>
        </ul>
    </fieldset>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a href="#tasks_<%= scope[:stage_id] %>_job_<%= scope[:index] %>" data-toggle="tab"><%= l.string("TASKS") %></a></li>
    <li><a href="#artifacts_<%= scope[:stage_id] %>_job_<%= scope[:index] %>" data-toggle="tab"><%= l.string("ARTIFACTS") %></a></li>
    <li><a href="#environment_variables_<%= scope[:stage_id] %>_job_<%= scope[:index] %>" data-toggle="tab"><%= l.string("ENVIRONMENT_VARIABLES") %></a></li>
    <li><a href="#custom_tabs_<%= scope[:stage_id] %>_job_<%= scope[:index] %>" data-toggle="tab"><%= l.string("TABS") %></a></li>
</ul>
<div class='tab-content'>
    <div id='artifacts_<%= scope[:stage_id] %>_job_<%= scope[:index] %>' class='tab-pane'>
        <table class="artifacts list_table">
            <thead>
            <tr>
                <th><%= l.string("SOURCE") %></th>
                <th><%= l.string("DESTINATION") %></th>
                <th><%= l.string("TYPE") %></th>
            </tr>
            </thead>
            <tbody>
            <% if scope[:job].artifactPlans().empty() %>
                <tr>
                    <td align='center' colspan="3" class="name_value_cell"><%= l.string('NO_ARTIFACTS_CONFIGURED') %></td>
                </tr>
            <% end %>
            <% scope[:job].artifactPlans().each do |artifact_plan| %>
                <tr>
                    <td class="name_value_cell">
                        <%= artifact_plan.getSrc() %>
                    </td>
                    <td class="name_value_cell">
                        <%= artifact_plan.getDest() %>
                    </td>
                    <td class="name_value_cell">
                        <%= artifact_plan.getArtifactTypeValue() %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    <div id="environment_variables_<%= scope[:stage_id] %>_job_<%= scope[:index] %>" class="tab-pane">
        <table class="variables list_table">
            <thead>
            <tr>
                <th><%= l.string("NAME") %></th>
                <th><%= l.string("VALUE") %></th>
            </tr>
            </thead>
            <tbody>
            <% if scope[:job].getVariables().isEmpty() %>
                <tr>
                    <td align='center' colspan="2" class="name_value_cell"><%= l.string('NO_ENVIRONMENT_VARIABLES_CONFIGURED') %></td>
                </tr>
            <% end %>
            <% scope[:job].getVariables().each do |environment_variable| %>
                <tr>
                    <td class="name_value_cell">
                        <%= environment_variable.getName() %>
                    </td>
                    <td class="name_value_cell">
                        <%= environment_variable.getDisplayValue() %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    <div id="custom_tabs_<%= scope[:stage_id] %>_job_<%= scope[:index] %>" class="tab-pane">
        <table class="custom_tabs list_table">
            <thead>
            <tr>
                <th><%= l.string("TAB_NAME") %></th>
                <th><%= l.string("PATH") %></th>
            </tr>
            </thead>
            <tbody>
            <% if scope[:job].getTabs().isEmpty() %>
                <tr>
                    <td align='center' colspan="2" class="name_value_cell"><%= l.string('NO_CUSTOM_TABS_CONFIGURED') %></td>
                </tr>
            <% end %>
            <% scope[:job].getTabs().each do |tab| %>
                <tr>
                    <td class="name_value_cell">
                        <%= tab.getName() %>
                    </td>
                    <td class="name_value_cell">
                        <%= tab.getPath() %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    <div id="tasks_<%= scope[:stage_id] %>_job_<%= scope[:index] %>" class='tab-pane active'>
        <% if scope[:job].getTasks().isEmpty() %>
            <span><%= l.string("NO_TASKS_CONFIGURED") %></span>
        <% else %>
            <ul class="tasks_view_list">
                <% scope[:job].getTasks().each do |task| %>
                    <li class="<%= task.getTaskType() %>">
                        <span class="condition">Run if <%= task.runIfConfigsAny() ? "#{l.string("FAILED")}, #{l.string("PASSED")}" : task.getConditionsForDisplay() %></span>
                        <% if task.getTypeForDisplay() == "Fetch Artifact" %>
                            <code>
                                <span><%= l.string('FETCH_TASK') %> - </span>
                                <span title="<%= l.string('PIPELINE_NAME') %>" class="pipeline"><%= task.getPipelineName().blank? ? "[#{l.string('CURRENT_PIPELINE')}]" : task.getPipelineName() %></span>
                                <span class='path_separator'>
                                    >
                                </span>
                                <span title="<%= l.string('STAGE_NAME') %>" class="stage"><%= task.getStage() %></span>
                                <span class='path_separator'>
                                    >
                                </span>
                                <span title="<%= l.string('JOB_NAME') %>" class="job"><%= task.getJob() %></span>
                                <span class='delimiter'>:</span>
                                <span title="<%= l.string('SOURCE') %>" class="source"><%= task.getSrc() %></span>
                                <span class="direction_arrow">
                                    ->
                                </span>
                                <span title="<%= l.string('DESTINATION') %>" class="destination"><%= task.getDest() %></span>
                            </code>
                        <% else %>
                            <code>
                                <% working_dir_title = (task.workingDirectory()==nil || task.workingDirectory() == '') ? "Working Directory": "Working Directory: " + task.workingDirectory()  %>
                                <span class="working_dir" title="<%= working_dir_title %>"><%= "#{task.workingDirectory()}$" %></span>
                                <span class="command"><%= task.command() %></span>
                                <span class="arguments"><%= task.arguments() %></span>
                            </code>
                        <% end %>
                        <% if task.hasCancelTask() %>
                            <ul>
                                <li>
                                    <code>
                                        <% working_dir_title = (task.getTypeForDisplay() == "Fetch Artifact" || task.workingDirectory()==nil || task.workingDirectory() == '') ? "Working Directory": "Working Directory: " + task.workingDirectory() %>
                                        <span class="on_cancel"> <%= l.string("ON_CANCEL") %></span>
                                        <span class="working_dir" title="<%= working_dir_title %>"><%= "#{task.cancelTask().workingDirectory()}$" %></span>
                                        <span class="command"><%= task.cancelTask().command() %></span>
                                        <span class="arguments"><%= task.cancelTask().arguments() %></span>
                                    </code>
                                </li>
                            </ul>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>
</div>