<div class="andare">
    <div id="templates" class="view layout admin-entity">
        <div class="navigation">
            <ul class="stages treenav">
                <% for i in 1..@template_config.size() %>
                    <% stage = @template_config.get(i-1) %>
                    <li>
                        <a href="#definition_view_stage_<%= i %>" title="<%= stage.name %>"><span><%= stage.name %></span></a>
                        <ul class="jobs">
                            <% for j in 1..stage.getJobs().size() %>
                                <% job = stage.getJobs().get(j-1) %>
                                <li>
                                    <a href="#definition_view_stage_<%= i %>_job_<%= j %>" title="<%= job.name %>"><span><%= job.name %></span></a>
                                </li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="content">
        <% for i in 1..@template_config.size() %>
            <% stage = @template_config.get(i-1) %>
            <div id="definition_view_stage_<%= i %>" class="definition_view stage">
                <h3 class="entity_title">
                    <ul><li><%= stage.name %></li></ul>
                </h3>
                <div class="section summary">
                    <fieldset class="stage_summary">
                        <ul>
                            <li class="field stage_type">
                                <label>
                                    <span class="key"><%= l.string("STAGE_TYPE_LABEL") %></span>
                                    <span class="hint"><%= l.string("RADIO_BUTTON_TITLE_APPROVAL").html_safe %></span>
                                </label>
                                <span class="input value"><%= stage.getApproval().isManual() ? l.string("MANUAL") : l.string("AUTO") %></span>
                            </li>
                            <li class="field fetch_materials">
                                <label>
                                    <span class="key"><%= l.string("FETCH_MATERIALS") %></span>
                                    <span class="hint"><%= l.string("TOOLTIP_FETCH_MATERIALS") %></span>
                                </label>
                                <span class="input value"><%= stage.isFetchMaterials() ? l.string("YES") : l.string("NO") %></span>
                            </li>
                            <li class="field never_cleanup_artifacts">
                                <label>
                                    <span class="key"><%= l.string("ARTIFACT_CLEANUP_PROHIBITED") %></span>
                                    <span class="hint"><%= l.string("TOOLTIP_ARTIFACT_CLEANUP_PROHIBITED") %></span>
                                </label>
                                <span class="input value"><%= stage.isArtifactCleanupProhibited() ? l.string("YES") : l.string("NO") %></span>
                            </li>
                            <li class="field clean_working_directory">
                                <label>
                                    <span class="key"><%= l.string("CLEAN_WORKING_DIRECTORY") %></span>
                                    <span class="hint"><%= l.string("TOOLTIP_CLEAN_WORKING_DIRECTORY") %></span>
                                </label>
                                <span class="input value"><%= stage.isCleanWorkingDir() ? l.string("YES") : l.string("NO") %></span>
                            </li>
                        </ul>
                    </fieldset>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#environment_variables_stage_<%= i %>" data-toggle="tab" class="active"><%= l.string("ENVIRONMENT_VARIABLES") %></a></li>
                    <li><a href="#permissions_stage_<%= i %>" data-toggle="tab"><%= l.string("PERMISSIONS") %></a></li>
                </ul>
                <div class="tab-content">
                    <div id="environment_variables_stage_<%= i %>" class="tab-pane active">
                        <table class="variables list_table">
                            <thead>
                            <tr>
                                <th><%= l.string("NAME") %></th>
                                <th><%= l.string("VALUE") %></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if stage.getVariables().isEmpty() %>
                                <tr>
                                    <td align='center' colspan="2" class="name_value_cell"><%= l.string('NO_ENVIRONMENT_VARIABLES_CONFIGURED') %></td>
                                </tr>
                            <% end %>
                            <% stage.getVariables().each do |environment_variable| %>
                                <tr>
                                    <td class="name_value_cell">
                                        <%= environment_variable.getName() %>
                                    </td>
                                    <td class="name_value_cell">
                                        <%= environment_variable.getDisplayValue() %>
                                    </td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                    <div id="permissions_stage_<%= i %>" class="tab-pane">
                        <% if !stage.hasOperatePermissionDefined() %>
                            <div class="information">
                                <%= l.string("NO_OPERATE_PERMISSIONS_ON_GROUP_AND_STAGE") %>
                            </div>
                        <% else %>
                            <% if !stage.getOperateUsers().isEmpty() %>
                                <table class="stage_operate_users list_table">
                                    <thead>
                                    <tr>
                                        <th><%= l.string("USERS") %></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% stage.getOperateUsers().each do |user| %>
                                        <tr>
                                            <td class="name_value_cell">
                                                <%= user.getName() %>
                                            </td>
                                        </tr>
                                    <% end %>
                                    </tbody>
                                </table>
                            <% end %>
                            <% if !stage.getOperateRoles().isEmpty() %>
                                <table class="stage_operate_roles list_table">
                                    <thead>
                                    <tr>
                                        <th><%= l.string("ROLES") %></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% stage.getOperateRoles().each do |roles| %>
                                        <tr>
                                            <td class="name_value_cell">
                                                <%= roles.getName() %>
                                            </td>
                                        </tr>
                                    <% end %>
                                    </tbody>
                                </table>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <% stage.getJobs().each_with_index do |job, j| %>
                <%= render :partial => "config_view/templates/job_view.html", :locals => {:scope => {:job => job, :index => j+1, :stage_id => "definition_view_stage_#{i}", :stage_name => stage.name()}} -%>
            <% end %>
        <% end %>

        </div>
    </div>
</div>

<script type="text/javascript">
    Util.on_load(function() {
        jQuery(".definition_view").hide();
        jQuery(".definition_view")[0].show();

        jQuery('.stages a, .jobs a').click(function() {
            showEntity(jQuery(this));
            return false;
        });

        jQuery('.entity_title a').click(function() {
            showEntity(jQuery(this));
            top = jQuery('.navigation .stages .selected').removeClass('selected').parents('li').addClass('selected').position().top;
            jQuery('.navigation').scrollTop(top);
            return false;
        });

        function showEntity(entity) {
            jQuery('#templates.view .content').scrollTop('0');
            jQuery(".definition_view").hide();
            jQuery(entity.attr("href")).show();
        }

        jQuery('.treenav li:has(ul)').addClass('has-children collapsed');
        jQuery('.treenav li:has(ul) a').click(function(event) {
            jQuery('.treenav li').removeClass('selected');
            jQuery(this).closest('li').addClass('selected').removeClass('collapsed');
        });

        jQuery('.treenav li:has(ul)').click(function() {
            jQuery(this).closest('li').toggleClass('collapsed');
            jQuery(this).find('ul li:last-child').addClass('last')
        });

        jQuery('.stages > li:first-child').addClass('selected');
    })
</script>
