<%- @view_title = "Agent Details" -%>
<div class="sub_tabs_container">
    <ul class="tabs">
        <li class="current_tab">
            <a href="#">Details</a>
        </li>
        <%- if is_user_an_admin? -%>
        <li>
            <a href="#" onclick='location.href = "<%=job_run_history_on_agent_path(:uuid => @agent.getUuid)-%>"'>Job Run History</a>
        </li>
        <%- end -%>
    </ul>
</div>
<div class="agent_details_pane">
    <div class="free_space">
        <label class="inline">Free Space:</label>
        <span><%= @agent.freeDiskSpace() %></span>
    </div>
    <div class="sandbox">
        <label class="inline">Sandbox:</label>
        <span><%= label_for(@agent.getLocation(), 'Unknown') %></span>
    </div>
    <div class="ip">
        <label class="inline">IP Address:</label>
        <span><%= @agent.getIpAddress() %></span>
    </div>
    <div class="os">
        <label class="inline">OS:</label>
        <span><%= label_for(@agent.getOperatingSystem(), 'Unknown') %></span>
    </div>
    <div class="resources">
        <label class="inline">Resources:</label>
        <span><%= join_with_pipe('no resources specified', @agent.getResources()) %></span>
    </div>
    <div class="environments">
        <label class="inline">Environments:</label>
        <span><%= join_with_pipe('no environments specified', @agent.environments()) %></span>
    </div>

</div>
