{
    "html" : [
    <% if @pipeline_instances.empty? %>
    {
        "data": <%= render_json :text => "<div class='no_results'>No matching results</div>" -%>,
        "value": "-1",
        "result": ""
    }
    <% else %>
        <% @pipeline_instances.each_with_index do |pim, i| %>
            <%== i > 0 ? "," : "" %>
            {
                "data": <%== render_json :partial => "pipeline_autocomplete_list_entry.html.erb", :locals => {:scope => {:pipeline => pim}} -%>,
                "value": "<%== pim.getCounter %>",
                "result": "<%== pim.getLabel %>"
            }
        <% end %>
    <% end %>
    ]
}