<h2 class="new-admin-subtitle"><span>Package Configuration</span></h2>
<%- if scope[:package_configuration] %>
    <div class="new_form_item_block">
        <div class="new_form_label">
            <%= label_tag "package_name_label", "Package Name" %>
        </div>
        <div class="new_form_control">
            <%= text_field_tag "package_name_value", scope[:package_configuration].name, {:disabled => "disabled"} %>
        </div>
    </div>
    <%- scope[:package_configuration].properties.each do |property| %>
        <div class="new_form_item">
            <div class="new_form_label">
                <%= label_tag "package_#{property.name}_label", property.display_name %>
            </div>
            <div class="new_form_control">
                <%= text_field_tag "package_#{property.name}_value", property.value, {:disabled => "disabled"} %>
            </div>
        </div>
    <%- end %>
<%- end %>
<%= render :partial => 'admin/package_definitions/check_package'%>

