<% scope[:template_to_pipelines].each do |template, pipelines| %>
    <% is_pipeline_empty = pipelines.isEmpty() -%>
    <div class="template" id="template_container_<%= template %>">

      <div class="template_group">
        <h2 class="group_name entity_title wrapped_word">
          <%= template %>
        </h2>

        <div class="title_action_wrapper">
          <ul>
            <li>
              <%= link_to('View', config_view_templates_show_path(:name => template), :class => "view_icon action_icon view_template_link skip_dirty_stop", :id => "#{template}", :title => "View Configuration") -%>
            </li>
            <li>
              <%- if is_user_a_template_admin_for_template? template %>
                  <%= action_icon({:type => "edit", :text => 'Edit', :href => template_edit_path(:stage_parent => "templates", :pipeline_name => template, :current_tab => "general")}) %>
              <%- else %>
                  <%= action_icon({:type => "edit", :text => 'Edit', :title => "Unauthorized to edit '#{template}' template.", :disabled => true}) %>
              <% end %>
            </li>
            <li>
              <%- if !is_user_an_admin? -%>
                  <%= action_icon({:type => "lock", :text => 'Permissions', :title => 'You are unauthorized to perform this operation. Please contact a Go System Administrator to add/remove a template admin.', :disabled => true}) %>
              <%- else -%>
                  <%= action_icon({:type => "lock", :text => 'Permissions', :href => edit_template_permissions_path(:template_name => template)}) %>
              <%- end -%>
            </li>
            <li>
              <%- if !is_user_a_template_admin_for_template? template -%>
                  <%= action_icon({:type => "delete", :text => 'Delete', :title => 'You are unauthorized to perform this operation. Please contact a Go System Administrator to delete this template.', :disabled => true}) %>
              <%- elsif !is_pipeline_empty -%>
                  <%= action_icon({:type => "delete", :text => 'Delete', :title => "Cannot delete the template '#{template}' as it is used by pipeline(s): '#{pipelines}'", :disabled => true}) %>
              <%- else -%>
                  <%= form_tag(delete_template_path(:pipeline_name => template), :method => :delete, :id => "delete_template_#{template}") %>
                  <%= md5_field %>
                  <span class="delete_icon action_icon delete_parent" id="trigger_delete_<%= template %>" title="Delete this template">
                                Delete
                    <%= render :partial => 'admin/shared/submit_with_prompt.html', :locals => {:scope => {:button_id => "trigger_delete_#{template}", :message => "Are you sure you want to delete the template '#{template}' ? ", :on_confirmation_js => "$('#{"delete_template_#{template}"}').submit()"}} %>
                            </span>
                  <%= end_form_tag %>
              <%- end -%>
            </li>
          </ul>
        </div>
      </div>
      <div class="grouping_content_wrapper">

        <% if pipelines.isEmpty() %>
            <div class="information">No pipelines associated with this template</div>
        <% else %>
            <table class="list_table">
              <thead>
              <tr class="pipeline">
                <th class="name">Pipeline</th>
                <th class="name">Actions</th>
              </tr>
              </thead>
              <tbody>

              <% pipelines.each do |pipeline| %>
                  <tr class="pipeline">
                    <td class="name">
                      <%- if is_pipeline_editable?(pipeline) && has_admin_permissions_for_pipeline?(pipeline) %>
                          <%= link_to pipeline, edit_path_for_pipeline(pipeline) %>
                      <%- else %>
                          <span><%= pipeline %></span>
                      <% end %>
                    </td>
                    <td>
                      <%- if is_pipeline_editable?(pipeline) && has_admin_permissions_for_pipeline?(pipeline) %>
                          <%= action_icon({:type => "edit", :text => 'Edit', :href => edit_path_for_pipeline(pipeline)}) %>
                      <%- else %>
                          <%= action_icon({:type => "edit", :text => 'Edit', :title => "Cannot edit pipeline #{pipeline}. Either you are unauthorized to edit the pipeline or the pipeline is defined in configuration repository.", :disabled => true}) %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>

              </tbody>
            </table>
        <% end %>
      </div>
    </div>
<% end %>
