<div class="config-container config-basic">
<h3><%= l.string("BASIC_SETTINGS") %></h3>
<%= form_for @pipeline, :as => :template, :url => template_update_path(:pipeline_name => @pipeline.name(), :stage_parent => "templates", :current_tab => 'general'), :html => {:method => "put", :id => "template_edit_form"} do |f| %>
    <%= md5_field %>
    <div class="fieldset">
        <div class="form_item">
            <div class="form_item_block">
                <%= f.label com.thoughtworks.go.config.PipelineTemplateConfig::NAME, l.string('TEMPLATE_NAME') -%>
                <%= f.text_field com.thoughtworks.go.config.PipelineTemplateConfig::NAME, :readonly => :readonly, :disabled=> :disabled -%>
                <%= error_message_on(@pipeline, com.thoughtworks.go.config.PipelineTemplateConfig::NAME, :css_class => "form_error") %>
            </div>
        </div>
    </div>
    <%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>
<% end %>
</div>
