<div class="filter_agents">
    <%= form_tag(agents_path, :id => 'agents_filter_form', :method => :get) -%>
        <div id="filter_help" class="enhanced_dropdown hidden">
            <div class="filter_help_instructions">
                <p class='heading'>Available tags</p>
                <div>
                    <p>name:</p>
                    <p>os:</p>
                    <p>ip:</p>
                    <p>status:</p>
                    <p>resource:</p>
                    <p>environment:</p>
                </div>
                <p class='heading'>Values</p>
                <div>
                    <p><%= l.string("AGENT_FILTER_EXACT_MATCH_HELP") -%></p>
                </div>
                <p><%=l.string("FILTERS_HELP_LINK")%></p>
            </div>
        </div>
        <%- default_url_options.each do |key, val| -%>
           <%- unless key.to_sym == :filter -%>
              <%= hidden_field_tag key, val -%>
           <%- end -%>
        <%- end -%>
        <%= text_field_tag :filter, params[:filter], :placeholder => "tag: value", :id => "filter_text" -%>
        <button type="submit" class="submit primary"><%= l.string("FILTER") -%></button>
        <%= link_to l.string("CLEAR"), agents_path(:filter => ''), :id => "clear_filter", :class => "link_as_button" -%>
    <%= end_form_tag %>
</div>

<script type="text/javascript">
    Util.on_load(function() {
        var urls = <%= ['ip', 'status', 'resource', 'os', 'name', 'environment'].inject({}) {|map, name| map.merge(name => agent_filter_autocomplete_path(:action => name)) }.to_json -%>;
        var filter = new AgentFilter(jQuery("#filter_text").get(0), jQuery("#filter_help").get(0), jQuery('.page_header').get(0), urls);
        filter.createHelp();
        filter.hookupAutocomplete();
    });
</script>