<% scope[:exclude_columns] ||= []
   scope[:sortable_columns] = true if scope[:sortable_columns].nil?
   scope[:show_only_disabled] = false if scope[:show_only_disabled].nil?
   scope[:selector_name] ||= 'selected[]'
   scope[:selected] ||= params[:selected]
   scope[:agents] ||= @agents
%>

<script type="text/javascript">
Util.on_load(function() {
    jQuery('#body_content').on('click', '#select_all_agents', function() {
        jQuery('.agent_select').prop("checked", $(this).checked);
    });

    var lastChecked = null;

    jQuery(document).ready(function() {
        jQuery('#body_content').on('click', '.agent_select', function(e) {
            $this = $(this);
            if (!$this.checked) {
                jQuery("#select_all_agents").prop("checked", false);
            }

            if (!lastChecked) {
                lastChecked = $this;
                return;
            }

            var $checkboxes = jQuery('.agent_select');
            var start = $checkboxes.index($this);
            var end = $checkboxes.index(lastChecked);

            if (e.shiftKey) {
                $checkboxes.slice(Math.min(start, end), Math.max(start, end) + 1).prop('checked', lastChecked.checked);
            }

            lastChecked = $this;
        });
    });
})

</script>


<table id='agent_details' class='agents list_table <%=" sortable_table" if scope[:sortable_columns]%> selectable_table'>
    <thead>
    <tr class='agent_header'>
        <% if has_operate_permission_for_agents? %>
            <th class='selector'>
                <%= check_box_tag 'accept', '', false, {:id => 'select_all_agents', :class => 'agent_select'} -%>
            </th>
        <% end -%>

        <% unless scope[:exclude_columns].include?('hostname') -%>
            <th class='hostname'><%== column_header("Agent Name",  "hostname", scope[:sortable_columns]) %></th>
        <% end -%>

        <% unless scope[:exclude_columns].include?('location') -%>
            <th class='location'><%== column_header("Sandbox", "location", scope[:sortable_columns]) %></th>
        <% end -%>

        <% unless scope[:exclude_columns].include?('operating_system') -%>
            <th class='operating_system'><%== column_header("OS", "operating_system", scope[:sortable_columns]) %></th>
        <% end -%>

        <% unless scope[:exclude_columns].include?('ip_address') -%>
            <th class='ip_address'><%== column_header("IP Address", "ip_address", scope[:sortable_columns]) %></th>
        <% end -%>

        <% unless scope[:exclude_columns].include?('status') -%>
            <th class='status'><%== column_header("Status", "status", scope[:sortable_columns]) %></th>
        <% end -%>

        <% unless scope[:exclude_columns].include?('usable_space') -%>
            <th class='usable_space'><%== column_header("Free Space", "usable_space", scope[:sortable_columns]) %></th>
        <% end -%>

        <% unless scope[:exclude_columns].include?('resources') -%>
            <th class='resources'><%== column_header("Resources", "resources", scope[:sortable_columns]) %></th>
        <% end -%>

        <% unless scope[:exclude_columns].include?('environments') -%>
            <th class='environments'><%== column_header("Environments", "environments", scope[:sortable_columns]) %></th>
        <% end -%>
    </tr>
    </thead>
    <tbody>
    <% scope[:agents].each do |agent_in_agent_table| %>
        <tr class='agent_instance <%= get_agent_status_class(scope[:show_only_disabled],agent_in_agent_table.getStatus()) %>' id='<%= agent_in_agent_table.getUuid() %>'>
            <% agent_uuid = agent_in_agent_table.getUuid()-%>
            <% if has_operate_permission_for_agents? %>
                <%== agent_selector(agent_uuid, scope[:selector_name], scope[:selected]) %>
            <% end %>
            <% unless scope[:exclude_columns].include?('hostname') -%>

                <%hostname = agent_in_agent_table.getHostname() -%>
                <% if agent_in_agent_table.getStatus().isRegistered() -%>
                    <%span_text = link_to(hostname, agent_detail_path(:uuid => agent_uuid)) -%>
                 <% else -%>
                    <%span_text = hostname -%>
                <% end -%>
                <td class='hostname' title='<%= hostname %>'>
                    <span class='agent_hostname'><%= span_text %></span>
                </td>

            <% end -%>

            <% unless scope[:exclude_columns].include?('location') -%>
                <% display_value = agent_in_agent_table.getLocation()%>
                <%== cell_with_title( display_value, 'location wrapped_word', agent_in_agent_table.getLocation()) %>
            <% end -%>

            <% unless scope[:exclude_columns].include?('operating_system') -%>
                <%== cell_with_title( agent_in_agent_table.getOperatingSystem(), 'operating_system') %>
            <% end -%>

            <% unless scope[:exclude_columns].include?('ip_address') -%>
                <%== cell_with_title( agent_in_agent_table.getIpAddress(), 'ip_address') %>
            <% end -%>

            <% unless scope[:exclude_columns].include?('status') -%>
                <%== agent_status_cell(agent_in_agent_table) %>
            <% end -%>

            <% unless scope[:exclude_columns].include?('usable_space') -%>
                <%== cell_with_title( agent_in_agent_table.freeDiskSpace(), 'usable_space') %>
            <% end -%>

            <% unless scope[:exclude_columns].include?('resources') -%>
                <%== piped_cell(agent_in_agent_table.getResources(), l.string("NO_RESOURCES_SPECIFIED"), "resources") %>
            <% end -%>

            <% unless scope[:exclude_columns].include?('environments') -%>
                <%== piped_cell(agent_in_agent_table.getEnvironments(), l.string("NO_ENVIRONMENTS_SPECIFIED"), "environments") %>
            <% end -%>


        </tr>
    <% end %>
    </tbody>
</table>