<li role="presentation">
    <%= link_to 'Pipelines', spark_url_for({url_builder: controller}, SparkRoutes::AdminPipelines::SPA_BASE) -%>
</li>
<li role="presentation">
  <%= link_to 'Templates', templates_path -%>
</li>
<li role="presentation">
  <%= link_to 'Elastic Agent Configurations', '/go/admin/elastic_agent_configurations' -%>
</li>
<li role="presentation">
    <%= link_to 'Config XML', pipelines_snippet_path -%>
</li>
<li role="presentation">
  <%= link_to 'Plugins', '/go/admin/plugins' -%>
</li>
<li role="presentation">
    <%= link_to 'Package Repositories', package_repositories_new_path -%>
</li>
