<li role="presentation">
    <%= link_to 'Pipelines', spark_url_for({url_builder: controller}, SparkRoutes::AdminPipelines::SPA_BASE) -%>
</li>
<li role="presentation">
  <a href="/go/admin/config_repos">Config Repositories</a>
</li>
<li role="presentation">
  <%= link_to 'Environments', environments_path -%>
</li>
<li role="presentation">
  <%= link_to 'Templates', spark_url_for({url_builder: controller}, SparkRoutes::AdminTemplates::SPA_BASE) -%>
</li>
<li role="presentation">
  <%= link_to 'Elastic Agent Configurations', '/go/admin/elastic_agent_configurations' -%>
</li>
<li role="presentation">
  <%= link_to 'Artifact Stores', '/go/admin/artifact_stores' -%>
</li>
<li role="presentation">
    <%= link_to 'Config XML', config_view_path -%>
</li>
<li role="presentation">
    <%= link_to 'Server Configuration', "/go/admin/config/server" -%>
</li>
<li role="presentation">
    <%= link_to "User Summary", '/go/admin/users' -%>
</li>
<li role="presentation">
    <%= link_to "Backup", '/go/admin/backup' -%>
</li>
<li role="presentation">
  <%= link_to 'Plugins', '/go/admin/plugins' -%>
</li>
<li role="presentation">
    <%= link_to 'Package Repositories', package_repositories_new_path -%>
</li>
<li role="presentation" class="sub-menu">
  <a href="#">Security</a>
  <ul class="dropdown menu" data-dropdown-menu>
    <li role="presentation">
      <%= link_to "Authorization Configuration", '/go/admin/security/auth_configs' -%>
    </li>
    <li role="presentation">
      <%= link_to "Role Configuration", '/go/admin/security/roles' -%>
    </li>
  </ul>
</li>
