<% import com.thoughtworks.go.presentation.TriStateSelection unless defined? TriStateSelection
   scope[:view_id] = "view_for_#{scope[:selection].object_id}"
   scope[:field_id] = "field_for_#{scope[:selection].object_id}"
   scope[:selection_field_name] ||= "selections" %>
<div class='selectors'>
    <span id="<%= scope[:view_id] %>" class='selector'><%= scope[:selection].getValue() %></span>
    <select name="<%= scope[:selection_field_name] -%>[<%= scope[:selection].getValue() %>]" id="<%= scope[:field_id] %>" class='hidden' <%== scope[:selection].isEnabled() ? '' : "disabled='disabled'" %>>
        <option value='add'
                <% if scope[:selection].getAction() == TriStateSelection::Action.add %>selected='true'
                <% end %>>add
        </option>
        <option value='remove'
                <% if scope[:selection].getAction() == TriStateSelection::Action.remove %>selected='true'
                <% end %>>remove
        </option>
        <% if scope[:selection].getAction() == TriStateSelection::Action.nochange %>
            <option value='nochange' selected='true'>nochange</option>
        <% end %>
    </select>
    <% unless scope[:selection].isEnabled() %>
        <div class="tristate_disabled_message">
            <%= scope[:disabled_message] %>
        </div>
    <% end %>
    <script type="text/javascript">
        new TriStateCheckbox($('<%= scope[:view_id] %>'), $('<%= scope[:field_id] %>'), <%= scope[:selection].isEnabled() -%>);
    </script>
</div>