<%- @view_title = "Config Error" -%>
<%= content_wrapper_tag %>
<div class='pagenotfound'>
    <div class="errors">
        <div class='biggest'>:(</div>
        <h3><%= @message -%></h3>
    </div>
    <% unless access_forbidden -%>
        <div class="error-child-like-margin">
            <span>Jump To:</span>
            <%= link_to 'Pipelines', spark_url_for({url_builder: controller}, SparkRoutes::AdminPipelines::SPA_BASE) -%>
             |
            <%= link_to 'Templates', spark_url_for({url_builder: controller}, SparkRoutes::AdminTemplates::SPA_BASE) -%>
        </div>
    <% end -%>
</div>
<%= end_content_wrapper %>




<script type="text/javascript">
    pageResizer();
    function pageResizer() {
        var $pagenotfound = $('.pagenotfound');
        $pagenotfound.parent( ".content_wrapper_inner").height($(window).height() - 160).css({'padding':0});
        $pagenotfound.parents("#body_content").css({paddingTop:46});
    }
    $(window).resize(function() {
        pageResizer();
    });
</script>
