<%- @view_title = "Administration" -%>
<script type="text/javascript">
    serverConfiguration = new ServerConfiguration("<%=validate_server_config_params_path%>");
</script>
<div id="server_configuration">
<%= form_for @server_configuration_form, :as => :server_configuration_form, :url => {:action => :update}, :html => {:method => 'post'} do |form| %>
    <%= config_md5_field %>
    <div id="server_management">
        <h2 class="legend">Server Management</h2>

        <div class="fieldset">
            <div class="form_item">
                <label for="server_configuration_form_site_url">Site URL</label>
                <%= form.text_field :siteUrl, :size => 30, :maxLength => 255 %>
                <div class="contextual_help has_go_tip_right" title="This entry will be used by Go Server to generate links for emails, feeds etc. Format: [protocol]://[host]:[port]. <a class='' href='<%= docs_url '/installation/configuring_server_details.html#configure-site-urls' %>' target='_blank'>More...</a>"></div>
                <span id="site_url_error_message"></span>
            </div>
            <div class="form_item">
                <label for="server_configuration_form_secure_site_url">Secure Site URL</label>
                <%= form.text_field :secureSiteUrl, :size => 30, :maxLength => 255 %>
                <div class="contextual_help has_go_tip_right" title="If you wish that your primary site URL be HTTP, but still want to have HTTPS endpoints for the features that require SSL, you can specify this attribute with a value of the base HTTPS URL. Format: https://[host]:[port].  <a class='' href='<%= docs_url '/installation/configuring_server_details.html#configure-site-urls' %>' target='_blank'>More...</a>"></div>
                <span id="secure_site_url_error_message"></span>
            </div>
        </div>
    </div>

    <div id="user_management">
        <h2 class="legend">User Management</h2>

        <div class="fieldset">

            <div class="form_item required">
                <div class="form_item checkbox_row">
                    <%- html_options = { } %>
                    <%- html_options = {:include_hidden => false, :disabled => true, :title => 'Cannot disable auto login with no admins enabled.'} unless @allow_user_to_turn_off_auto_login %>
                    <%= form.check_box :allow_auto_login, html_options, "true", "false" %>
                    <label class="inline" for="server_configuration_form_allow_auto_login">Allow users to login via plugin into GoCD, even if they haven't been explicitly added to GoCD.</label>
                </div>


                <div class="information">
                  <span>Support for LDAP and Password file authentication in GoCD core has been removed in favour of the bundled <%= link_to "LDAP", "https://github.com/gocd/gocd-ldap-authentication-plugin", target: "_blank" -%> and <%= link_to "Password File", "https://github.com/gocd/filebased-authentication-plugin", target: "_blank" -%> plugins respectively. Your existing LDAP and Password file configurations have been moved to <%= link_to "Authorization Configuration", '/go/admin/security/auth_configs' -%></span>
                </div>
            </div>
        </div>
    </div>
    <div id="mail_host">
        <div id="mail_host_config">
            <h2 class="legend">Email Notification</h2>

            <div class="fieldset">
                <div class="form_item required">
                    <div class="form_item">
                        <label for="server_configuration_form_hostName"><%= required_label_text('Hostname') -%></label>
                        <%= form.text_field :hostName, :size => 30, :maxLength => 64, :onblur => "serverConfiguration.validateHostName('server_configuration_form_hostName', 'hostname_error_message')" %>
                        <span id="hostname_error_message"></span>
                    </div>

                    <div class="form_item">

                        <label for="server_configuration_form_port"><%= required_label_text('Port') -%></label>
                        <%= form.text_field :port, :size => 30, :maxLength => 5, :onblur => "serverConfiguration.validatePort('server_configuration_form_port', 'port_error_message')" %>
                        <span id="port_error_message"></span>
                    </div>

                    <div class="form_item">

                        <label for="server_configuration_form_username">Username</label>
                        <%= form.text_field :username, :size => 30, :maxLength => 64 %>
                    </div>

                    <div class="form_item">
                        <label for="server_configuration_form_password">Password</label>
                        <%= form.password_field :password, :size => 30, :maxLength => 64, :disabled => true, :autocomplete => "off" %>
                        <span class="checkbox_row">
                                <%= form.check_box :password_changed, {}, "true", "false" %>
                            <label for="server_configuration_form_password_changed">Change Password</label>
                            </span>
                        <%= form.hidden_field :encrypted_password %>
                    </div>
                    <script type="text/javascript">
                        Util.on_load(function () {
                            var checkBox = jQuery("#server_configuration_form_password_changed");
                            var passwordField = jQuery("#server_configuration_form_password");
                            Util.bindPasswordField(checkBox, passwordField);
                        });
                    </script>
                    <div class="form_item checkbox_row">
                        <div class="checkbox_label_wrapper">
                            <%= form.check_box :tls, {}, "true", "false" %>
                            <label class="inline" for="server_configuration_form_tls">Use SMTPS</label>
                        </div>
                        <div class="contextual_help has_go_tip_right" title="This changes the protocol used to send the mail. It switches between SMTP and SMTPS. To enable STARTLS support, for providers such as GMail and Office 365, see <a class='' href='<%= docs_url '/configuration/admin_mailhost_info.html#starttls' %>' target='_blank'>this page in the documentation</a>."></div>
                    </div>

                    <div class="form_item">

                        <label for="server_configuration_form_from"><%= required_label_text('From') -%></label>
                        <%= form.text_field :from, :size => 30, :maxLength => 254, :onblur => "serverConfiguration.validateEmail('server_configuration_form_from', 'from_error_message')" %>
                        <span id="from_error_message"></span>
                    </div>

                    <div class="form_item">

                        <label for="server_configuration_form_adminMail"><%= required_label_text('Admin mail') -%></label>
                        <%= form.text_field :adminMail, :size => 30, :maxLength => 254, :onblur => "serverConfiguration.validateEmail('server_configuration_form_adminMail', 'admin_mail_error_message')" %>
                        <button type="button" class="submit tertiary" id="testNotification"
                                onclick="serverConfiguration.sendTestEmail(this, '<%= send_test_email_path %>', '<%= form_authenticity_token %>')">
                            <span>SEND TEST EMAIL</span>
                        </button>
                        <span id="admin_mail_error_message"></span>
                    </div>
                </div>
                <%= render :partial => 'shared/form_required_message.html', :locals => {:scope => {}} %>
            </div>
        </div>

    </div>
    <div id="pipeline_management">
        <h2 class="legend">Pipeline Management</h2>

        <div class="fieldset">
            <div class="form_item">
                <label for="artifacts_location">Artifacts Directory Location</label>
                <%= form.text_field :artifactsDir, :size => 30, :maxLength => 64, :id => "artifacts_location" %>
            </div>
            <div class="form_item">

                <label>Auto delete old artifacts:</label>

                <div class="checkbox_row">
                    <%= form.radio_button :purgeArtifacts, "Never", :id => "never_delete_artifacts" -%>
                    <label for="never_delete_artifacts">Never</label>
                </div>
                <div class="checkbox_row">
                    <%= form.radio_button :purgeArtifacts, "Size", :id => "select_artifact_purge_size" %>
                    <span class="checkbox_label">When available disk space is less than <%= form.text_field(:purgeStart, :size => 30, :maxLength => 64, :class => "small_text_field") %> GB, and keep deleting until <%= form.text_field(:purgeUpto, :size => 30, :maxLength => 64, :class => "small_text_field") %> GB free space is available</span>
                </div>
            </div>

            <div class="form_item" id="hung_job_timeout">
                <label>Default Job Timeout</label>

                <div class="checkbox_row">
                    <%= form.radio_button :timeoutType, "neverTimeout", :id => "hungjobs_neverTimeout" -%>
                    <%= label_tag 'hungjobs_neverTimeout', 'Never timeout' -%>
                </div>
                <div class="checkbox_row">
                    <%= form.radio_button :timeoutType, "overrideTimeout", :id => "hungjobs_overrideTimeout" -%>
                    <%= label_tag 'hungjobs_overrideTimeout', 'Cancel after' -%>
                    <%= form.text_field :jobTimeout, :size => 4, :maxLength => 64, :class => "small_text_field" -%>
                    <%= label_tag 'hungjobs_overrideTimeout', 'minute(s) of inactivity' -%>
                </div>
            </div>
        </div>
    </div>
    <div id="command_repository_management">
        <h2 class="legend">Command Repository Management</h2>

        <div class="fieldset">
            <div class="form_item" id="lookup-command-repo-location">
                <%= label_tag 'command_repo_location', 'Location' -%>

                <div class="path_textbox">
                    <%= label_tag 'command_repo_root_location', @command_repository_base_dir_location -%>
                    <%= form.text_field :commandRepositoryLocation -%>
                </div>

                <div class="contextual_help has_go_tip_right" title="Path to <a class='' href='<%= docs_url '/advanced_usage/command_repository.html' %>' target='_blank'>command repository</a> on Go Server. The location should be accessible to Go user."></div>
            </div>

            <div class="form_item" id="lookup-command-reload">
                <div class="button_row_with_help">
                    <button type="button" class="submit tertiary" id="reloadCommandRepoCache"
                            onclick="serverConfiguration.reloadCommandRepoCache('<%= admin_command_cache_reload_path -%>', 'command_repo_reload_result', '<%= form_authenticity_token %>')">
                        <span>Reload cache</span>
                    </button>
                    <div class="contextual_help has_go_tip_right" style='float:right;' title="Explicit reloading of the commands from the repository. Note: Changing the repository location above will automatically do this."></div>
                </div>
                <span id="command_repo_reload_result"></span>
            </div>
        </div>
    </div>

    <div class="form_buttons">
        <button type="submit" class="submit primary" id="submit_form"><span>SAVE</span></button>
        <button type="reset" class="submit" id="reset_form"><span>RESET</span></button>
    </div>
    <%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>
<% end %>
</div>
