<h1>Go Garage</h1>
<p>
    Go garage is a place to make little tweaks your Go Server. This area includes features which are <b>unsupported</b> and could cause unexpected behaviour in certain cases. <b>Use with caution</b>.
</p>
<hr/>
<div id="config_version_content">
    <h3>Config Version Control GC</h3>
    <div class="flash">
        <% if flash[:notice] and flash[:notice][:gc] -%>
            <p class="notice">
                <code><%= flash[:notice][:gc] -%></code>
            </p>
        <% end -%>
        <% if flash[:error] and flash[:error][:gc] -%>
            <p class="error">
                <code><%= flash[:error][:gc] -%></code>
            </p>
        <% end -%>
    </div>
    <p>Current size of the config.git directory is: <b><%= @garage_data.getConfigRepositorySize() -%></b></p>
    <%= form_tag(garage_gc_path, :method => :post) -%>
        <%= submit_tag "Perform GC" -%>
    <%= end_form_tag -%>
</div>
<hr/>
<h3>Flyweight listing</h3>
<hr/>
<h3>Other links</h3>
<ul>
    <li><%= link_to "Go Health Report", '/go/api/support' -%></li>
</ul>

<style>
    .flash p code {
        font-size: 13px;
        color: #000000;
        font-family: courier new, monospace;
        font-weight: bold;
        padding-left: 30px;
        line-height: 45px;
    }
    .flash p.notice {
        background-color: #99CC00;
        border: 1px solid #669900;
    }
    .flash p.error {
        background-color: #FF4444;
        border: 1px solid #CC0000;
    }
</style>