<% scope[:omit_pipeline] ||= false %>
<div class="pipeline_bundle environment">
    <div class="pipelines">
        <%= content_wrapper_tag %>
        <h2 class="entity_title">
            <% if scope[:show_edit_environments] %>
                <%= link_to scope[:environment].name(), environment_show_path(:name => scope[:environment].name())%>
            <% else %>
                <%= scope[:environment].name() %>
            <% end %>
        </h2>
        <% scope[:pipeline_models] = scope[:environment].getPipelineModels() %>
        <% if scope[:pipeline_models].empty? %>
            <span><%= l.string('NO_PIPELINES_CONFIGURED_FOR_ENVIRONMENT')-%></span>
        <% else %>
            <% scope[:pipeline_models].each do |pipeline_model_in_environment| %>
                <div id="<%= env_pipeline_dom_id(pipeline_model_in_environment) %>" class="pipeline hidereveal_collapsed">
                    <% unless scope[:omit_pipeline] %>
                        <% cache(view_cache_key.forEnvironmentPipelineBox(pipeline_model_in_environment), {:subkey => "environment_html", :skip_digest => true}) do %>
                            <%= render :partial=>'environment_pipeline.html.erb', :locals=>{:scope => {:pipeline_model => pipeline_model_in_environment, :pipeline_model_subkey => 'environment_html'}} %>
                        <% end %>
                    <% end %>
                </div>
                <div class="divider"></div>
            <% end %>
        <% end %>
        <%= end_content_wrapper %>
    </div>
</div>
