<%- environment = scope[:environment_view_model].getEnvironmentConfig() %>
<%= content_wrapper_tag %>
<div class="environment-listview" id="environment_entity_<%= environment.name() %>">
  <div class="environment-header">
    <h2 class="entity_title">
      <%= environment.name() %>
    </h2>
    <div class="key-value-pair">
      <div class="key">Pipeline Count</div>
      <div class="value"><%= environment.getPipelineNames().size %></div>
    </div>
    <div class="key-value-pair">
      <div class="key">Agent Count</div>
      <div class="value"><%= scope[:environment_view_model].getAgentViewModels().size %></div>
    </div>
  </div>
  <div class="row show_environment environment-body">
    <div class="added_item added_pipelines">
      <h3>
        <%= "PIPELINES" %>
        <% if scope[:show_edit_environments] %>
          <button value="Edit View" type="button" id='<%= "edit_pipelines_for_" + environment.name().to_s %>' class="submit edit-environment edit-pipelines
              "><span>EDIT</span></button>
        <% end %>
      </h3>
      <ul>
        <%- environment.getPipelineNames().each do |pipelineName| -%>
          <li><%= pipelineName -%></li>
        <%- end -%>
      </ul>
    </div>
    <div class="added_item added_agents">
      <h3>
        <%= "AGENTS" %>
        <% if scope[:show_edit_environments] %>
          <button value="Edit View" type="button" id='<%= "edit_agents_for_" + environment.name().to_s %>' class="submit edit-environment edit-agents
              "><span>EDIT</span></button>
        <% end %>
      </h3>
      <ul>
        <%- scope[:environment_view_model].getAgentViewModels().each do |agent| -%>
          <%= content_tag "li", "#{agent.getHostname()} (#{agent.getIpAddress()})", :title => agent.getLocation() -%>
        <%- end -%>
      </ul>
    </div>
    <div class="added_item added_environment_variables">
      <h3>
        <%= "ENVIRONMENT VARIABLES" %>
        <% if scope[:show_edit_environments] %>
          <button value="Edit View" type="button" id='<%= "edit_environment_variables_for_" + environment.name().to_s %>' class="submit edit-environment edit-environment-vars
              "><span>EDIT</span></button>
        <% end %>
      </h3>


      <ul>
        <%- environment.getPlainTextVariables().each do |var| -%>
          <li><%= h(var.getName()) %> = <%= h(var.getValue()) -%></li>
        <%- end -%>
      </ul>
      <br>
      <h3>
        <%= "SECURE ENVIRONMENT VARIABLES" %>
      </h3>

      <ul>
        <%- environment.getSecureVariables().each do |var| -%>
          <li><%= h(var.getName()) %> = <%= h(var.getDisplayValue()) -%></li>
        <%- end -%>
      </ul>
    </div>
  </div>
</div>
<%= end_content_wrapper %>
<script type="text/javascript">
    Util.on_load(function () {
        var envHeader = "#<%='environment_entity_'+environment.name().to_s%> .environment-header";
        var env = "#<%='environment_entity_'+environment.name().to_s%>";
        jQuery(envHeader).click(function () {
            if (jQuery(env).hasClass("expanded")) {
                jQuery(env).removeClass("expanded");
            } else {
                jQuery(env).addClass("expanded");
            }
        });

        jQuery("#<%='edit_pipelines_for_'+environment.name().to_s%>").click(function () {
            Util.ajax_modal("<%= environment_edit_pipelines_path({:name => environment.name()}) -%>", {
                width: 805,
                title: <%== 'Pipelines'.to_json -%>
            });
        });
        jQuery("#<%='edit_agents_for_'+environment.name().to_s%>").click(function () {
            Util.ajax_modal("<%= environment_edit_agents_path({:name => environment.name()}) -%>", {
                width: 800,
                title: <%== 'Agents'.to_json -%>
            });
        });
        jQuery("#<%='edit_environment_variables_for_'+environment.name().to_s%>").click(function () {
            Util.ajax_modal("<%= environment_edit_variables_path({:name => environment.name()}) -%>", {
                width: 800,
                title: <%== 'Environment Variables'.to_json -%>
            });
        });
        AjaxForm.error_box_selector = '#env_form_error_box';
    });
</script>
