<div class="form_item_block required">
  <%= required_label(scope[:form], com.thoughtworks.go.config.materials.git.GitMaterialConfig::URL, 'URL') -%>
  <%= scope[:form].text_field com.thoughtworks.go.config.materials.git.GitMaterialConfig::URL, {:class => "form_input required git_url", :id => nil} -%>
  <%= error_message_on(scope[:material], com.thoughtworks.go.config.materials.git.GitMaterialConfig::URL, :css_class => "form_error") %>
</div>
<div class="form_item_block">
  <label>Username</label>
  <%= scope[:form].text_field(com.thoughtworks.go.config.materials.svn.SvnMaterialConfig::USERNAME, {:class => "form_input git_username", :id => nil}) -%>
  <%= error_message_on(scope[:material], com.thoughtworks.go.config.materials.svn.SvnMaterialConfig::USERNAME, :css_class => "form_error") %>
</div>

<%= render :partial => 'admin/materials/shared/plain_password', :locals => {:scope => {:form => scope[:form], :password_class => 'git_password'}} %>
<div class="form_item_block">
  <label>Branch</label>
  <%= scope[:form].text_field com.thoughtworks.go.config.materials.git.GitMaterialConfig::BRANCH, {:class => "form_input branch", :id => nil} -%>
  <%= error_message_on(scope[:material], com.thoughtworks.go.config.materials.git.GitMaterialConfig::BRANCH, :css_class => "form_error") %>
</div>

<%= render :partial => "admin/materials/shared/dest_folder", :locals => {:scope => {:form => scope[:form]}} %>

<%= render :partial => "admin/materials/shared/options", :locals => {:scope => {:form => scope[:form]}} %>

<div class="form_item_block checkbox_row material_options">
  <%= scope[:form].check_box(com.thoughtworks.go.config.materials.git.GitMaterialConfig::SHALLOW_CLONE, {:class => "form_input"}, "true") -%>
  <%= scope[:form].label(com.thoughtworks.go.config.materials.git.GitMaterialConfig::SHALLOW_CLONE, 'Shallow clone (recommended for large repositories)') %>
  <%= error_message_on(scope[:form].object, com.thoughtworks.go.config.materials.git.GitMaterialConfig::SHALLOW_CLONE, :css_class => "form_error") %>
</div>

<%= render :partial => "admin/materials/shared/filter", :locals => {:scope => {:form => scope[:form]}} %>

<%= render :partial => 'admin/materials/shared/check_connection', :locals => {:scope =>
                                                                                {:url => ".git_url",
                                                                                 :type => "git",
                                                                                 :branch => ".branch",
                                                                                 :username => ".git_username",
                                                                                 :password => ".git_password",
                                                                                 :encrypted_password => "false"}} %>
<%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>