<%#
  Copyright Thoughtworks, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<span class="hidereveal_expander"><%= scope[:message] %></span>
<% if scope[:jobs].size()>0 %>
    <ul class="hidereveal_content">
        <% scope[:jobs].each do |job_in_job_breakdown| %>
            <li class="job">
                <a class="" href="<%= url_for_job(job_in_job_breakdown) %>">
                    <div class="color_code_small <%= job_in_job_breakdown.getStatus() -%>">
                    </div>
                    <span class="wrapped_word"> <%= job_in_job_breakdown.getName() %> </span>
                </a>
                <% unless job_in_job_breakdown.isCompleted() %>
                    <%= render :partial => "elapsed_time", :locals=> {:scope => {:job => job_in_job_breakdown }} %>
                <% end %>
            </li>
        <% end %>
    </ul>
    <script type='text/javascript'>
        $(function() {
            AjaxRefreshers.main().afterRefreshOf('<%= scope[:parent_id] %>', (function() {
                make_collapsable('<%= scope[:parent_id] %>');
            }));
        });
    </script>
<% end %>
