<%#
  Copyright Thoughtworks, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<div class="jobs overview_widget" id="jobs">
    <h3>JOBS</h3>

    <div id="jobs_failed" class="job_grouping jobs_failed <%= "hidereveal_collapsed" unless @stage.nonPassedJobs().size() > 0 %>">
        <%= render :partial => "jobs_breakdown", :locals=> {:scope => {:message => "Failed: #{@stage.nonPassedJobs().size()}", :jobs => @stage.nonPassedJobs(), :parent_id=>"jobs_failed"}} %>
    </div>
    <div id="jobs_in_progress" class="job_grouping jobs_in_progress <%= "hidereveal_collapsed" unless @stage.inProgressJobs().size() > 0 %>">
        <%= render :partial => "jobs_breakdown", :locals=> {:scope => {:message => "In Progress: #{@stage.inProgressJobs().size()}", :jobs => @stage.inProgressJobs(), :parent_id=>"jobs_in_progress"}} %>
    </div>
    <div id="jobs_passed" class="job_grouping jobs_passed <%= "hidereveal_collapsed" unless (@stage.nonPassedJobs().size()==0 && @stage.inProgressJobs().size()==0) %>">
        <%= render :partial => "jobs_breakdown", :locals=> {:scope => {:message => "Passed: #{@stage.passedJobs().size()}", :jobs => @stage.passedJobs(), :parent_id=>"jobs_passed"}} %>
    </div>
</div>

<div class="materials_overview_wrapper">
    <%= render :partial => 'shared/build_cause', :locals => { :scope => {:overview => true, :material_revisions => @pipeline.getCurrentRevisions(), :show_files => false, :pipeline_name => @pipeline.getName(), :show_latest_only => true}} -%>
</div>
