<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang='en'>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=9">
  <%- @current_tab_name = "admin" -%>
  <%- @view_title = @view_title || "Administration" -%>
  <%= render :partial => "shared/head" %>
</head>
<body id="<%= page_name %>" class="<%= page_name %>" <%= render "shared/body_data_attrs" %>>
<div class="page-wrap">
  <div id="body_bg">
    <%= render :partial => "shared/header" %>

    <div id='body_content'>
      <div class="messaging_wrapper" id="messaging_wrapper">
        <%= render :partial => "shared/flash_message" %>
        <%= render :partial => "shared/config_save_actions", :locals => {:scope => {}} -%>
      </div>

      <div class="page_header">
        <div class="row">
          <h1 id="page-title" class="entity_title">Config XML</h1>
        </div>
      </div>

      <% unless @config_valid %>
          <%== flash_message_pane_start("config_error", false) %>
          <p class="warning">Invalid config on disk. Displaying the last known valid config (Editing config through Go will overwrite the invalid copy. Edit it on disk to fix this problem).</p>
          <%== flash_message_pane_end %>
      <% end %>

      <%== content_wrapper_tag %>
      <div class="row">
        <div class="sub_tab_container_content admin-tab-contents">
          <div id="tab-content-of-<%= @tab_name -%>">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= end_content_wrapper %>
<%= render :partial => 'navigation_elements/footer' %>
</body>
</html>
