<%#
  Copyright Thoughtworks, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render :partial => "shared/head" %>
</head>
<body id="<%= page_name %>" class="<%= page_name %>" <%= render "shared/body_data_attrs" %>>
<div class="page-wrap">
  <div id="body_bg">
    <div id="body_bg_highlight">
      <div id="body_wrapper">
        <%= render :partial => "shared/header" %>
        <%
           show_stage_history_widget = !['pipeline', 'stats'].include?(params[:action])
        -%>

        <div id='body_content' class="<%= show_stage_history_widget ? "two_col" : "one_col" %>">
          <div class="messaging_wrapper" id="messaging_wrapper">
            <%= render :partial => "shared/flash_message" %>
          </div>

          <div id="pipeline_header">
              <%= render :partial => "pipelines/pipeline_header", :locals => {:scope => {}} %>

          </div>

          <%= content_wrapper_tag %>
          <div class="row">
            <div id="pipeline_status_bar" class="pipeline_flow">
              <%= render :partial => "pipelines/status_bar", :locals => {:scope => {:pipeline => @pipeline, :current_config_version => @current_config_version, :stage_config_version => @stage.getStage().getConfigVersion()}} %>
            </div>
            <div class="page_title_bar">
              <%
                 page_status_bar_class = 'state_'
                 if !@stage.nil? && !@stage.getState().nil?
                   page_status_bar_class += @stage.getState().to_s
                 end
              %>
              <div id="page_status_bar" class="page_status_bar <%= page_status_bar_class %>">
                <% if @show_stage_status_bar %>
                    <%= render :partial => "stages/status_bar" %>
                <% end %>
              </div>
            </div>
            <div class="page_nav">
            </div>
            <div class="rail">
              <% if show_stage_history_widget %>
                  <div id="stage_history" class="stage_history overview_widget">
                    <%= render :partial => "stages/stage_history", :locals => {:scope => {:stage_history_page => @stage_history_page, :tab => params[:action], :current_stage_pipeline => @pipeline, :current_config_version => @current_config_version}} %>
                  </div>
                  <input type="hidden" id="stage-history-page" value="<%= @stage_history_page.currentPage() %>"/>
              <% end %>
            </div>

            <div class="content">
              <%= yield %>
            </div>
          </div>
          <%= end_content_wrapper %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => 'navigation_elements/footer' %>

</body>
</html>

