<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="gocd-params"
        data-timezone="<%= server_timezone %>"
        data-page-refresh-interval="<%= spa_refresh_interval %>"
        data-page-timeout="<%= spa_timeout %>">

  <title><%= @view_title %> - Go</title>

  <link rel="shortcut icon" href="<%= asset_path('cruise.ico') %>"/>
  <%= stylesheet_link_tag 'frameworks' %>
  <%= stylesheet_link_tag "single_page_apps/#{controller_name}" %>

  <% webpack_assets_service.getJSAssetPathsFor("single_page_apps/polyfill", "single_page_apps/#{controller_name}", "single_page_apps/header_footer_shim").each do |js| %>
    <script src=<%= "#{js}" %>></script>
  <% end %>
  <%= stylesheet_link_tag *webpack_assets_service.getCSSAssetPathsFor("single_page_apps/header_footer_shim") %>

  <%= csrf_meta_tags %>
</head>

<body data-controller-name="<%= controller_name %>"
      data-current-gocd-version="<%= com.thoughtworks.go.CurrentGoCDVersion.getInstance().getGocdDistVersion() %>"
      data-action-name="<%= action_name %>"
      id="<%= controller_name %>-page" <%= render "shared/body_data_attrs" %>>
<div class="page-wrap">
  <%= render :partial => 'new_navigation_elements/navigation' %>

  <main class="main-container">
    <%= yield %>
  </main>

</div>
<%= render :partial => 'new_navigation_elements/footer' %>

</body>
</html>
