<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang='en'>


<head>
  <%= render :partial => "shared/head" %>
  <%= javascript_include_tag *webpack_assets_service.getJSAssetPathsFor("single_page_apps/polyfill", "single_page_apps/stage_overview_shim_for_vsm") %>
  <%= stylesheet_link_tag *webpack_assets_service.getCSSAssetPathsFor("single_page_apps/new_dashboard") %>
  <%= stylesheet_link_tag *webpack_assets_service.getCSSAssetPathsFor("single_page_apps/stage_overview_shim_for_vsm") %>
</head>
<body id="<%= page_name %>" class="<%= page_name %>" <%= render "shared/body_data_attrs" %>>
<div class="page-wrap">
  <div id="body_bg" class="vsm">
    <%= render :partial => "shared/header" %>

    <div id='body_content'>
      <%= yield %>
    </div>

    <div class='pan' style='display: none;'>
      <div class="constrainer">
        <div class='knob'></div>
      </div>
      <canvas id='canvas'></canvas>
    </div>
  </div>
</div>
  <%= render :partial => 'navigation_elements/footer' %>

<div id='pre-loader-overlay'>
  <div class='loading'></div>
</div>
</body>
</html>

