<div id="pipelines_form" class="form_content hidereveal_collapsed" >
        <% if (scope[:available_pipelines].empty?)  && (scope[:unavailable_pipelines].empty?) && (scope[:remote_pipelines].empty?) %>
                <%= l.string("NO_PIPELINES") %>
        <% else %>

          <div class="pipeline_list">
            <% if scope[:available_pipelines].empty? %>
                <div class="information"><%= l.string("NO_AVAILABLE_PIPELINES") -%></div>
            <%else%>
                <span class="available_pipelines"><%= l.string("SHOW_AVAILABLE_PIPELINES") -%></span>
            <%end%>
            <div class="input">
                 <% selected_pipeline_names = scope[:environment].pipelines.map(&:name).map(&:to_s)
                    scope[:available_pipelines].each do |available_pipeline| %>
                           <div class="pipeline_selector">
                                <%= check_box_tag "environment[pipelines][][name]", available_pipeline.getPipelineName(), available_pipeline.isAssociatedWithEnvironment(scope[:environment].name.to_s) || selected_pipeline_names.include?(available_pipeline.getPipelineName()),
                                                  :id => "pipeline_#{available_pipeline.getPipelineName()}"-%>
                                <label for="pipeline_<%= available_pipeline.getPipelineName() -%>" class="label inline"><%= available_pipeline.getPipelineName() -%></label>
                            </div>
                 <% end %>
            </div>
            <% if !scope[:remote_pipelines].empty? %>
                <div class="available_pipelines"><%= l.string("SHOW_UNAVAILABLE_REMOTE_PIPELINES") -%></div>
                <div class="input">
                     <% scope[:remote_pipelines].each do |remote_pipeline| %>
                               <div class="pipeline_selector">
                                    <%= check_box_tag "environment[pipelines][][name]", remote_pipeline.getPipelineName(), remote_pipeline.isAssociatedWithEnvironment(scope[:environment].name.to_s),
                                                      :disabled => true,:id => "pipeline_#{remote_pipeline.getPipelineName()}"-%>
                                    <label for="pipeline_<%= remote_pipeline.getPipelineName() -%>" class="label inline"><%= remote_pipeline.getPipelineName() -%></label>
                                </div>
                     <% end %>
                </div>
            <% end %>
            <% if !(scope[:unavailable_pipelines].empty?) %>
                <a id="show_unavailable_pipelines" class="hidereveal_expander"><%= l.string("SHOW_UNAVAILABLE_PIPELINES") -%></a>
                <div class="unavailable_pipelines hidereveal_content">
                     <%  scope[:unavailable_pipelines].each do |unavailable_pipeline| %>
                         <label class="label"><%= unavailable_pipeline.getPipelineName() -%> (<%= unavailable_pipeline.getEnvironmentName() -%>)</label>
                     <% end %>
                </div>
            <% end %>
          </div>
        <% end %>
</div>



<script type="text/javascript">
    Util.on_load(function() {
      make_collapsable("pipelines_form");
    });
</script>
