<div class="form_content">
  <div class="environment_variables_section popup_form">

    <div class="plain-text-variables">
      <h3><%= l.string("ENVIRONMENT_VARIABLES") %></h3>
      <table class="variables">
        <tbody>
        <% scope[:form].object.getPlainTextVariables().each do |variable| -%>
          <%= scope[:form].fields_for :variables, variable, :index => "" do |var_form| %>
            <%= render :partial => "environment_variable_entry", :locals => {:scope => {:var_form => var_form, :is_secure => false, :is_changed => false, :disabled => variable.isRemote()}} -%>
          <% end %>
        <%- end -%>
        </tbody>
      </table>
      <a class="add_item"><%= l.string("ADD") -%></a>
      <table style="display: none;">
        <tbody class="template">
        <%= scope[:form].fields_for :variables, :index => "" do |var_form| -%>
          <%= render :partial => "environment_variable_entry", :locals => {:scope => {:var_form => var_form, :is_secure => false, :is_changed => true}} -%>
        <%- end -%>
        </tbody>
      </table>
    </div>

    <div class="secure-variables">
      <h3><%= l.string("SECURE_ENVIRONMENT_VARIABLES") %></h3>
      <table class="variables">
        <tbody>
        <% scope[:form].object.getSecureVariables().each do |variable| -%>
          <%= scope[:form].fields_for :variables, variable, :index => "" do |var_form| %>
            <%= render :partial => "environment_variable_entry", :locals => {:scope => {:var_form => var_form, :is_secure => true, :is_changed => false,:is_readonly =>true, :disabled => variable.isRemote()}} -%>
          <% end %>
        <%- end -%>
        </tbody>
      </table>
      <a class="add_item"><%= l.string("ADD") -%></a>
      <table style="display: none;">
        <tbody class="template">
        <%= scope[:form].fields_for :variables, :index => "" do |var_form| -%>
          <%= render :partial => "environment_variable_entry", :locals => {:scope => {:var_form => var_form, :is_secure => true, :is_changed => true}} -%>
        <%- end -%>
        </tbody>
      </table>
    </div>

  </div>
</div>
<script type="text/javascript">
  (function ($) {
    $(function () {
      EnvironmentVariableEdit({tableRowSelector: '.environment-variable-edit-row'});
      EnvironmentVariableAddRemove($('.secure-variables'));
      EnvironmentVariableAddRemove($('.plain-text-variables'));
    });
  })(jQuery);
</script>
