<tr class="environment-variable-edit-row">

  <td class="name_value_cell">
    <%= scope[:var_form].text_field :name, :class => 'form_input environment_variable_name', :disabled => scope[:disabled], :id => nil -%>
  </td>

  <td class="name_value_cell">
    <span class="equals_sign"><%= l.string('EQUALS_SIGN') -%></span>
  </td>

  <td class="name_value_cell">
    <% if scope[:is_secure] %>
      <%= scope[:var_form].password_field :valueForDisplay, :class => 'form_input environment_variable_value', :id => nil, :disabled => scope[:disabled], :readonly => scope[:is_readonly] ? 'readonly' : nil, :autocomplete => 'off'-%>
      <%= scope[:var_form].hidden_field :secure, value: true -%>
      <% if scope[:var_form].object %>
        <%= scope[:var_form].hidden_field :originalValue, value: scope[:var_form].object.getValueForDisplay, class: "original-secure-variable-value" -%>
      <% end %>
      <%= scope[:var_form].hidden_field com.thoughtworks.go.config.EnvironmentVariableConfig::ISCHANGED, value: scope[:is_changed], :class => "is-changed-field" -%>
    <% else %>
      <%= scope[:var_form].text_field :valueForDisplay, :class => 'form_input environment_variable_value', :disabled => scope[:disabled], :id => nil -%>
    <% end %>
  </td>

  <td class="name_value_cell cell_edit_reset_actions">
    <% if scope[:is_secure] %>
      <%= link_to 'Edit', '#', :class => 'edit' -%>
      <%= link_to 'Reset', '#', :class => 'reset hidden' -%>
    <% end %>
  </td>

  <td class="name_value_cell icon_remove_cell">
    <% if !scope[:disabled] %>
      <span class="icon_remove delete_parent"></span>
    <% end %>
    <span class="wizard_error_message"></span>
  </td>

</tr>
