<span id="add_error_message"></span>
<div class="environment">
    <%= content_wrapper_tag %>
    <%= form_for(scope[:environment], {as: :environment, url: scope[:form_action], html: {method: scope[:form_method]}}) do |f| %>
    <div id="add_new_environment">
        <div class="wizard_form">


            <div class="steps_wrapper sub_tabs_container">
                <ul class="tabs">
                    <li id="step1_link" class="current_tab">
                        <a href="#">
                            <div><%= l.string("WIZARD_STEP", [1]) -%></div><%= l.string("NAME") -%></a>
                        <a href="#" class="tab_button_body_match_text">env-name</a></li>
                    <li id="step2_link" class="subsequent_tab">
                        <a href="#">
                            <div><%= l.string("WIZARD_STEP", [2]) -%></div><%= l.string("ADD_PIPELINES") -%></a>
                        <a href="#" class="tab_button_body_match_text">env-pipelines</a></li>
                    <li id="step3_link" class="subsequent_tab">
                        <a href="#">
                            <div><%= l.string("WIZARD_STEP", [3]) -%></div><%= l.string("ADD_AGENTS") -%></a>
                        <a href="#" class="tab_button_body_match_text">env-agents</a></li>
                    <li id="step4_link" class="subsequent_tab"><a href="#">
                        <div><%= l.string("WIZARD_STEP", [4]) -%></div><%= l.string("ADD_ENV_VARIABLES") -%></a>
                        <a href="#" class="tab_button_body_match_text">env-vars</a></li>
                </ul>
            </div>

            <div class="steps_panes panes sub_tab_container_content">
                <!-- Name tab -->
                <div id="tab-content-of-env-name">
                   <h2 class="section_title"><%= l.string('Environment Name') -%></h2>
                    <div class="form_content">
                        <div class="environment_name">
                            <%= f.text_field :name, :id => "environment_name", :maxLength => 255, :class => "width-medium" -%>
                        </div>
                    </div>
                    <div class="form_buttons actions">
                        <button class="left submit cancel_button"><span><%= l.string('CANCEL') -%></span></button>
                        <button id="next_to_name" class="right primary next submit"><span><%= l.string('NEXT_BUTTON') -%></span></button>
                        <%= submit_button("Finish", :class => 'primary finish') %>
                    </div>
                </div>

                <!-- Add pipelines tab -->
                <div id="tab-content-of-env-pipelines">
                   <h2 class="section_title"><%= l.string('PIPELINES_TO_ADD') -%></h2>
                    <%= render :partial => "edit_pipelines.html", :locals => {:scope => {:environment => scope[:environment], :available_pipelines => scope[:available_pipelines],:remote_pipelines => scope[:remote_pipelines], :unavailable_pipelines => scope[:unavailable_pipelines]}} %>
                    <div class="form_buttons actions">
                        <button class="left submit cancel_button"><span><%= l.string('CANCEL') -%></span></button>
                        <button id="next_to_pipelines" class="right primary next submit"><span><%= l.string('NEXT_BUTTON') -%></span></button>
                        <%= submit_button("Finish", :class => 'primary finish') %>
                    </div>
                </div>

                <!-- Add agents tab -->
                <div id="tab-content-of-env-agents">
                   <h2 class="section_title"><%= l.string('AGENTS_TO_ADD') -%></h2>
                    <%= render :partial => "edit_agents.html", :locals => {:scope => {:environment => scope[:environment], :agents => scope[:agents]}} %>
                    <div class="form_buttons actions">
                        <button class="left submit cancel_button"><span><%= l.string('CANCEL') -%></span></button>
                        <button id="next_to_agents" class="right primary next submit"><span><%= l.string('NEXT_BUTTON') -%></span></button>
                        <%= submit_button("Finish", :class => 'primary finish') %>
                    </div>
                </div>

                <!-- Add env var tab -->
                <div id="tab-content-of-env-vars">
                   <h2 class="section_title"><%= l.string("ENV_VAR_TO_ADD") -%></h2>
                    <%= render :partial => "edit_environment_variables.html", :locals => {:scope => {:form => f}} %>
                    <div class="form_buttons actions">
                        <button class="left submit cancel_button"><span><%= l.string('CANCEL') -%></span></button>
                        <%= submit_button("Finish", :class => 'primary finish') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    <%= end_content_wrapper %>
</div>
<script type="text/javascript">
    Util.on_load(function() {
        function setupEnvNameForm(finish_button) {
            var tabs_after_env_name = jQuery('.subsequent_tab');
            var env_name_field = jQuery("#environment_name");
            var next_to_name = $("next_to_name");
            var finish_button = $(finish_button.get(0));

            function fixFurtherActions() {
                var val = env_name_field.val();
                if (jQuery.trim(val) === "") {
                    tabs_after_env_name.addClass("disabled");
                    Util.disable(finish_button);
                    Util.disable(next_to_name);
                } else {
                    tabs_after_env_name.removeClass("disabled");
                    Util.enable(finish_button);
                    Util.enable(next_to_name);
                }
            }

            env_name_field.change(fixFurtherActions);
            env_name_field.blur(fixFurtherActions);
            env_name_field.mouseup(fixFurtherActions);
            env_name_field.mousedown(fixFurtherActions);
            env_name_field.mouseover(fixFurtherActions);
            env_name_field.mouseout(fixFurtherActions);
            env_name_field.keyup(fixFurtherActions);
            env_name_field.click(fixFurtherActions);
            fixFurtherActions();
        }


       var finish_button = jQuery(".finish");
        setupEnvNameForm(finish_button);

        var tab_manager = new TabsManager("env-name", 'environment_form', 'new-environment');
        var adminWizard = new TabsWizard.EnvironmentWizard(tab_manager);
        adminWizard.wireButtons({next_to_name: "env-pipelines", next_to_pipelines: "env-agents", next_to_agents: "env-vars"});
        adminWizard.hookupCancel("cancel_button", "<%= environments_path -%>");
    });
</script>
