<%- @view_title = l.string("SHOW_ENVIRONMENT_PAGE_TITLE", [@environment.name()]) -%>
<%- @show_environment_breadcrumb = true %>
<%= content_wrapper_tag %>
<div class="environment show_environment">
    <div>
        <div class="added_item added_pipelines">
            <h3>
                <%= l.string("PIPELINES") %>
                <button value="Edit View" type="button" id="edit_pipelines" class="submit"><span><%= l.string("EDIT") %></span></button>
            </h3>
            <ul>
                <%- @environment.getPipelineNames().each do |pipelineName| -%>
                    <li><%= pipelineName -%></li>
                <%- end -%>
            </ul>
        </div>
        <div class="added_item added_agents">
            <h3>
                <%= l.string("AGENTS") %>
                <button value="Edit View" type="button" id="edit_agents" class="submit"><span><%= l.string("EDIT") %></span></button>
            </h3>
            <ul>
                <%- @agent_details.each do |agent| -%>
                    <%= content_tag "li", "#{agent.getHostname()} (#{agent.getIpAddress()})", :title => agent.getLocation() -%>
                <%- end -%>
            </ul>
        </div>
        <div class="added_item added_environment_variables">
            <h3>
                <%= l.string("ENVIRONMENT_VARIABLES") %>
                <button value="Edit View" type="button" id="edit_environment_variables" class="submit"><span><%= l.string("EDIT") %></span></button>
            </h3>
            <ul>
                <%- @environment.getVariables().each do |var| -%>
                    <li><%= h(var.getName()) %> = <%= h(var.getValue()) -%></li>
                <%- end -%>
            </ul>
        </div>

    </div>
</div>
<%= end_content_wrapper %>
<script type="text/javascript">
    Util.on_load(function() {
        jQuery('#edit_pipelines').click(function() {
            Util.ajax_modal("<%= environment_edit_pipelines_path -%>", {width: 805, title: <%= l.string("PIPELINES_POPUP_TITLE").to_json -%>});
        });
        jQuery('#edit_agents').click(function() {
            Util.ajax_modal("<%= environment_edit_agents_path -%>", {width: 800, title: <%= l.string("AGENTS_POPUP_TITLE").to_json -%>});
        });
        jQuery('#edit_environment_variables').click(function() {
            Util.ajax_modal("<%= environment_edit_variables_path -%>", {width: 800, title: <%= l.string("ENVIRONMENT_VARIABLES").to_json -%>});
        });
        AjaxForm.error_box_selector = '#env_form_error_box';
    });
</script>