<% @view_title = "Edit Pipeline Group" -%>

<div class="admin_workspace">
    <%= form_for(@group, :as => :group, :url => pipeline_group_update_path, :html => {:method => "PUT", :id => "group_edit_form"}) do |f| %>

        <div class="form_content">
            <h3><%= l.string("BASIC_SETTINGS") -%></h3>

            <div class="fieldset">
                <%= md5_field %>
                <%== required_label(f, com.thoughtworks.go.config.PipelineConfigs::GROUP, l.string("PIPELINE_GROUP_NAME")) -%>
                <%= f.text_field com.thoughtworks.go.config.PipelineConfigs::GROUP, {:class => "form_input", :readonly => @group.hasRemoteParts()} -%>
                <%= error_message_on(@group, com.thoughtworks.go.config.PipelineConfigs::GROUP, :css_class => "form_error") %>
                <div class="clear"></div>
            </div>

            <div class="permissions">

                    <h3> <%= l.string("USER_PERMISSIONS") -%> </h3>
                    <span title="<%= l.string("TOOLTIP_PIPELINE_GROUP_PERMISSIONS") -%>" class="contextual_help has_go_tip_right"></span>

                    <div class="instructions">
                        <%= l.string("PIPELINE_GROUP_USER_PERMISSION_MESSAGE") -%>
                    </div>
                    <div class="fieldset user_permissions_for_group">
                        <%= render :partial => 'permissions_table',
                                   :locals => {:scope => {:permissions => @group.getAuthorization().getUserAuthorizations(), :permission_type => com.thoughtworks.go.config.Authorization::UserType::USER, :f => f, :autocomplete_suggestions => @autocomplete_users}} %>
                         <div class="clear"></div>
                    </div>

                    <h3> <%= l.string("ROLE_PERMISSIONS") -%> </h3>
                    <span title="<%= l.string("TOOLTIP_PIPELINE_GROUP_PERMISSIONS") -%>" class="contextual_help has_go_tip_right"></span>
                    <div class="fieldset role_permissions_for_group">
                        <%= render :partial => 'permissions_table',
                                   :locals => {:scope => {:permissions => @group.getAuthorization().getRoleAuthorizations(), :permission_type => com.thoughtworks.go.config.Authorization::UserType::ROLE, :f => f, :autocomplete_suggestions => @autocomplete_roles}} %>
                         <div class="clear"></div>
                    </div>


            </div>
        </div>
        <%= render :partial => "admin/shared/form_submit", :locals => {:scope => {:reset_url => pipeline_group_edit_path}} %>

    <% end %>

</div>
<script type="text/javascript">
    Util.on_load(function() {
        var groupPermissions = new GroupPermissions("<%=com.thoughtworks.go.config.Authorization::PrivilegeState::ON-%>",
                "<%=com.thoughtworks.go.config.Authorization::PrivilegeState::OFF-%>",
                "<%=com.thoughtworks.go.config.Authorization::PrivilegeState::DISABLED-%>");

        groupPermissions.bindFromHiddenField();
        groupPermissions.bindHandlers();
    });
</script>

<%= render :partial => "admin/shared/dirty_form", :locals => {:scope => {:form_id => 'group_edit_form', :reset_id => "reset_form"}} %>
<%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>
