<div id="new_pipeline_group_container">
    <%= render(:partial => "shared/flash_message") %>
    <%= render :partial => "shared/config_save_actions", :locals => {:scope => {}} -%>
    <%= form_for(@group,
                :as => :group,
                :method => :post,
                :url => pipeline_group_create_path,
                :html => {:method => "POST", :onsubmit => "return AjaxForm.jquery_ajax_submit(this);", :class => "popup_form"}) do |f| %>
        <%= md5_field %>
        <div class="form_content">
            <%= render :partial => "admin/shared/global_errors.html", :locals => {:scope => {}} -%>
            <h3><%= l.string("BASIC_SETTINGS") -%></h3>

            <div class="fieldset">
                <div class="form_item_block required">
                    <%= f.label com.thoughtworks.go.config.PipelineConfigs::GROUP, required_label_text(l.string("PIPELINE_GROUP_NAME")) %>
                    <%= f.text_field com.thoughtworks.go.config.PipelineConfigs::GROUP %>
                    <%= error_message_on(@group, com.thoughtworks.go.config.PipelineConfigs::GROUP, :css_class => "form_error") %>
                </div>
            </div>
			<%= render :partial => "shared/form_required_message.html" %>
        </div>
        <%= render :partial => "shared/form_buttons.html", :locals => {:scope => {:submit_label => "SAVE"}} %>
        <%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>
    <% end %>
</div>