<div id="search_users_table" class='users_table'>
    <table class='list_table'>
        <tr class='user_header'>
            <th class="select">Select</th>
            <th class='username'>User Name</th>
            <th class='fullname'>Full Name</th>
            <th class='email'>Email Address</th>
            <th class='source'>Source</th>
        </tr>
        <% scope[:users].each do |user_search_model| %>
            <tr class='user'>
                <td>
                    <%- scope[:user] = user_search_model.getUser() -%>
                    <%- scope[:selection_field] = random_dom_id("selection_button_user_#{sanitize_for_dom_id(scope[:user].getName())}") -%>
                    <%- scope[:name_field] = random_dom_id("name_user_#{sanitize_for_dom_id(scope[:user].getName())}") -%>
                    <%- scope[:full_name_field] = random_dom_id("display_name_user_#{sanitize_for_dom_id(scope[:user].getDisplayName())}") -%>
                    <%- scope[:email_field] = random_dom_id("email_user_#{sanitize_for_dom_id(scope[:user].getName())}") -%>
                    <input type="radio" id="<%= scope[:selection_field] -%>" name="selection"/>

                    <input type="hidden"
                           id="<%= scope[:name_field] -%>"
                           name="selections[][name]"
                           value ="<%= scope[:user].getName() -%>"
                           disabled="disabled"/>
                    <input type="hidden"
                           id="<%= scope[:full_name_field] -%>"
                           name="selections[][full_name]"
                           value ="<%= scope[:user].getDisplayName() -%>"
                           disabled="disabled"/>
                    <input type="hidden"
                           id="<%= scope[:email_field] -%>"
                           name="selections[][email]"
                           value ="<%= scope[:user].getEmail() -%>"
                           disabled="disabled"/>
                </td>
                <%= cell_with_title(h(user_search_model.getUser().getName()), 'fullname') %>
                <%= cell_with_title(h(user_search_model.getUser().getDisplayName()), 'username') %>
                <%= cell_with_title(h(user_search_model.getUser().getEmail()), 'email') %>
                <%= cell_with_title(h(user_search_model.getUserSourceType().displayString()), 'source') %>
            </tr>
        <% end %>
    </table>
  <script type="text/javascript">
    jQuery('input[name=selection]').change(function (event) {
      let selectedInput = event.currentTarget || event.target;
      let parentElement = jQuery(selectedInput.parentElement);
      let nameField = parentElement.find("input[name='selections[][name]']")[0].id;
      let fullNameField = parentElement.find("input[name='selections[][full_name]']")[0].id;
      let emailField = parentElement.find("input[name='selections[][email]']")[0].id;
      Util.disable_all_hidden_fields("#search_users_table");
      Util.disable_or_enable_submittable_fields([nameField, fullNameField, emailField])(selectedInput);
    });

  </script>
</div>