<%== form_remote_tag_new(:url => users_search_path, :update => {
        :success => "search_results_container"
}, :before => "jQuery('#search_id').addClass('ac_loading');",
                    :complete => "jQuery('#search_id').removeClass('ac_loading');"
    ) %>
<div class="user_search_box form_item ">
    <p>
        <label for="search_text"><%= l.string("SEARCH_FOR_USERS") %></label>
        <%== text_field_tag "search_text", nil, :maxLength => 400, :class => "searchbox", :id => "search_id"-%>
        <%== submit_button(l.string('Search'), :id => 'search_user_submit', :class => 'primary') %>
    </p>
</div>
<%== end_form_tag %>
<%== form_remote_tag_new(:url => users_create_path,
                    :update => {
                            :success => "tab-content-of-user-listing"
                    },
                    :failure => "Util.refresh_child_text('add_error_message', request.responseText, 'error');",
                    :success => "Modalbox.hide();Util.refresh_child_text('message_pane', 'Added user successfully', 'success');") %>
<div id="search_results_container">
    <%= render :partial => 'admin/users/user_results_table', :locals => {:scope => {:users => [] }} %>
</div>
<div class="actions">
    <%== submit_button(l.string('Add Users'), :id => 'submit_add_user', :class => 'primary') %>
    <%== submit_button(l.string('Close'), :id => 'close_add_user', :type => 'button') %>
</div>
<%== end_form_tag %>

<script type='text/javascript'>
    Util.on_load(function() {
        $("close_add_user").observe("click", function() {
            Modalbox.hide();
        });
    });
</script>
