<%= render(:partial => "shared/flash_message") %>
<%= render :partial => "shared/config_save_actions", :locals => {:scope => {}} -%>
<%= form_for(scope[:material],
            :as => :material, :url => scope[:url],
            :html => {:method => scope[:method],
                      :onsubmit => "return AjaxForm.jquery_ajax_submit(this);",
                      :class => "popup_form"}) do |f| %>
    <%= md5_field %>
    <%= current_tab_field("materials") -%>
    <div class="form_content change_materials">
        <%= render :partial => "admin/shared/global_errors.html", :locals => {:scope => {}} -%>
        <div class="fieldset">
            <div class="form_item">
                <div class="form_item_block">
                    <label><%= l.string('MATERIAL_NAME') -%></label>
                    <%= f.text_field com.thoughtworks.go.config.materials.AbstractMaterialConfig::MATERIAL_NAME, :class => "form_input", :id => nil -%>
                    <%= error_message_on(scope[:material], com.thoughtworks.go.config.materials.AbstractMaterialConfig::MATERIAL_NAME, :css_class => "form_error") %>
                </div>
                <div class="form_item_block required">
                    <label><%= l.string('PIPELINE') -%> <span class="autocomplete_stage">[<%= l.string('STAGE') -%>]</span><span class="asterisk"><%= l.string("REQUIRED_FIELD") -%></span></label>
                    <%= f.text_field com.thoughtworks.go.config.materials.dependency.DependencyMaterialConfig::PIPELINE_STAGE_NAME, :class => "form_input" -%>
                    <%= error_message_on(scope[:material], com.thoughtworks.go.config.materials.dependency.DependencyMaterialConfig::PIPELINE_STAGE_NAME, :css_class => "form_error") %>
                    <div class="autocomplete"></div>
                </div>
            </div>
            <%= render :partial => 'shared/form_required_message.html', :locals => {:scope => {}} %>

        </div>
    </div>
    <%= render :partial => 'admin/shared/dependency_auto_complete.html', :locals => {:scope => {:pipeline_stages_json => @pipeline_stages_json, :selector => "#material_pipelineStageName"}} %>
    <%= render :partial => "shared/form_buttons.html", :locals => {:scope => {:submit_label => scope[:submit_label]}} %>
<% end %>