<div class="form_item_block required">
    <%= required_label(scope[:form], com.thoughtworks.go.config.materials.git.GitMaterialConfig::URL, l.string('URL')) -%>
    <%= scope[:form].text_field com.thoughtworks.go.config.materials.git.GitMaterialConfig::URL, {:class => "form_input required git_url", :id => nil} -%>
    <%= error_message_on(scope[:material], com.thoughtworks.go.config.materials.git.GitMaterialConfig::URL, :css_class => "form_error") %>
</div>
<div class="form_item_block">
    <label><%= l.string('BRANCH') -%></label>
    <%= scope[:form].text_field com.thoughtworks.go.config.materials.git.GitMaterialConfig::BRANCH, {:class => "form_input branch", :id => nil} -%>
    <%= error_message_on(scope[:material], com.thoughtworks.go.config.materials.git.GitMaterialConfig::BRANCH, :css_class => "form_error") %>
</div>

<%= render :partial => "admin/materials/shared/options", :locals => {:scope => {:form => scope[:form]}} %>

<div class="form_item_block checkbox_row material_options">
  <%= scope[:form].check_box(com.thoughtworks.go.config.materials.git.GitMaterialConfig::SHALLOW_CLONE, {:class => "form_input"}, "true") -%>
  <%= scope[:form].label(com.thoughtworks.go.config.materials.git.GitMaterialConfig::SHALLOW_CLONE, l.string('SHALLOW_CLONE')) %>
  <%= error_message_on(scope[:form].object, com.thoughtworks.go.config.materials.git.GitMaterialConfig::SHALLOW_CLONE, :css_class => "form_error") %>
</div>

<%= render :partial => 'admin/materials/shared/check_connection', :locals => {:scope => {:url => ".git_url", :type => "git", :branch => ".branch"}} %>
<%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>