<div class="form_item_block required">
    <%= required_label(scope[:form], com.thoughtworks.go.config.materials.git.GitMaterialConfig::URL, l.string('URL')) -%>
    <%= scope[:form].text_field com.thoughtworks.go.config.materials.git.GitMaterialConfig::URL, {:class => "form_input required git_url", :omit_id_generation => true} -%>
    <%= error_message_on(scope[:material], com.thoughtworks.go.config.materials.git.GitMaterialConfig::URL, :css_class => "form_error") %>
</div>
<div class="form_item_block">
    <label><%= l.string('BRANCH') -%></label>
    <%= scope[:form].text_field com.thoughtworks.go.config.materials.git.GitMaterialConfig::BRANCH, {:class => "form_input", :omit_id_generation => true} -%>
    <%= error_message_on(scope[:material], com.thoughtworks.go.config.materials.git.GitMaterialConfig::BRANCH, :css_class => "form_error") %>
</div>

<%= render :partial => "admin/materials/shared/options", :locals => {:scope => {:form => scope[:form]}} %>
<%= render :partial => 'admin/materials/shared/check_connection', :locals => {:scope => {:url => ".git_url", :type => "git"}} %>

<%= render :partial => 'shared/convert_tool_tips.html', :locals => {:scope => {}} %>