<div class="form_item">

    <div class="form_item_block required">
        <%= required_label(scope[:form], com.thoughtworks.go.config.materials.svn.SvnMaterialConfig::URL, l.string('URL')) -%>
        <%= scope[:form].text_field com.thoughtworks.go.config.materials.svn.SvnMaterialConfig::URL, {:class => "form_input required svn_url", :id => nil} -%>
        <%= error_message_on(scope[:material], com.thoughtworks.go.config.materials.svn.SvnMaterialConfig::URL, :css_class => "form_error url") %>
    </div>
    <div class="form_item_block">
        <label><%= l.string('USERNAME') -%></label>
        <%= scope[:form].text_field(com.thoughtworks.go.config.materials.svn.SvnMaterialConfig::USERNAME, {:class => "form_input svn_username", :id => nil}) -%>
        <%= error_message_on(scope[:material], com.thoughtworks.go.config.materials.svn.SvnMaterialConfig::USERNAME, :css_class => "form_error") %>
    </div>

    <%= render :partial => 'admin/materials/shared/plain_password', :locals => {:scope => {:form => scope[:form], :password_class => 'svn_password'}} %>

    <%= render :partial => "admin/materials/shared/options", :locals => {:scope => {:form => scope[:form]}} %>

    <%= render :partial => 'admin/materials/shared/check_connection', :locals => {:scope => {:username => ".svn_username", :password => ".svn_password", :url => ".svn_url", :type => "svn", :encrypted_password => "false"}} %>
    <div class="clear"></div>
</div>
<%= render :partial => 'shared/form_required_message.html', :locals => {:scope => {}} %>
